<section class="tab background {{tabs.background.cssClass}}" data-group="{{tabs.background.group}}"
  data-tab="{{tabs.background.id}}">
  <h1 class="list-section-heading" style="color: white">
    {{localize "torgeternity.sheetLabels.backgroundAndNotes"}}
  </h1>

  <prose-mirror toggled name="system.description" {{disabled (not @root.editable)}}
    value="{{ document.system.description }}">{{{ enrichedDescription }}}</prose-mirror>
</section>