<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <h3 class="actor-type">
        <span>
            {{localize "torgeternity.sheetLabels.vehicle"}}
        </span>
    </h3>

    <nav class="sheet-tabs tabs vehicle" data-group="primary">
        <a class="item" data-tab="stats">{{localize "torgeternity.sheetLabels.stats"}}</a>
        <a class="item" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
        <a class="item" data-tab="description">{{localize "torgeternity.sheetLabels.description"}}</a>
    </nav>

    <header class="sheet-header-vehicle">
        <div class="vehicle-header-image"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /></div>
        <div class="vehicle-header-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Vehicle Name" size="50"/></div>
        <div class="vehicle-header-type">
            Type: 
            <select name="system.type" class="input-box">
                {{#select actor.system.type}}
                    {{#each config.vehicleTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            Wounds:
            <input name="system.wounds.current" type="number" value="{{actor.system.wounds.current}}" data-dtype="Number">
            /
            <input name="system.wounds.max" type="number" value="{{actor.system.wounds.max}}" data-dtye="Number">

        </div>
    </header>

    <section class="sheet-body">
        <div class="vehicle-tab" data-group="primary" data-tab="stats">
            
            <div>
                <table class="groove-borders">
                    <tr>
                        <th>
                            <a class="attribut-block">
                                {{localize "torgeternity.gear.techlevel"}}
                            </a>
                        </th>
                        <th>
                            <a class="attribut-block">
                                {{localize "torgeternity.gear.topspeed"}}
                            </a> 
                        </th>
                        <th>
                            <a class="attribut-block">
                                {{localize "torgeternity.gear.passengers"}}
                            </a>
                        </th>
                        <th>
                            <a class="attribut-block">
                                {{localize "torgeternity.gear.mr"}}
                            </a>
                        </th>
                        <th>
                            <a class="attribut-block">
                                {{localize "torgeternity.gear.toughness"}}
                            </a>
                        </th>
                        <th>
                            <a class="attribut-block">
                                {{localize "torgeternity.gear.armor"}}
                            </a>
                        </th>
                        <th>
                            <a class="attribut-block">
                                {{localize "torgeternity.gear.price"}}
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <td class="vehicle-stat">
                            <input name="system.axioms.tech" type="number" value="{{actor.system.axioms.tech}}" data-dtype="Number">                            
                        </td>
                        <td class="vehicle-stat">
                            <input name="system.topSpeed.kph" type="number" value="{{actor.system.topSpeed.kph}}" data-dtype="Number">
                            (
                            {{actor.system.topSpeed.value}}
                            )
                            {{#ifequal actor.system.topSpeed.penalty "-2"}}
                                {{localize "torgeternity.speeds.fast"}}
                            {{/ifequal}}
                            {{#ifequal actor.system.topSpeed.penalty "-4"}}
                                {{localize "torgeternity.speeds.veryFast"}}
                            {{/ifequal}}
                            {{#ifequal actor.system.topSpeed.penalty "-6"}}
                                {{localize "torgeternity.speeds.ultraFast"}}
                            {{/ifequal}}
                        </td>
                        <td class="vehicle-stat">
                            <input name="system.passengers" type="number" value="{{actor.system.passengers}}" data-dtype="Number">
                        </td>
                        <td class="vehicle-stat">
                            <input name="system.maneuver" type="number" value="{{actor.system.maneuver}}" data-dtype="Number">
                        </td>
                        <td class="vehicle-stat">
                            <input name="system.toughness" type="number" value="{{actor.system.toughness}}" data-dtype="Number">                            
                        </td>
                        <td class="vehicle-stat">
                            <input name="system.armor" type="number" value="{{actor.system.armor}}" data-dtype="Number">
                        </td>
                        <td class="vehicle-stat">
                            <input name="system.price.dollars" type="number" value="{{actor.system.price.dollars}}" data-dtype="Number">
                            <select name="system.price.magnitude" class="input-box">
                                {{#select actor.system.price.magnitude}}
                                    {{#each config.magnitudes as |name type|}}
                                        <option value="{{type}}">{{localize name}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                            (
                            {{actor.system.price.value}}    
                            )   
                        </td>
                    </tr>
                </table>
            </div>
            <h2>Operator</h2>
            <table class="groove-borders left-align">
                <tr>
                    <th>
                        Name <input name="system.operator.name" class="long-text" type="text" value="{{actor.system.operator.name}}" data-dtype="Text">                            
                        Skill <input name="system.operator.skillValue" type="number" value="{{actor.system.operator.skillValue}}" data-dtype="Number">
                        Defense {{actor.system.defense}}
                        <button class="operator-button"><i class="fas fa-dice-d20"></i>Chase</button>
                        <button class="operator-button"><i class="fas fa-dice-d20"></i>Maneuver</button>
                        <button class="operator-button"><i class="fas fa-dice-d20"></i>Collison</button>
                   </th>
                </tr>
            </table>
            <h2>Weapons</h2>
            <div class="item-list">
                <li class="vehicle-weapon-header">
                    <div class="image-header">

                    </div>
                    <div class="name-header">
                        Name
                    </div>
                    <div class="gunner-header">
                        Gunner
                    </div>
                    <div class="skill-header">
                        Skill
                    </div>
                    <div class="range-header">
                        Range
                    </div>
                    <div class="damage-header">
                        Dmg (AP)
                    </div>
                    <div class="controls-header">

                    </div>
                </li>
                {{#each heavyweapon as |item id|}}
                    <li class="item vehicle-weapon-list" data-item-id="{{item._id}}">
                        <div class="vehicle-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
                        <div class="name">{{item.name}}</div>
                        <div class="gunner">
                            {{item.system.gunner.name}}
                        </div>
                        <div class="skill">
                            {{item.system.gunner.skillValue}}
                        </div>
                        <div class="range">
                            {{item.system.range}}
                        </div>
                        <div class="damage">
                            {{item.system.damage}}  ( {{item.system.ap}} )
                        </div>
                        <div class="controls">
                            <a class="item-control item-attackRoll" title="{{localize 'torgeternity.iconeTitles.attackRoll'}}">
                                <i class="fas fa-dice-d20"></i>
                            </a>
                            <a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </div>
            <h2>Add-Ons</h2>
            <div class="item-list">
                <li class="add-on-header">
                    <div class="image-header">

                    </div>
                    <div class="name-header">
                        Name
                    </div>
                    <div class="description-header">
                        Description
                    </div>
                    <div class="controls-header">

                    </div>
                </li>
                {{#each vehicleAddOn as |item id|}}
                    <li class="item vehicle-add-on-list" data-item-id="{{item._id}}">
                        <div class="add-on-image">
                            <img src="{{item.img}}" title="{{item.name}}"/>
                        </div>
                        <div class="add-on-name">
                            {{item.name}}
                        </div>
                        <div class="add-on-description">
                            {{item.system.short-description}}
                        </div>
                        <div class="controls">
                            <a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                <i class="fas fa-comment"></i>
                            </a>
                            <a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </div>
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            <div class="effects block">
                {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
            </div>
        </div>

        <div class="tab vehicle-description" data-group="primary" data-tab="description">

            <h1 class="list-section-heading" style="color:white">
                {{localize "torgeternity.sheetLabels.description"}}
            </h1>
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}

        </div>


    </section>
</form>