<header class="combat-tracker-header">
  {{#if user.isGM}}

    {{!-- Encounter Controls --}}
    <nav class="encounters {{ css }}" aria-label="{{ localize " COMBAT.NavLabel" }}">

      {{!-- Cycle Display --}}
      {{#if displayCycle}}
        <button type="button" class="inline-control icon fa-solid fa-plus" data-action="createCombat"
          data-tooltip aria-label="{{ localize 'COMBAT.Create' }}"></button>

        <div class="cycle-combats">
          <button type="button" class="inline-control icon fa-solid fa-caret-left" data-action="cycleCombat"
            {{#if previousId}}data-combat-id="{{ previousId }}" {{else}}disabled{{/if}}
            data-tooltip aria-label="{{ localize 'COMBAT.EncounterPrevious' }}"></button>
          <div class="encounter-count">
            <span class="value">{{ currentIndex }}</span>
            <span class="separator">&sol;</span>
            <span class="max">{{ combats.length }}</span>
          </div>
          <button type="button" class="inline-control icon fa-solid fa-caret-right" data-action="cycleCombat"
            {{#if nextId}}data-combat-id="{{ nextId }}" {{else}}disabled{{/if}}
            data-tooltip aria-label="{{ localize 'COMBAT.EncounterNext' }}"></button>
        </div>

        <button type="button" class="inline-control icon fa-solid fa-gear" data-action="trackerSettings"
          data-tooltip aria-label="{{ localize 'COMBAT.Settings' }}"></button>

        {{!-- Tabbed Display --}}
      {{else if combats.length}}
        <button type="button" class="inline-control icon fa-solid fa-plus" data-action="createCombat"
          data-tooltip aria-label="{{ localize 'COMBAT.Create' }}"></button>
        {{#each combats}}
          <button type="button" class="inline-control {{#if active}}active{{/if}}" data-action="cycleCombat"
            data-combat-id="{{ id }}">
            {{ label }}
          </button>
        {{/each}}
        <button type="button" class="inline-control icon fa-solid fa-gear" data-action="trackerSettings"
          data-tooltip aria-label="{{ localize 'COMBAT.Settings' }}"></button>

        {{!-- No Combats --}}
      {{else}}
        <button type="button" class="combat-control-lg" data-action="createCombat">
          <i class="fa-solid fa-plus" inert></i>
          <span>{{ localize 'COMBAT.Create' }}</span>
        </button>

      {{/if}}
    </nav>

    <!--<nav class="encounters flexrow">
      <a class="combat-create" data-tooltip="{{localize 'COMBAT.Create'}}">
        <i class="fas fa-plus"></i>
      </a>
      {{#if combatCount}}
        <a class="combat-cycle" data-tooltip="{{localize 'COMBAT.EncounterPrevious'}}" {{#if
          previousId}}data-combat-id="{{previousId}}" {{else}}disabled{{/if}}>
          <i class="fas fa-caret-left"></i>
        </a>
        <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
        <a class="combat-cycle" data-tooltip="{{localize 'COMBAT.EncounterNext'}}" {{#if
          nextId}}data-combat-id="{{nextId}}"
          {{else}}disabled{{/if}}>
          <i class="fas fa-caret-right"></i>
        </a>
      {{/if}}
      <a class="combat-control" data-tooltip="{{localize 'COMBAT.Delete'}}" data-control="endCombat" {{#unless
        combatCount}}disabled{{/unless}}>
        <i class="fas fa-trash"></i>
      </a>
    </nav>-->
  {{/if}}

  {{#if combat.flags.torgeternity.activeCard}}
    <img src="{{combat.flags.torgeternity.activeCard}}" style="object-fit:contain">
  {{else}}
    <img src="{{localize 'torgeternity.combat.dramaBack'}}" style="object-fit:contain">
  {{/if}}
  <!-- <img src="systems/torgeternity/images/cards/drama-back.jpg" id="active-drama-card" style="object-fit:contain"> -->
  <nav class="encounters flexrow">
    {{#if user.isGM}}
      <a class="heros-first" data-tooltip="{{localize 'torgeternity.combat.herosTooltip'}}" {{#unless
        turns}}disabled{{/unless}}>
        <i class="fas fa-users" style="color:rgb(132, 132, 255)"></i>
      </a>
      <a class="vilains-first" data-tooltip="{{localize 'torgeternity.combat.vilainsTooltip'}}" {{#unless
        turns}}disabled{{/unless}}>
        <i class="fas fa-users" style="color:rgb(253, 148, 148)"></i>
      </a>
    {{/if}}
    <a class="dsr-counter" {{#unless turns}}disabled{{/unless}}>
      <span class="dsr-token">
        <span class="dsr-step">
          {{#if combat.flags.torgeternity.dsrStage}}
            {{localize "torgeternity.tokens.step"}}
          {{else}}
            {{localize "torgeternity.tokens.noDSR"}}
          {{/if}}
        </span>
        <span class="dsr-step-number">
          {{#if combat.flags.torgeternity.dsrStage}}
            &nbsp;{{combat.flags.torgeternity.dsrStage}}
          {{/if}}
        </span>
      </span>
    </a>

    <div class="encounter-controls {{#if hasCombat}}combat{{/if}}">

      {{!-- Bulk Rolls --}}
      <div class="control-buttons left flexrow">
        {{#if user.isGM}}
          <button type="button" class="inline-control combat-control icon fa-solid fa-users" data-action="rollAll"
            {{#unless combat.turns.length}}disabled{{/unless}} data-tooltip="COMBAT.RollAll"
            aria-label="{{ localize " COMBAT.RollAll" }}"></button>
          <button type="button" class="inline-control combat-control icon fa-solid fa-users-cog" data-action="rollNPC"
            {{#unless combat.turns.length}}disabled{{/unless}} data-tooltip="COMBAT.RollNPC"
            aria-label="{{ localize " COMBAT.RollNPC" }}"></button>
        {{else}}
          <div class="spacer"></div>
          <div class="spacer"></div>
        {{/if}}
      </div>

      {{!-- Combat Status --}}
      <strong class="encounter-title">
        {{#if combats.length}}
          {{#if combat.round}}
            {{ localize "COMBAT.Round" round=combat.round }}
          {{else}}
            {{ localize "COMBAT.NotStarted" }}
          {{/if}}
        {{else}}
          {{ localize "COMBAT.None" }}
        {{/if}}
      </strong>

      {{!-- Combat Controls --}}
      <div class="control-buttons right flexrow">
        <div class="spacer"></div>
        <button type="button"
          class="encounter-context-menu inline-control combat-control icon fa-solid fa-ellipsis-vertical"
          {{#unless (and user.isGM hasCombat)}}disabled{{/unless}}></button>
      </div>

    </div>

    <!--{{#if combatCount}} {{#if round}}
        <h3>{{localize 'COMBAT.Round'}} {{round}}</h3>
      {{else}}
        <h3>{{localize 'COMBAT.NotStarted'}}</h3>
      {{/if}}
    {{else}}
      <h3>{{localize "COMBAT.None"}}</h3>
    {{/if}} {{#if @root.user.isGM}}
      <a class="combat-control" data-tooltip="{{localize 'COMBAT.InitiativeReset'}}" data-control="resetAll" {{#unless
        hasCombat}}disabled{{/unless}}>
        <i class="fas fa-undo"></i>
      </a>
      <a class="combat-settings" data-tooltip="{{localize 'COMBAT.Settings'}}" data-control="trackerSettings">
        <i class="fas fa-cog"></i>
      </a>
    {{/if}}-->
  </nav>
</header>