<ol class="items-list effects-list">
	{{#each effects as |section sid|}}
	<li class="item-name effect-name flexrow" data-effect-type="{{section.type}}">
		<h3 class="item-name effect-name flexrow">{{localize section.label}}</h3>
		<div class="effect-source">{{localize "torgeternity.sheetLabels.source"}}</div>
		<div class="effect-source">{{localize 'torgeternity.powers.duration'}}</div>
		<div class="item-controls effect-controls flexrow">
			<a class="effect-control" data-action="create" title="{{localize 'torgeternity.sheetLabels.effectCreate'}}">
				<i class="fas fa-plus"></i>
				{{localize "torgeternity.sheetLabels.add"}}
			</a>
		</div>
	</li>

	<ol class="item-list">
		{{#each section.effects as |effect|}}
		<li class="item effect flexrow" data-effect-id="{{effect._id}}">
			<div class="item-name effect-name flexrow">
				<img class="item-image" src="{{effect.icon}}" />
				<h4>{{effect.name}}</h4>
			</div>
			<div class="effect-source">{{effect.sourceName}}</div>
			<div class="effect-duration">{{effect.duration.label}}</div>
			<div class="item-controls effect-controls flexrow">
				<a class="effect-control" data-action="toggle" title="{{localize 'torgeternity.iconeTitles.toggle'}}">
					<i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
				</a>
				<a class="effect-control" data-action="edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
					<i class="fas fa-edit"></i>
				</a>
				<a class="effect-control" data-action="delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
					<i class="fas fa-trash"></i>
				</a>
			</div>
		</li>
		{{/each}}
	</ol>
	{{/each}}
</ol>
