<div class="attack-card sheet-card" data-type="{{data.type}}" style="background-image: url('systems/torgeternity/images/bgparch.jpg')">
    <table style="border:none;background-color:transparent">
    <tr style="border:none">
        <td>
            <img class="actor-icon" src="{{img}}" title="{{name}}" style="width:50px;height:50px" />
        </td>
        <td class="chat-title" style="font-size:20px">
            Attack ({{name}})
        </td>
    </tr>
    </table>
    <div class="chat-text">
        <p>Skill value: {{skillValue}}</p>
        <p>{{bonus}}</p>
        <p>Result: {{result}}</p>
        <p>Base Damage:{{baseDamage}}</p> 
    </div>
</div>