<!--hbs preloaded but never used-->
<div
  class="bonus-card sheet-card"
  data-type="{{data.type}}"
  style="background-image: url('systems/torgeternity/images/bgparch.webp')"
>
  <table style="border:none;background-color:transparent">
    <tr style="border:none">
      <td>
        <img class="actor-icon" src="{{img}}" data-tooltip="{{name}}"/>
      </td>
      <td class="chat-title" style="font-size:20px">
        {{name}}
      </td>
    </tr>
  </table>
  <table class="chat-text" style="vertical-align:center; font-size:24px">
    <td>
      <span style="{{hideBonusFlag}};vertical-align:center">
        <img class="chat-bonus-die" src="/systems/torgeternity/images/bonus-i.webp" />
        x
        {{explosions}}
      </span>
      <img class="chat-bonus-die" src={{lastDieImage}} data-tooltip="bonus die" />
    </td>
    <td>
      +
      {{finalValue}}
      {{localize "torgeternity.chatText.bonus"}}
    </td>
  </table>
</div>*/