<div
  class="eternityshard-border sheet-card {{data.type}}"
  data-type="{{data.type}}"
>
  <div class="generalHeader">  
    <img src="{{img}}" title="{{name}}"/>      
    <span>
      {{name}}
    </span>
  </div>
  <div class="item-description-chat" data-item-id="{{_id}}">
    <div class="item-description-chat">{{{system.description}}}</div>
    <div class="item-dropdown-extras">
      {{system.cosm}}
    </div>
    <div class="item-dropdown-extras">
      {{localize "torgeternity.gear.tappingDifficultyAbbr"}}
      {{system.tappingDifficulty}}
    </div>
    <div class="item-dropdown-extras">
      {{localize "torgeternity.gear.poss"}}.
      {{system.possibilities}}
    </div>
  </div>

</div>