<div
  class="implant-border sheet-card {{data.type}}"
  data-type="{{data.type}}"
>
  <div class="generalHeader">  
    <img src="{{img}}" data-tooltip="{{name}}"/>      
    <span>
      {{name}}
    </span>
  </div>
  <div class="item-description-chat" data-item-id="{{_id}}">
    <div class="item-description-chat">{{{system.description}}}</div>
    <div class="item-dropdown-extras">
      {{system.cosm}}
    </div>
    <div class="item-dropdown-extras">
      {{system.price}}
      ({{system.value}})
    </div>
    <div class="item-dropdown-extras">
      {{localize "torgeternity.gear.tl"}}
      {{system.techlevel}}
    </div>
  </div>

</div>