<div class="perk-border sheet-card {{data.type}}" data-type="{{data.type}}" style="background-image: url('systems/torgeternity/images/bgparch.jpg')">
    <table style="border:none;background-color:transparent">
    <tr style="border:none">
        <td>
            <img class="perk-icon" src="{{img}}" title="{{name}}" style="width:50px;height:50px" />
        </td>
        <td class="perk-name-chat">
            {{name}}
        </td>
    </tr>
    </table>
    <div data-item-id="{{_id}}">
        <div class="perk-description-chat">{{data.description}}</div>
    </div>
</div>