<div
  class="perk-border sheet-card {{type}}"
  data-type="{{type}}"  
>
<div class="generalHeader">  
      <img src="{{img}}" title="{{name}}"/>      
      <span>
        {{name}}
      </span>
  </div>
  <div data-item-id="{{_id}}">
    <div class="item-description-chat">{{{system.description}}}</div>
  </div>
</div>