<div class="possibility-card sheet-card" data-type="{{data.type}}" style="background-image: url('systems/torgeternity/images/bgparch.jpg')">
    <table style="border:none;background-color:transparent">
    <tr style="border:none">
        <td>
            <img class="actor-icon" src="{{img}}" title="{{name}}" style="width:50px;height:50px" /> 
        </td>
        <td class="chat-title" style="font-size:20px">
            Possibility Roll
        </td>
    </tr>
    </table>
    <div class="chat-text">
        <p>Previous Roll Total: {{previousroll}}</p>
        <p>New Roll Total: {{newtotal}}</p>
        <p>{{newbonus}}</p>
    </div>
</div>