<nav class="sheet-tabs item-tabs tabs" data-group="primary">
  <a class="item" data-tab="stats">{{localize "torgeternity.sheetLabels.stats"}}</a>
  <a class="item" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
</nav>

<section class="sheet-body">
  <div class="tab stats" data-group="primary" data-tab="stats">
    <div class="sheet-content">
      <div class="asside">
        <p class="item-data-label">{{localize "torgeternity.powers.axiom"}}</p>
        <input name="system.axiom" type="number" value="{{item.system.axiom}}" class="input-box" />
        <p class="item-data-label">
          {{localize "torgeternity.powers.skill"}}/{{localize "torgeternity.powers.skilllevel"}}
        </p>
        <select name="system.skill" class="input-box">
          {{selectOptions config.powerSkills selected=item.system.skill localize=true sort=true}}
        </select>
        <input
          name="system.skilllevel"
          type="number"
          value="{{item.system.skilllevel}}"
          class="input-box"
        />
        <p class="item-data-label">{{localize "torgeternity.powers.dn"}}</p>
        <select name="system.dn" class="input-box">
          {{selectOptions config.dnTypes selected=item.system.dn localize=true sort=true}}
        </select>
        <p class="item-data-label">{{localize "torgeternity.powers.modifier"}}</p>
        <input
          name="system.modifier"
          type="number"
          value="{{item.system.modifier}}"
          class="input-box"
        />
        <p class="item-data-label">{{localize "torgeternity.powers.castingtime"}}</p>
        <input
          name="system.castingtime"
          type="text"
          value="{{item.system.castingtime}}"
          class="input-box"
        />
        <p class="item-data-label">{{localize "torgeternity.powers.range"}}</p>
        <input name="system.range" type="text" value="{{item.system.range}}" class="input-box" />
        <p class="item-data-label">{{localize "torgeternity.powers.duration"}}</p>
        <input
          name="system.duration"
          type="text"
          value="{{item.system.duration}}"
          class="input-box"
        />
        <p class="item-data-label">
          {{localize "torgeternity.powers.attack"}}? / {{localize "torgeternity.powers.damage"}} /
          {{localize "torgeternity.powers.ap"}}
        </p>
        <select name="system.isAttack" class="input-box-small" default="false">
          {{selectOptions config.yesNo selected=item.system.isAttack localize=true sort=true}}
        </select>
        <input
          name="system.damage"
          type="number"
          value="{{item.system.damage}}"
          class="input-box-small"
        />
        <input name="system.ap" type="number" value="{{item.system.ap}}" class="input-box-small" />
        <p class="item-data-label">
          {{localize "torgeternity.powers.applySize"}} / {{localize
          "torgeternity.powers.applyArmor"}}
        </p>
        <select name="system.applySize" class="input-box-small" default="false">
          {{selectOptions config.yesNo selected=item.system.applySize localize=true sort=true}}
        </select>
        <select name="system.applyArmor" class="input-box-small" default="false">
          {{selectOptions config.yesNo selected=item.system.applyArmor localize=true sort=true}}
        </select>
      </div>
      <div class="main-content">
        <p class="item-data-label">{{localize "torgeternity.gear.description"}}</p>
        <div name="system.description" class="item-description-textarea">
          {{editor description target="system.description" engine="prosemirror" button=true
          editable=editable}}
        </div>
        <p class="item-data-label">{{localize "torgeternity.sheetLabels.goodResult"}}</p>
        <div>
          <textarea name="system.good" class="item-description-textarea">
{{item.system.good}}</textarea
          >
        </div>
        <p class="item-data-label">{{localize "torgeternity.sheetLabels.outstandingResult"}}</p>
        <div>
          <textarea name="system.outstanding" class="item-description-textarea">
{{item.system.outstanding}}</textarea
          >
        </div>
      </div>
    </div>
  </div>
  <div class="tab effects" data-group="primary" data-tab="effects">
    {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
  </div>
</section>
