<div class="shield-border sheet-card {{data.type}}" data-type="{{data.type}}"
    style="background-image: url('systems/torgeternity/images/bgparch.webp')">
    <table style="border:none;background-color:transparent">
        <tr style="border:none">
            <td>
                <img class="perk-icon" src="{{img}}" title="{{name}}" style="width:50px;height:50px" />
            </td>
            <td class="chat-title">
                {{name}}
            </td>
        </tr>
    </table>
    <div class="item-description-chat" data-item-id="{{_id}}">
        <div class="item-description-chat">{{{data.description}}}</div>
        <div class="item-dropdown-extras">
            {{data.cosm}}
        </div>
        <div class="item-dropdown-extras">
            {{data.price}} ({{data.value}})
        </div>
        <div class="item-dropdown-extras">
            {{localize "torgeternity.gear.techlevel"}} : {{data.techlevel}}
        </div>
        <div class="item-dropdown-extras">
            {{localize "torgeternity.chatText.bonus"}} : {{data.bonus}}
        </div>
    </div>


</div>