<div class="skill-card sheet-card" data-type="{{data.type}}" style="background-image: url('systems/torgeternity/images/bgparch.jpg')">
    <table style="border:none;background-color:transparent;margin:2px 0px 0px 0px">
    <tr style="border:none">
        <td>
            <img class="actor-icon" src="{{actorPic}}" title="{{name}}" style="width:50px;height:50px" />
        </td>
        <td>
            <div width=100%>
                <p class="skill-chat-title">{{skillName}} Test</p>
                <p class="skill-unskilled-label" style="{{unskilledLabel}}">Unskilled</div>
            </div>
        </td>
    </tr>
    </table>
    <div class="chat-text" style="padding:0px">
        <p class="skill-roll-result">{{rollResult}}</p>
        <p class="skill-roll-action-label">Action Total</p>
        <table class="skill-roll-table">
            <tr>
                <td class="skill-roll-table-1">
                    Skill Value:
                </td>
                <td class="skill-roll-table-2">
                    {{skillValue}}
                </td>
            </tr>
            <tr>
                <td style="background:white">
                    (Die Total {{rollTotal}})
                </td>
                <td style="background:white">
                </td>
            </tr>
            <tr>
                <td class="skill-roll-table-1">
                    Bonus:
                </td>
                <td class="skill-roll-table-2">
                    {{bonus}} 
                </td>
            </tr>
        </table>
    </div>
</div>