<div class="skill-card sheet-card" data-type="{{data.type}}" style="background-image: url('systems/torgeternity/images/bgparch.jpg')">
    <table style="border:none;background-color:transparent;margin:2px 0px 0px 0px">
    <tr style="border:none">
        <td>
            <img class="actor-icon" src="{{actorPic}}" title="{{name}}" style="width:50px;height:50px" />
        </td>
        <td>
            <div width=100%>
                <p class="skill-chat-title">{{skillName}} Test</p>
                <p class="skill-unskilled-label" style="{{unskilledLabel}}">Unskilled</div>
            </div>
        </td>
    </tr>
    </table>
    <div class="chat-text" style="padding:0px">
        <p class="skill-roll-result">{{resultText}}</p>
        <p class="skill-roll-action-label" style="{{actionTotalLabel}}">Action Total</p>
        <p class="skill-roll-disconnect-label" style="{{disconnectLabel}}">Possible Disconnect</p>
        <table class="skill-roll-table">
            <tr>
                <td class="skill-roll-table-1">
                    {{typeLabel}} Value:
                </td>
                <td class="skill-roll-table-2">
                    {{skillValue}}
                </td>
            </tr>
            <tr style="border:1px solid black">
                <td style="background:white">
                    Die Total {{rollTotal}}
                </td>
                <td style="background:white">
                </td>
            </tr>
            <tr>
                <td class="skill-roll-table-1">
                    Bonus:
                </td>
                <td class="skill-roll-table-2">
                    <div><span style="{{bonusPlusLabel}}">+</span>{{bonus}}</div>
                </td>
            </tr>

            <tr style="{{modifierLabel}}">
                <td class="skill-roll-table-1">
                    Modifiers:
                </td>
                <td class="skill-roll-table-2">
                    <div title="{{modifierText}}" style="display:block">{{modifiers}}</div>
                </td>
            </tr>

        </table>

        <div class="skill-roll-menu">
            <a class="roll-possibility" data-actor="{{actor}}" data-skillname="{{skillName}}">Possibility</a>&nbsp;&bull;&nbsp;
            <a class="roll-up">Up</a>&nbsp;&bull;&nbsp;
            <a class="roll-hero">Hero</a>&nbsp;&bull;&nbsp;
            <a class="roll-drama">Drama</a>&nbsp;&bull;&nbsp;
            <a class="roll-plus3">+3 Card</a>
        </div>
    </div>
</div>