<div
  class="generalGear-border sheet-card {{data.type}}"
  data-type="{{data.type}}"
>
  <div class="generalHeader">  
    <img src="{{img}}" title="{{name}}"/>      
    <span>
      {{name}}
    </span>
  </div>
  <div class="item-description-chat" data-item-id="{{_id}}">
    <div class="item-description-chat">{{{system.description}}}</div>
  </div>

</div>