<div id="players" class="app {{#if hide}}hidden{{/if}}">
	<h3>
		<i class="fas fa-users"></i>
		{{ localize "PLAYERS.Title" }}
		{{#if showOffline}}
			<i class="players-mode fas fa-angle-up"></i>
		{{else}}
			<i class="players-mode fas fa-angle-down"></i>
		{{/if}}

	</h3>

	{{#if self.isGM}}
		<p class=" flexrow">
			<i class="players-popout far fa-window-restore" title="{{localize 'torgeternity.iconeTitles.openParty'}}"></i>
			<i class="fas fa-bolt possReset" title="{{localize 'torgeternity.iconeTitles.resetPossibilities'}}"></i>
		</p>
	{{/if}}


	<ol id="player-list">

		{{#each users}}
			<li class="player {{#if this.isGM}}gm{{/if}} " data-user-id="{{this.id}}">
				<span class="player-active {{#if this.active}}active{{else}}inactive{{/if}}" style="background: {{this.color}}; border: 1px solid {{this.border}}"></span>
				<span class="player-name {{#if this.isSelf}}self{{/if}}">
					{{this.name}}
					{{#if this.isGM}}
						[GM]
					{{else if this.charname}}
						[{{this.charname}}]
					{{/if}}


				</span>

				<span class="posibilities" title="{{#if this.isGM}}GM's possibility pool{{else}}character's possibilities{{/if}}">

					<em class="possValue">
						{{#if this.character}}
							{{this.character.data.data.other.posibilities}}
						{{/if}}
						{{#if this.isGM}}
							{{../GMpossibilities}}
						{{/if}}
					</em>
					{{#if ../self.isGM}}
						<em class="possAdd" data-targetid="{{#if this.isGM}}GMpossibilities{{else}}{{this.character.data._id}}{{/if}}">
							<i class="fas fa-plus-circle"></i>
						</em>
						<em class="possMinus" data-targetid="{{#if this.isGM}}GMpossibilities{{else}}{{this.character.data._id}}{{/if}}">
							<i class="fas fa-minus-circle"></i>
						</em>

					</span>
				{{/if}}

			</li>

		{{/each}}
	</ol>

</div>
