{{log this}}
<div class="flexrow">
    <p class="flexcol">
   
    <ol >
         <h3>selected compendiums for {{targetDeck.label}}</h3>
        {{#each targetDeck.compendiums as |comp|}}
        <li>
            {{comp}}
        </li>
        {{/each}}
    </ol>
    </p>
    <p>
       
        <ol> 
            <h3>available compendiums</h3>
             {{#each availableComp as |comp id|}}
        <li>
            {{comp.title}}<input type="checkbox" value="{{comp.title}}" class="include-compendium" />
        </li>
        {{/each}}
        </ol>
    </p>
</div>