<form class="cosm-dialog">
    {{log this}}

    <div class="form-group stacked">
        <label>{{localize "torgeternity.dialogPrompts.selectCosmDeck"}}</label>
        <div class="form-fields">
            <select name="from">
                <option value="{{decks.coreEarth}}">{{localize "torgeternity.cosmDecks.coreEarth"}}</option>
                <option value="{{decks.aysle}}">{{localize "torgeternity.cosmDecks.aysle"}}</option>
                <option value="{{decks.cyberpapacy}}">{{localize "torgeternity.cosmDecks.cyberpapacy"}}</option>
                <option value="{{decks.livingLand}}">{{localize "torgeternity.cosmDecks.livingLand"}}</option>
                <option value="{{decks.nileEmpire }}">{{localize "torgeternity.cosmDecks.nileEmpire"}}</option>
                <option value="{{decks.orrorsh}}">{{localize "torgeternity.cosmDecks.orrorsh"}}</option>
                <option value="{{decks.panPacifica }}">{{localize "torgeternity.cosmDecks.panPacifica"}}</option>
                <option value="{{decks.tharkold}}">{{localize "torgeternity.cosmDecks.tharkold"}}</option>
            </select>
        </div>
    </div>
    {{#each decks as |deck|}}
    {{deck}}
    {{/each}}
</form>