<form class="cosm-dialog">

    <div class="form-group stacked">
        <label>{{localize "torgeternity.dialogPrompts.selectCosmDeck"}}</label>
        <div class="form-fields">
            <select name="from">
                <option value="Core Earth Cosm Deck">{{localize "torgeternity.cosmDecks.coreEarth"}}</option>
                <option value="Aysle Cosm Deck">{{localize "torgeternity.cosmDecks.aysle"}}</option>
                <option value="Cyberpapacy Cosm Deck">{{localize "torgeternity.cosmDecks.cyberpapacy"}}</option>
                <option value="Living Land Cosm Deck">{{localize "torgeternity.cosmDecks.livingLand"}}</option>
                <option value="Nile Empire Cosm Deck">{{localize "torgeternity.cosmDecks.nileEmpire"}}</option>
                <option value="Orrorsh Cosm Deck">{{localize "torgeternity.cosmDecks.orrorsh"}}</option>
                <option value="Pan Pacifica Cosm Deck">{{localize "torgeternity.cosmDecks.panPacifica"}}</option>
                <option value="Tharkold Cosm Deck">{{localize "torgeternity.cosmDecks.tharkold"}}</option>
            </select>
        </div>
    </div>

</form>