{{log this}}
<div id="handedCards" class="app {{#if hide}}hidden{{/if}}">
    <div class="cardArea">
        <h3 class="cardTitle">destiny Deck</h3>
        <ol class="destinyCards cardHand">
          

            <li class="card " data-item-id="{{destinyDeck._id}}">
                <div class="item-controls">
                    <a class="item-control deck-shuffle" title="shuffle deck"><i class="fa fa-random"></i></a>
                    <a class="item-control deck-config" title="deck config"><i class="fa fa-cog"></i></a>
                    <a class="item-control deck-draw" title="draw card"><i class="fa fa-share"></i></a>
                    <a class="item-control deck-history" title="draw history"><i class="fa fa-undo"></i></a>
                </div>
                <div>
                    <img src="{{destinyDeck.img}}" />

                </div>
            </li>
           
        </ol>
    </div>
    <div class="cardArea">

        <h3 class="cardTitle">action deck</h3>
        <ol class="reservedCards cardHand">

            {{#each destinyCard as |item id|}}
            {{#if item.data.reserved}}
            <li class="card " data-item-id="{{item._id}}">

                <div class="item-controls">
                    <a class="item-control card-play" title="play card"><i class="fa fa-share"></i></a>
                    <a class="item-control card-exchange" title="exchange card"><i class="fa fa-retweet"></i></a>
                    <a class="item-control card-reserve" title="unreserve card"><i class="fa fa-star"
                            style="color:rgb(136, 91, 91)"></i></a>
                </div>
                <div>
                    <img src="{{item.img}}" title="{{item.name}}" />

                </div>

            </li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
    <div class="cardArea">

        <h3 class="cardTitle">cosm deck </h3>
        <ol class="cosmCards cardHand">


            {{#each cosmCard as |item id|}}
            <li class="card " data-item-id="{{item._id}}">
                <div class="item-controls">
                    <a class="item-control card-play" title="play card"><i class="fa fa-share"></i></a>
                    <a class="item-control card-expand" title="expand card"><i class="fa fa-expand"></i></a>

                </div>
                <div>
                    <img src="{{item.img}}" title="{{item.name}}" />

                </div>

            </li>
            {{/each}}
        </ol>
    </div>
    
</div>