<div class="flexrow scrollable">
  <div>
    <h2>{{localize "TYPES.Cards.deck"}} {{localize "torgeternity.cardTypes.destiny"}}</h2>

    <div class="form-group">
      <select name="destinyDeck" class="selectDeck">
        {{selectOptions decks selected=object.destinyDeck sort=true}}
      </select>
    </div>
    <div class="form-group">
      <label for="destinyDiscard">{{localize "torgeternity.cardTypes.discardPile"}}</label>
      <select name="destinyDiscard" class="selectDeck">
        {{selectOptions piles selected=object.destinyDiscard sort=true}}
      </select>
    </div>

    <h2>{{localize "TYPES.Cards.deck"}} {{localize "torgeternity.cardTypes.drama"}}</h2>
    <div class="form-group">
      <select name="dramaDeck" class="selectDeck">
        {{selectOptions decks selected=object.dramaDeck sort=true}}
      </select>
    </div>
    <div class="form-group">
      <label for="dramaDiscard">{{localize "torgeternity.cardTypes.discardPile"}}</label>
      <select name="dramaDiscard" class="selectDeck">
        {{selectOptions piles selected=object.dramaDiscard sort=true}}
      </select>
    </div>
    <div class="form-group">
      <label for="dramaActive">{{localize "torgeternity.cardTypes.activeDrama"}}</label>
      <select name="dramaActive" class="selectDeck">
        {{selectOptions piles selected=object.dramaActive sort=true}}
      </select>
    </div>
  </div>
  <div>
    <h2>{{localize "TYPES.Cards.deck"}} {{localize "torgeternity.cardTypes.cosm"}}</h2>

    <div class="form-group">
      <label>{{localize "torgeternity.cardTypes.discardPile"}}</label>
      <select name="cosmDiscard" data-type="String" class="selectDeck formFields">
        {{selectOptions piles selected=object.cosmDiscard sort=true}}
      </select>
    </div>

    {{#each cosms as |cosm cosmId|}}
      <div class="form-group">
        <label>{{cosm.name}}</label>
        <select name="{{cosmId}}" data-type="String" class="selectDeck formFields">
          {{selectOptions @root.decks selected=(lookup @root.object cosmId) sort=true}}
        </select>
      </div>
    {{/each}}
  </div>

  <div>
    <h2>{{localize "torgeternity.sheetLabels.stormknight"}}</h2>
    <div class="stormknight-list">
      {{#each stormknights as |stormknight index|}} {{#if stormknight.isOwner}}
          <div class="formFields flexrow">
            <label>{{stormknight.name}}</label>
            <select
              data-actor-id="{{stormknight.id}}"
              data-type="String"
              class="selectDeck formFields stormknightHand">
              {{selectOptions ../hands selected=(lookup @root/stormknights stormknight.id sort=true)}}
            </select>
          </div>
        {{/if}} {{/each}}
    </div>
  </div>
</div>