<form>
  <div class="flexrow">
    <div>
      <h2>{{localize "CARDS.TypeDeck"}} {{localize "torgeternity.cardTypes.destiny"}}</h2>

      <div class="form-group">
        <select name="destinyDeck" class="selectDeck">
          {{selectOptions decks selected=object.destinyDeck sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label for="destinyDiscard">{{localize "torgeternity.cardTypes.discardPile"}}</label>
        <select name="destinyDiscard" class="selectDeck">
          {{selectOptions piles selected=object.destinyDiscard sort=true}}
        </select>
      </div>

      <h2>{{localize "CARDS.TypeDeck"}} {{localize "torgeternity.cardTypes.drama"}}</h2>
      <div class="form-group">
        <select name="dramaDeck" class="selectDeck">
          {{selectOptions decks selected=object.dramaDeck sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label for="dramaDiscard">{{localize "torgeternity.cardTypes.discardPile"}}</label>
        <select name="dramaDiscard" class="selectDeck">
          {{selectOptions piles selected=object.dramaDiscard sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label for="dramaActive">{{localize "torgeternity.cardTypes.activeDrama"}}</label>
        <select name="dramaActive" class="selectDeck">
          {{selectOptions piles selected=object.dramaActive sort=true}}
        </select>
      </div>
    </div>
    <div>
      <h2>{{localize "CARDS.TypeDeck"}} {{localize "torgeternity.cardTypes.cosm"}}</h2>

      <div class="form-group">
        <label>{{localize "torgeternity.cardTypes.discardPile"}}</label>
        <select name="cosmDiscard" data-type="String" class="selectDeck formFields">
          {{selectOptions piles selected=object.cosmDiscard sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "torgeternity.cosmDecks.coreEarth"}}</label>
        <select name="coreEarth" data-type="String" class="selectDeck formFields">
          {{selectOptions decks selected=object.coreEarth sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "torgeternity.cosmDecks.aysle"}}</label>
        <select name="aysle" data-type="String" class="selectDeck formFields">
          {{selectOptions decks selected=object.aysle sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "torgeternity.cosmDecks.cyberpapacy"}}</label>
        <select name="cyberpapacy" data-type="String" class="selectDeck formFields">
          {{selectOptions decks selected=object.cyberpapacy sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "torgeternity.cosmDecks.livingLand"}}</label>
        <select name="livingLand" data-type="String" class="selectDeck formFields">
          {{selectOptions decks selected=object.livingLand sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "torgeternity.cosmDecks.nileEmpire"}}</label>
        <select name="nileEmpire" data-type="String" class="selectDeck formFields">
          {{selectOptions decks selected=object.nileEmpire sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "torgeternity.cosmDecks.orrorsh"}}</label>
        <select name="orrorsh" data-type="String" class="selectDeck formFields">
          {{selectOptions decks selected=object.orrorsh sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "torgeternity.cosmDecks.panPacifica"}}</label>
        <select name="panPacifica" data-type="String" class="selectDeck formFields">
          {{selectOptions decks selected=object.panPacifica sort=true}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "torgeternity.cosmDecks.tharkold"}}</label>
        <select name="tharkold" data-type="String" class="selectDeck formFields">
          {{selectOptions decks selected=object.tharkold sort=true}}
        </select>
      </div>
    </div>

    <div>
      <h2>{{localize "torgeternity.sheetLabels.stormknight"}}</h2>
      <div class="stormknight-list">
        {{#each stormknights as |stormknight index|}} {{#if stormknight.isOwner}}
        <div class="formFields flexrow">
          <label>{{stormknight.name}}</label>
          <select
            data-actor-id="{{stormknight.id}}"
            data-type="String"
            class="selectDeck formFields stormknightHand"
          >
            {{selectOptions ../hands selected=(lookup @root/stormknights stormknight.id sort=true)}}
          </select>
        </div>
        {{/if}} {{/each}}
      </div>
    </div>
  </div>
  <div class="footer flexrow">
    <button class="torgeternity createCards">
      <i class="fas fa-plus"></i>
      {{localize "DOCUMENT.Cards"}}
    </button>

    <button class="torgeternity" type="submit" name="submit">
      <i class="fas fa-check"></i>
      {{localize "SETTINGS.Save"}}
    </button>
    <button class="torgeternity" type="cancel" name="cancel">
      <i class="fas fa-ban"></i>
      {{localize "Cancel"}}
    </button>
  </div>
</form>
