<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="card-face" src="{{data.img}}" data-tooltip="{{data.name}}" />
    <h1 class="name">
      <input type="text" name="name" value="{{data.name}}" placeholder="{{localize 'Name'}}" />
    </h1>
  </header>

  <!-- Tab Navigation -->
  <nav class="sheet-tabs tabs">
    <a data-action="tab" class="item" data-group="primary" data-tab="details"><i class="fas fa-cogs"></i>
      <span>{{localize "CARDS.HeaderDetails"}}</span></a>
    <a data-action="tab" class="item" data-group="primary" data-tab="cards"><i class="fas fa-id-badge"></i>
      <span>{{localize "CARDS.HeaderCards"}}</span></a>
  </nav>

  <!-- Details Tab -->
  <section class="tab item" data-group="primary" data-tab="details">
    <div class="form-group">
      <label>{{ localize "CARDS.FIELDS.img.label" }}</label>
      <div class="form-fields torgeternityFormFields">
        <file-picker name="img" type="image" value="{{data.img}}"></file-picker>
      </div>
    </div>

    <div class="form-group stacked">
      <label>{{ localize "CARDS.Description" }}</label>
      <textarea name="description">{{ data.description }}</textarea>
    </div>

    <div class="form-group">
      <label>{{localize "CARDS.Dimensions"}}</label>
      <div class="form-fields torgeternityFormFields">
        <label>{{localize "Width"}}</label>
        {{numberInput data.width name="width" step=1}}
        <label>{{localize "Height"}}</label>
        {{numberInput data.height name="height" step=1}}
        <label>{{localize "Rotation"}}</label>
        {{numberInput data.rotation name="rotation" step=1 min=0 max=360}}
      </div>
    </div>
  </section>

  <!-- Cards Tab -->
  <section class="tab item active" data-group="primary" data-tab="cards">
    <header class="cards-header flexrow">
      <span class="card-faces">{{localize "CARD.FIELDS.face.label"}}</span>
      <a class="card-control sort-mode" data-tooltip="{{localize 'CARDS.ACTIONS.ToggleSortMode'}}"
        data-action="toggleSort">
        <i class="fas fa-sort fa-fw"></i>
      </a>
      <h4 class="card-name">{{localize "CARD.Name"}}</h4>
      <span class="card-type">{{localize "CARDS.FIELDS.type.label"}}</span>
      <span class="card-drawn">{{localize "CARD.FIELDS.drawn.label"}}</span>
      <div class="card-controls">
        <a class="card-control" data-tooltip="{{localize 'CARDS.ACTIONS.Create'}}" data-action="create"><i
            class="fas fa-plus"></i> {{localize "Add"}}</a>
      </div>
    </header>
    {{cards}}
    <ol class="cards">
      {{#each document.cards as |card|}}
        <li class="card flexrow" data-card-id="{{card.id}}">
          <div class="card-faces flexcol">
            <a class="card-control" data-tooltip="{{localize 'CARDS.ACTIONS.NextFace'}}" data-action="nextFace"
              {{disabled (not card.hasNextFace)}}><i class="fas fa-caret-up"></i></a>
            <a class="card-control" data-tooltip="{{localize 'CARDS.ACTIONS.PreviousFace'}}" data-action="prevFace"
              {{disabled (not card.hasPreviousFace)}}><i class="fas fa-caret-down"></i></a>
          </div>
          <span class="card-tooltip" href="">
            <img class="card-face" src="{{card.img}}" alt="{{card.name}}" height="48">
            <span><img src="{{card.img}}"></span>
          </span>
          <h4 class="card-name">{{card.name}}</h4>
          <span class="card-type">{{card.typeLoc}}</span>
          <div class="card-drawn">
            <input type="checkbox" class="card-value" {{checked card.drawn}} disabled>
          </div>
          <div class="card-controls">
            <a class="card-control" data-tooltip="{{localize 'CARDS.ACTIONS.Edit'}}" data-action="edit"><i
                class="fa-solid fa-pen-to-square"></i></a>
            <a class="card-control" data-tooltip="{{localize 'CARDS.ACTIONS.Delete'}}" data-action="delete"><i
                class="fa-solid fa-trash"></i></a>
          </div>
        </li>
      {{else}}
        <li>
          <p class="hint">{{localize "CARDS.NoCards"}}</p>
        </li>
      {{/each}}
    </ol>
  </section>

  <!-- Sheet Footer -->
  <footer class="sheet-footer flexrow">
    {{#if owner}}
      <button class="card-control" type="button" data-action="shuffle">
        <i class="fas fa-random"></i> {{localize "CARDS.Shuffle"}}
      </button>
      <button class="card-control" type="button" data-action="deal">
        <i class="fas fa-share-square"></i> {{localize "CARDS.Deal"}}
      </button>
      <button class="card-control" type="button" data-action="reset">
        <i class="fas fa-undo"></i> {{localize "CARDS.Reset"}}
      </button>
      <button class="submit" type="submit"><i class="fas fa-save"></i> {{ localize "CARDS.Save" }}</button>
    {{/if}}
  </footer>
</form>