<!-- Details Tab -->
<section class="tab item" data-group="primary" data-tab="details">
  <div class="form-group">
    <label>{{ localize "CARDS.FIELDS.img.label" }}</label>
    <div class="form-fields torgeternityFormFields">
      <file-picker name="img" type="image" value="{{data.img}}"></file-picker>
    </div>
  </div>

  <div class="form-group stacked">
    <label>{{ localize "CARDS.Description" }}</label>
    <textarea name="description">{{ data.description }}</textarea>
  </div>

  <div class="form-group">
    <label>{{localize "CARDS.Dimensions"}}</label>
    <div class="form-fields torgeternityFormFields">
      <label>{{localize "Width"}}</label>
      {{numberInput data.width name="width" step=1}}
      <label>{{localize "Height"}}</label>
      {{numberInput data.height name="height" step=1}}
      <label>{{localize "Rotation"}}</label>
      {{numberInput data.rotation name="rotation" step=1 min=0 max=360}}
    </div>
  </div>
</section>