<form class="{{cssClass}}" autocomplete="off">
	<span class="handdesign">
		{{localize 'torgeternity.dialogPrompts.lifelike'}}
		<input name="flags.torgeternity.lifelike" class="toggle" type="checkbox" id="lifelike" {{checked
			data.flags.torgeternity.lifelike}}>

	</span>
	<div class="flexrow">
		<h2 class="areaTitles">
			{{localize 'torgeternity.cardTypes.destiny'}}
			<span class="card-control" type="button" title="{{localize 'torgeternity.dialogPrompts.drawDestiny'}}"
				data-action="drawDestiny">
				<i class="fas fa-plus"></i>
			</span>
		</h2>

		<h2 class="areaTitles">
			{{localize 'torgeternity.cardTypes.cosm'}}
			<span class="card-control" type="button" title="{{localize 'torgeternity.dialogPrompts.drawCosm'}}"
				data-action="drawCosm">
				<i class="fas fa-plus"></i>
			</span>
		</h2>
	</div>
	<div id="handedCards">


		<ol class="cards destinyCards">
			{{#each cards as |card|}}
			{{#ifequal card.type "destiny"}}
			<li class="card flexrow {{#if card.data.flags.torgeternity.pooled}}pooled{{/if}}"
				data-card-id="{{card.id}}">
				<img class="card-face" src="{{card.img}}" alt="{{card.name}}" height="48">

				<div class="torg-card-controls flexcol">
					<div class="card-faces flexrow">
						<a class="card-control" title="{{localize 'CARD.FaceNext'}}" data-action="nextFace" {{#unless
							card.hasNextFace}} disabled {{/unless}}>
							<i class="fas fa-caret-up"></i>
						</a>
						<a class="card-control" title="{{localize 'CARD.FacePrevious'}}" data-action="prevFace"
							{{#unless card.hasPreviousFace}} disabled {{/unless}}>
							<i class="fas fa-caret-down"></i>
						</a>
					</div>
					<a class="card-control" title="{{localize 'torgeternity.dialogPrompts.plays'}}" data-action="play">
						<i class="fas fa-play-circle" style="color:white"></i>
					</a>
					<!-- <a class="card-control" title="View Card" data-action="view"><i class="fas fa-eye" style="color:white"></i></a> not needed with thumbnail? -->
					<a class="card-control" title="{{localize 'torgeternity.dialogPrompts.showToPlayers'}}"
						data-action="display">
						<i class="fas fa-broadcast-tower" style="color:white"></i>
					</a>
					<a class="card-control" title="{{localize 'torgeternity.dialogPrompts.playerPassTo'}}"
						data-action="pass">
						<i class="fas fa-share-square" style="color:white"></i>
					</a>
					<a class="card-control" title="{{localize 'torgeternity.dialogPrompts.discards'}}"
						data-action="discard">
						<i class="fas fa-inbox" style="color:white"></i>
					</a>
					<span class="card-pooled">
						<h5 class="verticalRot">
							{{localize "torgeternity.dialogPrompts.cardPooled"}}
						</h5>
						<input name="data.flags.torgeternity.pooled" class="toggle" data-action="poolToggle"
							type="checkbox" id="pooled" {{checked card.data.flags.torgeternity.pooled}}>
					</span>
				</div>
			</li>
			{{/ifequal}}
			{{/each}}


		</ol>

		<ol class="cards  cosmCards">
			{{#each cards as |card|}}
			{{#ifequal card.type "cosm"}}

			<li class="card flexrow" data-card-id="{{card.id}}">
				<img class="card-face" src="{{card.img}}" alt="{{card.name}}" height="48">
				<div class="torg-card-controls flexcol">
					<div class="card-faces flexrow">
						<a class="card-control" title="{{localize 'CARD.FaceNext'}}" data-action="nextFace" {{#unless
							card.hasNextFace}} disabled {{/unless}}>
							<i class="fas fa-caret-up"></i>
						</a>
						<a class="card-control" title="{{localize 'CARD.FacePrevious'}}" data-action="prevFace"
							{{#unless card.hasPreviousFace}} disabled {{/unless}}>
							<i class="fas fa-caret-down"></i>
						</a>
					</div>
					<a class="card-control" title="Play Card" data-action="play">
						<i class="fas fa-play-circle" style="color:white"></i>
					</a>
					<!-- <a class="card-control" title="View Card" data-action="view"><i class="fas fa-eye" style="color:white"></i></a> not needed with thumbnail? -->
					<a class="card-control" title="Display for All Players" data-action="display">
						<i class="fas fa-broadcast-tower" style="color:white"></i>
					</a>
					<a class="card-control" title="Pass to Another Player" data-action="pass">
						<i class="fas fa-share-square" style="color:white"></i>
					</a>
					<a class="card-control" title="Discard" data-action="discard">
						<i class="fas fa-inbox" style="color:white"></i>
					</a>
				</div>
			</li>
			{{/ifequal}}
			{{/each}}
		</ol>
	</div>
	<!-- Sheet Footer -->

</form>