<!-- Cards Tab -->
<section class="tab cards{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <header class="cards-header flexrow">
    <span class="card-faces">{{localize "CARD.FIELDS.face.label"}}</span>
    <a class="card-control sort-mode" data-tooltip="{{localize 'CARDS.ACTIONS.ToggleSortMode'}}"
      data-action="toggleSort">
      <i class="fas fa-sort fa-fw"></i>
    </a>
    <strong class="card-name">{{localize "CARD.FIELDS.face.label"}}</strong>
    <span class="card-type">{{localize "DOCUMENT.FIELDS.type.label"}}</span>
    <span class="card-drawn">{{localize "CARD.FIELDS.drawn.label"}}</span>
    <div class="card-controls">
      <a class="card-control" data-tooltip="{{localize 'CARDS.ACTIONS.Create'}}"
        data-action="controlCard" data-control="create"><i
          class="fas fa-plus"></i> {{localize "Add"}}</a>
    </div>
  </header>
  <ol class="cards scrollable" data-cards>
    {{#each cards as |card|}}
      <li class="flexrow" data-card-id="{{card.id}}">

        <div class="faces flexcol">
          <a data-action="controlCard" data-control="nextFace" data-tooltip="CARDS.ACTIONS.NextFace"
            {{disabled (not card.hasNextFace)}}>
            <i class="fa-solid fa-caret-up"></i>
          </a>
          <a data-action="controlCard" data-control="prevFace" data-tooltip="CARDS.ACTIONS.PreviousFace"
            {{disabled (not card.hasPreviousFace)}}>
            <i class="fa-solid fa-caret-down"></i>
          </a>
        </div>

        <span class="card-tooltip" href="">
          <img class="card-face" src="{{card.img}}" alt="{{card.name}}" height="48">
          <span><img src="{{card.img}}"></span>
        </span>
        <strong class="card-name">{{card.name}}</strong>
        <span class="card-type">{{card.typeLoc}}</span>
        <div class="card-drawn">
          <input type="checkbox" class="card-value" {{checked card.drawn}} disabled>
        </div>

        <div class="controls">
          <a data-action="controlCard" data-control="edit" data-tooltip="CARDS.ACTIONS.Edit">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a data-action="controlCard" data-control="delete" data-tooltip="CARDS.ACTIONS.Delete">
            <i class="fa-solid fa-trash"></i>
          </a>
        </div>
      </li>
    {{else}}
      <li>
        <p class="notes">{{localize "CARDS.NoCards"}}</p>
      </li>
    {{/each}}
  </ol>
</section>