<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  {{formGroup systemFields.number value=source.system.number rootId=rootId label=(localize "torgeternity.sheetLabels.number")}}

  <div class="form-group">
    <label>{{localize "CARD.Dimensions"}}</label>
    <div class="form-fields">
      <label for="{{rootId}}-width">{{localize "DOCUMENT.FIELDS.width.label"}}</label>
      {{formInput fields.width value=source.width id=(concat rootId "-width")}}
      <label for="{{rootId}}-height">{{localize "DOCUMENT.FIELDS.height.label"}}</label>
      {{formInput fields.height value=source.height id=(concat rootId "-height")}}
      <label for="{{rootId}}-rotation">{{localize "DOCUMENT.FIELDS.rotation.label"}}</label>
      {{formInput fields.rotation value=source.rotation id=(concat rootId "-rotation")}}
    </div>
  </div>
  {{#if (eq source.type "drama")}}
    <div class="drama">
      <fieldset class="flexrow">
        <legend>{{localize 'torgeternity.dramaCard.standard'}} : </legend>
        {{formGroup systemFields.heroesFirstStandard value=source.system.heroesFirstStandard  localize=true }}
        {{formGroup systemFields.heroesConditionsStandard value=source.system.heroesConditionsStandard localize=true}}
        {{formGroup systemFields.villainsConditionsStandard value=source.system.villainsConditionsStandard  localize=true}}
      </fieldset>
      <fieldset class="flexrow">
        <legend>{{localize 'torgeternity.dramaCard.dramatic'}} : </legend>
        {{formGroup systemFields.heroesFirstDramatic value=source.system.heroesFirstDramatic  localize=true }}
        {{formGroup systemFields.heroesConditionsDramatic value=source.system.heroesConditionsDramatic  localize=true}}
        {{formGroup systemFields.villainsConditionsDramatic value=source.system.villainsConditionsDramatic localize=true }}
      </fieldset>
      <div class="form-group">
        {{formGroup systemFields.dsrLine value=source.system.dsrLine localize=true}}
        {{formGroup systemFields.approvedActions value=source.system.approvedActions localize=true}}
      </div>
      {{formGroup systemFields.rule value=source.system.rule localize=true}}
    </div>
  {{/if}}

  {{formGroup fields.description value=source.description rootId=rootId elementType="textarea"}}

</section>