<header class="sheet-header flexrow">
  <img class="card-face" src="{{document.img}}" data-tooltip="{{data.name}}" />
  {{formInput fields.name value=source.name placeholder=fields.name.label aria=(object label=fields.name.label)}}
</header>

<!-- Tab Navigation -->
<nav class="sheet-tabs tabs">
  <a data-action="tab" class="item" data-tab="details">
    <i class="fas fa-cogs"></i>
    {{localize "CARD.HeaderDetails"}}
  </a>
  <a data-action="tab" class="item" data-tab="faces">
    <i class="fas fa-id-badge"></i>
    {{localize "CARD.HeaderFaces"}}
  </a>
  <a data-action="tab" class="item" data-tab="back">
    <i class="fas fa-id-badge"></i>
    {{localize "CARD.HeaderBack"}}
  </a>
</nav>

<!-- Details Tab -->
<section class="tab" data-tab="details">
  <div class="form-group">
    <label>{{localize "torgeternity.sheetLabels.number"}}</label>
    <div class="form-fields torgeternityFormFields">{{numberInput data.system.number name="system.number" step=1}}
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "CARD.Dimensions"}}</label>
    <div class="form-fields torgeternityFormFields">
      <label>{{localize "Width"}}</label>
      {{numberInput data.width name="width" step=1}}
      <label>{{localize "Height"}}</label>
      {{numberInput data.height name="height" step=1}}
      <label>{{localize "Rotation"}}</label>
      {{numberInput data.rotation name="rotation" step=1 min=0 max=360}}
    </div>
  </div>

  <div class="form-group stacked">
    <label>{{localize "CARD.Description"}}</label>
    <textarea name="description">{{data.description}}</textarea>
  </div>
</section>

<!-- Faces Tab -->
<section class="tab active" data-tab="faces">
  <div class="form-group">
    <label>{{localize "CARD.FIELDS.face.label"}}</label>
    <div class="form-fields torgeternityFormFields">
      {{numberInput data.face name="face" min=0 step=1}}
      <button
        type="button"
        class="face-control"
        data-tooltip="{{localize 'CARD.FIELDS.face.labelAdd'}}"
        data-action="addFace">
        <i class="fas fa-plus fa-fw"></i>
      </button>
    </div>
  </div>
  {{#each data.faces as |face i|}}
    <div class="face" data-face="{{i}}">
      <div class="form-group">
        <label>{{localize "CARD.FIELDS.face.labelName"}}</label>
        <div class="form-fields torgeternityFormFields">
          <input type="text" name="faces.{{i}}.name" value="{{face.name}}" />
          <button
            type="button"
            class="face-control"
            data-tooltip="{{localize 'CARD.FIELDS.face.labelDelete'}}"
            data-action="deleteFace">
            <i class="fas fa-trash fa-fw"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "CARD.FIELDS.face.labelImage"}}</label>
        <div class="form-fields torgeternityFormFields">
          <file-picker name="faces.{{i}}.img" type="image" value="{{face.img}}"></file-picker>
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "CARD.FIELDS.face.labelText"}}</label>
        <div class="form-fields torgeternityFormFields">
          <textarea name="faces.{{i}}.text">{{face.text}}</textarea>
        </div>
      </div>
    </div>
  {{/each}}
</section>

<!-- Back Tab -->
<section class="tab" data-tab="back">
  <div class="form-group">
    <label>{{localize "CARD.BackName"}}</label>
    <div class="form-fields torgeternityFormFields">
      <input
        type="text"
        name="back.name"
        placeholder="{{localize 'CARD.BackName'}}"
        value="{{data.back.name}}" />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "CARD.BackImage"}}</label>
    <div class="form-fields torgeternityFormFields">
      <file-picker name="back.img" type="image" value="{{data.back.img}}"></file-picker>
    </div>
  </div>

  <div class="form-group stacked">
    <label>{{localize "CARD.BackText"}}</label>
    <textarea name="back.text">{{data.back.text}}</textarea>
  </div>
</section>

<!-- Sheet Footer -->
<footer class="sheet-footer flexrow">
  {{#if owner}}
    <button class="submit" type="submit">
      <i class="fas fa-save"></i>
      {{localize "CARD.Save"}}
    </button>
  {{/if}}
</footer>