<header class="sheet-header flexrow">
  {{formInput fields.name value=source.name placeholder=fields.name.label aria=(object label=fields.name.label)}}
</header>

<div>
  <header class="cards-header flexrow">
    <span class="card-faces">{{localize 'CARD.FIELDS.face.label'}}</span>
    <span class="sort-mode"></span>
    <strong class="card-name">{{localize 'torgeternity.sheetLabels.name'}}</strong>
    <span class="card-type">{{localize 'DOCUMENT.FIELDS.type.label'}}</span>
  </header>
  <ol class="cards scrollable" data-cards>
    {{#each cards as |card|}}
      <li class="card flexrow" data-card-id="{{card.id}}">

        <div class="faces flexcol">
          <a data-action="controlCard" data-control="nextFace" data-tooltip="CARDS.ACTIONS.NextFace"
            {{disabled (not card.hasNextFace)}}>
            <i class="fa-solid fa-caret-up"></i>
          </a>
          <a data-action="controlCard" data-control="prevFace" data-tooltip="CARDS.ACTIONS.PreviousFace"
            {{disabled (not card.hasPreviousFace)}}>
            <i class="fa-solid fa-caret-down"></i>
          </a>
        </div>

        <span class="card-tooltip" href="">
          <img class="card-face" src="{{card.img}}" alt="{{card.name}}" height="48">
          <span><img src="{{card.img}}"></span>
        </span>
        <strong class="card-name">{{card.name}}</strong>
        {{#if card.showFace}}
          <span class="card-type">{{card.typeLoc}}</span>
        {{/if}}
      </li>
    {{else}}
      <li>
        <p class="notes">{{localize "CARDS.NoCards"}}</p>
      </li>
    {{/each}}
  </ol>
</div>