<fieldset class="otherModifiers">
    <legend>{{localize "torgeternity.sheetLabels.otherModifiers"}}</legend>
    
    <label for="other1-description-text">{{localize "torgeternity.sheetLabels.description"}}</label>
    <label for="other1-modifier-text">{{localize "torgeternity.sheetLabels.effect"}}</label>
    
    <input type="text" id="other1-description-text" name="otherDescription1" value="{{#if test.isOther1}}{{test.other1Description}}{{/if}}">
    <input type="number" id="other1-modifier-text" name="otherEffect1" value={{#if test.isOther1}}{{test.other1Modifier}}{{else}}0{{/if}}>

    <input type="text" id="other2-description-text" name="otherDescription2" value="{{#if test.isOther2}}{{test.other2Description}}{{/if}}">        
    <input type="number" id="other2-modifier-text" name="otherEffect2" value={{#if test.isOther2}}{{test.other2Modifier}}{{else}}0{{/if}}>

    <input type="text" id="other3-description-text" name="otherDescription3" value="{{#if test.isOther3}}{{test.other3Description}}{{/if}}">
    <input type="number" id="other3-modifier-text" name="otherEffect3" value={{#if test.isOther3}}{{test.other3Modifier}}{{else}}0{{/if}}>        
</fieldset>