<div class="skill-card sheet-card" data-type="{{data.type}}"
  style="background-image: url('systems/torgeternity/images/bgparch.webp')">
  <table style="border:none;background-color:transparent;margin:2px 0px 0px 0px">
    <tr style="border:none">
      <td>
        <img class="actor-icon" src="{{actorPic}}" data-tooltip="{{name}}" data-action="openSheet"
          data-actor="{{actor}}" />
      </td>
      <td class="chat-title" style="font-size:20px;padding:0px 0px 0px 0px">
        {{localize "torgeternity.sheetLabels.activeDefense"}}
      </td>
    </tr>
  </table>
  <div class="chat-text" style="padding:0px">
    <p style="text-align:center;font-size:24px;font-weight:bold;padding:3px 0px 0px 0px">{{bonus}}</p>
  </div>
</div>