<div
  class="enhancement-border sheet-card {{data.type}}"
  data-type="{{data.type}}">
  <div class="generalHeader">
    <img src="{{img}}" data-tooltip="{{name}}" />
    <span>
      {{name}}
    </span>
  </div>
  <div class="item-description" data-item-id="{{_id}}">
    <div class="item-description">{{{system.description}}}</div>
    <div class="item-dropdown-extras">
      {{localize "torgeternity.enhancements.enhances"}}
      {{system.perk}}
    </div>
  </div>
</div>