<div
  class="generalGear-border sheet-card {{data.type}}"
  data-type="{{data.type}}">
  <div class="generalHeader">
    <img src="{{img}}" data-tooltip="{{name}}" />
    <span>
      {{name}}
    </span>
  </div>
  <div class="item-description" data-item-id="{{_id}}">
    <div class="item-description">{{{system.description}}}</div>
    <div class="item-dropdown-extras">
      {{system.cosm}}
    </div>
    <div class="item-dropdown-extras">
      {{system.price}}
      ({{system.value}})
    </div>
    <div class="item-dropdown-extras">
      {{localize "torgeternity.gear.techlevel"}}
      :
      {{system.axioms.tech}}
    </div>
    <div class="item-dropdown-extras">
      {{system.topspeed}}
    </div>
    <div class="item-dropdown-extras">
      {{localize "torgeternity.skills.maneuver"}}
      {{system.mr}}
    </div>
    <div class="item-dropdown-extras">
      {{system.wounds}}/{{system.tough}}
    </div>

  </div>

</div>