<nav id="scene-navigation" aria-roledescription="{{localize 'SCENE_NAVIGATION.LABEL'}}" data-tooltip-direction="RIGHT">
  {{#if canExpand}}
    <a id="scene-navigation-expand" class="ui-control" data-action="toggleExpand">
      <i class="fa-solid fa-caret-down" inert></i>
    </a>
  {{/if}}
  <menu id="scene-navigation-active" class="scene-navigation-menu flexcol">
    {{#each scenes.active as |scene|}}
      <li class="ui-control scene {{scene.cssClass}}" data-scene-id="{{scene.id}}" data-action="viewScene"
        {{#if scene.tooltip}}data-tooltip-text="{{scene.tooltip}}" {{/if}}>
        <span class="scene-name ellipsis">{{scene.name}}</span>
        <div class="cosm-icone {{scene.flags.torgeternity.cosm}}">
          <div
            class="{{../lang}} cosm-card {{scene.flags.torgeternity.cosm}}{{#if (and ../y1pp (eq scene.flags.torgeternity.cosm 'panPacifica') (or (eq ../lang 'en' ) (eq ../lang 'de' )))}}Y1{{/if}}">
          </div>
        </div>
        {{#if scene.flags.torgeternity.displayCosm2}}
          <div
            class="{{#unless scene.flags.torgeternity.isMixed}} dominant2ndCosm {{/unless}} cosm-icone {{scene.flags.torgeternity.cosm2}}">
            <div class="{{../lang}} cosm-card cosm2 {{scene.flags.torgeternity.cosm2}} "></div>
          </div>
        {{/if}}
        {{#if scene.users}}
          <ul class="scene-players">
            {{#each scene.users as |user|}}
              <li class="scene-player" style="--color-bg:{{user.color}}; --color-border:{{user.border}}"
                data-tooltip aria-label="{{user.name}}">{{user.letter}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </menu>
  <menu id="scene-navigation-inactive" class="scene-navigation-menu flexcol">
    {{#each scenes.inactive as |scene|}}
      <li class="ui-control scene {{scene.cssClass}}" data-scene-id="{{scene.id}}" data-action="viewScene"
        {{#if scene.tooltip}}data-tooltip-text="{{scene.tooltip}}" {{/if}}>
        <span class="scene-name ellipsis">{{scene.name}}</span>
        <div class="cosm-icone {{scene.flags.torgeternity.cosm}}">
          <div
            class="{{../lang}} cosm-card {{scene.flags.torgeternity.cosm}}{{#if (and ../y1pp (eq scene.flags.torgeternity.cosm 'panPacifica') (or (eq ../lang 'en' ) (eq ../lang 'de' )))}}Y1{{/if}}">
          </div>
        </div>
        {{#if scene.flags.torgeternity.displayCosm2}}
          <div
            class="{{#unless scene.flags.torgeternity.isMixed}} dominant2ndCosm {{/unless}} cosm-icone {{scene.flags.torgeternity.cosm2}}">
            <div class="{{../lang}} cosm-card cosm2 {{scene.flags.torgeternity.cosm2}} "></div>
          </div>
        {{/if}}
      </li>
    {{/each}}
  </menu>
</nav>