<div>
    <form>
        <td>
            <table>
                <tr>
                    <td>{{localize "torgeternity.cosms.aysle"}}<br>{{log this}}
                        <img src="systems\torgeternity\images\cosm-icons\aysle.webp" style="height:80px; width:80px{{#if this.poss.object.system.other.possibilitiesByCosm.ayslePoss}}{{else}};filter:grayscale(1){{/if}}"><br>
                        <input style="text-align:center;width:80px;background:rgb(200,200,200)" id="ayslePoss" type="number"
                        value="{{this.poss.object.system.other.possibilitiesByCosm.ayslePoss}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "torgeternity.cosms.coreEarth"}}<br>
                        <img src="systems\torgeternity\images\cosm-icons\coreEarth.webp" style="height:80px; width:80px{{#if this.poss.object.system.other.possibilitiesByCosm.coreEarthPoss}}{{else}};filter:grayscale(1){{/if}}"><br>
                        <input style="text-align:center;width:80px;background:rgb(200,200,200)" id="coreEarthPoss" type="number"
                        value="{{this.poss.object.system.other.possibilitiesByCosm.coreEarthPoss}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "torgeternity.cosms.cyberpapacy"}}<br>
                        <img src="systems\torgeternity\images\cosm-icons\cyberpapacy.webp" style="height:80px; width:80px{{#if this.poss.object.system.other.possibilitiesByCosm.cyberpapacyPoss}}{{else}};filter:grayscale(1){{/if}}"><br>
                        <input style="text-align:center;width:80px;background:rgb(200,200,200)" id="cyberpapacyPoss" type="number"
                        value="{{this.poss.object.system.other.possibilitiesByCosm.cyberpapacyPoss}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "torgeternity.cosms.livingLand"}}<br>
                        <img src="systems\torgeternity\images\cosm-icons\livingLand.webp" style="height:80px; width:80px{{#if this.poss.object.system.other.possibilitiesByCosm.livingLandPoss}}{{else}};filter:grayscale(1){{/if}}"><br>
                        <input style="text-align:center;width:80px;background:rgb(200,200,200)" id="livingLandPoss" type="number"
                        value="{{this.poss.object.system.other.possibilitiesByCosm.livingLandPoss}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "torgeternity.cosms.nileEmpire"}}<br>
                        <img src="systems\torgeternity\images\cosm-icons\nileEmpire.webp" style="height:80px; width:80px{{#if this.poss.object.system.other.possibilitiesByCosm.nileEmpirePoss}}{{else}};filter:grayscale(1){{/if}}"><br>
                        <input style="text-align:center;width:80px;background:rgb(200,200,200)" id="nileEmpirePoss" type="number"
                        value="{{this.poss.object.system.other.possibilitiesByCosm.nileEmpirePoss}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "torgeternity.cosms.orrorsh"}}<br>
                        <img src="systems\torgeternity\images\cosm-icons\orrorsh.webp" style="height:80px; width:80px{{#if this.poss.object.system.other.possibilitiesByCosm.orrorshPoss}}{{else}};filter:grayscale(1){{/if}}"><br>
                        <input style="text-align:center;width:80px;background:rgb(200,200,200)" id="orrorshPoss" type="number"
                        value="{{this.poss.object.system.other.possibilitiesByCosm.orrorshPoss}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "torgeternity.cosms.panPacifica"}}<br>
                        <img src="systems\torgeternity\images\cosm-icons\panPacifica.webp" style="height:80px; width:80px{{#if this.poss.object.system.other.possibilitiesByCosm.panPacificaPoss}}{{else}};filter:grayscale(1){{/if}}"><br>
                        <input style="text-align:center;width:80px;background:rgb(200,200,200)" id="panPacificaPoss" type="number"
                        value="{{this.poss.object.system.other.possibilitiesByCosm.panPacificaPoss}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "torgeternity.cosms.tharkold"}}<br>
                        <img src="systems\torgeternity\images\cosm-icons\tharkold.webp" style="height:80px; width:80px{{#if this.poss.object.system.other.possibilitiesByCosm.tharkoldPoss}}{{else}};filter:grayscale(1){{/if}}"><br>
                        <input style="text-align:center;width:80px;background:rgb(200,200,200)" id="tharkoldPoss" type="number"
                        value="{{this.poss.object.system.other.possibilitiesByCosm.tharkoldPoss}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "torgeternity.cosms.other"}}<br>
                        <img src="systems\torgeternity\images\icons\perk.webp" alt="Other" style="height:80px; width:80px{{#if this.poss.object.system.other.possibilitiesByCosm.otherPoss}}{{else}};filter:grayscale(1){{/if}}"><br>
                        <input style="text-align:center;width:80px;background:rgb(200,200,200)" id="otherPoss" type="number"
                        value="{{this.poss.object.system.other.possibilitiesByCosm.otherPoss}}" data-dtype="Number"/>
                    </td>
                </tr>
            </table>
        </td>
    </form>
    <button class="save-button">{{localize "CARDS.Save"}}</button>
</div>