<div class="possibilitiesByCosmWindow">

  <div class="possibilitiesByCosmEntry {{#unless actorPoss.ayslePoss}}hide{{/unless}}"
    data-tooltip="{{localize 'torgeternity.cosms.aysle'}}">
    <a class="content-link"
      data-action="testActiveModule"
      data-link
      data-uuid="{{localize 'torgeternity.cosms.ayslePossLink'}}"
      data-hash="{{localize 'torgeternity.cosms.ayslePossLink2'}}">
      {{localize "torgeternity.cosms.aysle"}}
    </a>
    <object class="imagesShown" type="image/webp" data="systems\torgeternity\images\possy_aysle.webp">
      <img class="imagesShown" src="systems\torgeternity\images\cosm-icons\aysle.webp" data-tooltip="No Module">
    </object>
    <input class="inputField" type="number" data-dtype="Number"
      name="ayslePoss" value="{{actorPoss.ayslePoss}}">
  </div>

  <div class="possibilitiesByCosmEntry {{#unless actorPoss.coreEarthPoss}}hide{{/unless}}"
    data-tooltip="{{localize 'torgeternity.cosms.coreEarth'}}">
    <a class="content-link"
      data-action="testActiveModule"
      data-link
      data-uuid="{{localize 'torgeternity.cosms.coreEarthPossLink'}}"
      data-hash="{{localize 'torgeternity.cosms.coreEarthPossLink2'}}">
      {{localize "torgeternity.cosms.coreEarth"}}
    </a>
    <img class="imagesShown" src="systems\torgeternity\images\possytoken.webp">
    <input class="inputField" type="number" data-dtype="Number" required="true"
      name="coreEarthPoss" value="{{actorPoss.coreEarthPoss}}">
  </div>

  <div class="possibilitiesByCosmEntry {{#unless actorPoss.cyberpapacyPoss}}hide{{/unless}}"
    data-tooltip="{{localize 'torgeternity.cosms.cyberpapacy'}}">
    <a class="content-link"
      data-action="testActiveModule"
      data-link
      data-uuid="{{localize 'torgeternity.cosms.cyberpapacyPossLink'}}"
      data-hash="{{localize 'torgeternity.cosms.cyberpapacyPossLink2'}}">
      {{localize "torgeternity.cosms.cyberpapacy"}}
    </a>
    <object class="imagesShown" type="image/webp" data="systems\torgeternity\images\possy_cyberpapacy.webp">
      <img class="imagesShown" src="systems\torgeternity\images\cosm-icons\cyberpapacy.webp" data-tooltip="No Module">
    </object>
    <input class="inputField" type="number" data-dtype="Number"
      name="cyberpapacyPoss" value="{{actorPoss.cyberpapacyPoss}}">
  </div>

  <div class="possibilitiesByCosmEntry {{#unless actorPoss.livingLandPoss}}hide{{/unless}}"
    data-tooltip="{{localize 'torgeternity.cosms.livingLand'}}">
    <a class="content-link"
      data-action="testActiveModule"
      data-link
      data-uuid="{{localize 'torgeternity.cosms.livingLandPossLink'}}"
      data-hash="{{localize 'torgeternity.cosms.livingLandPossLink2'}}">
      {{localize "torgeternity.cosms.livingLand"}}
    </a>
    <object class="imagesShown" type="image/webp" data="systems\torgeternity\images\possy_livingland.webp">
      <img class="imagesShown" src="systems\torgeternity\images\cosm-icons\livingLand.webp" data-tooltip="No Module">
    </object>
    <input class="inputField" type="number" data-dtype="Number"
      name="livingLandPoss" value="{{actorPoss.livingLandPoss}}">
  </div>

  <div class="possibilitiesByCosmEntry {{#unless actorPoss.nileEmpirePoss}}hide{{/unless}}"
    data-tooltip="{{localize 'torgeternity.cosms.nileEmpire'}}">
    <a class="content-link"
      data-action="testActiveModule"
      data-link
      data-uuid="{{localize 'torgeternity.cosms.nileEmpirePossLink'}}"
      data-hash="{{localize 'torgeternity.cosms.nileEmpirePossLink2'}}">
      {{localize "torgeternity.cosms.nileEmpire"}}
    </a>
    <object class="imagesShown" type="image/webp" data="systems\torgeternity\images\possy_nileempire.webp">
      <img class="imagesShown" src="systems\torgeternity\images\cosm-icons\nileEmpire.webp" data-tooltip="No Module">
    </object>
    <input class="inputField" type="number" data-dtype="Number"
      name="nileEmpirePoss" value="{{actorPoss.nileEmpirePoss}}">
  </div>

  <div class="possibilitiesByCosmEntry {{#unless actorPoss.orrorshPoss}}hide{{/unless}}"
    data-tooltip="{{localize 'torgeternity.cosms.orrorsh'}}">
    <a class="content-link"
      data-action="testActiveModule"
      data-link
      data-uuid="{{localize 'torgeternity.cosms.orrorshPossLink'}}"
      data-hash="{{localize 'torgeternity.cosms.orrorshPossLink2'}}">
      {{localize "torgeternity.cosms.orrorsh"}}
    </a>
    <object class="imagesShown" type="image/webp" data="systems\torgeternity\images\possy_orrorsh.webp">
      <img class="imagesShown" src="systems\torgeternity\images\cosm-icons\orrorsh.webp" data-tooltip="No Module">
    </object>
    <input class="inputField" type="number" data-dtype="Number"
      name="orrorshPoss" value="{{actorPoss.orrorshPoss}}">
  </div>

  <div class="possibilitiesByCosmEntry {{#unless actorPoss.panPacificaPoss}}hide{{/unless}}"
    data-tooltip="{{localize 'torgeternity.cosms.panPacifica'}}">
    <a class="content-link"
      data-action="testActiveModule"
      data-link
      data-uuid="{{localize 'torgeternity.cosms.panPacificaPossLink'}}"
      data-hash="{{localize 'torgeternity.cosms.panPacificaPossLink2'}}">
      {{localize "torgeternity.cosms.panPacifica"}}
    </a>
    <object class="imagesShown" type="image/webp" data="systems\torgeternity\images\possy_panpacifica.webp">
      <img class="imagesShown" src="systems\torgeternity\images\cosm-icons\panPacifica.webp" data-tooltip="No Module">
    </object>
    <input class="inputField" type="number" data-dtype="Number"
      name="panPacificaPoss" value="{{actorPoss.panPacificaPoss}}">
  </div>

  <div class="possibilitiesByCosmEntry {{#unless actorPoss.tharkoldPoss}}hide{{/unless}}"
    data-tooltip="{{localize 'torgeternity.cosms.tharkold'}}">
    <a class="content-link"
      data-action="testActiveModule"
      data-link
      data-uuid="{{localize 'torgeternity.cosms.tharkoldPossLink'}}"
      data-hash="{{localize 'torgeternity.cosms.tharkoldPossLink2'}}">
      {{localize "torgeternity.cosms.tharkold"}}
    </a>
    <object class="imagesShown" type="image/webp" data="systems\torgeternity\images\possy_tharkold.webp">
      <img class="imagesShown" src="systems\torgeternity\images\cosm-icons\tharkold.webp" data-tooltip="No Module">
    </object>
    <input class="inputField" type="number" data-dtype="Number"
      name="tharkoldPoss" value="{{actorPoss.tharkoldPoss}}">
  </div>

  <div class="possibilitiesByCosmEntry {{#unless actorPoss.otherPoss}}hide{{/unless}}"
    data-tooltip="{{localize 'torgeternity.cosms.otherPoss'}}">
    <a class="content-link"
      data-action="testActiveModule"
      data-link
      data-uuid="{{localize 'torgeternity.cosms.otherPossLink'}}"
      data-hash="{{localize 'torgeternity.cosms.otherPossLink2'}}">
      {{localize "torgeternity.cosms.other"}}
    </a>
    <object class="imagesShown" alt="Other" data="systems\torgeternity\images\possy_other.webp">
    </object>
    <input class="inputField" type="number" data-dtype="Number"
      name="otherPoss" value="{{actorPoss.otherPoss}}">
  </div>
</div>