<div class="possibilitiesByCosmWindow">

  {{#each cosms as |cosm cosmId|}}
    <div class="possibilitiesByCosmEntry {{#unless (lookup @root.actorPoss cosm.actorField)}}hide{{/unless}}"
      data-tooltip-html="<p>{{cosm.name}}</p>{{#if cosm.largeIcon}}<img style='width: 80px; height: 80px' src='{{cosm.largeIcon}}'>{{/if}}">
      <a class="content-link" data-link
        data-action="testActiveModule" data-uuid="{{cosm.uuid}}" data-hash="{{cosm.hash}}">
        {{cosm.name}}
      </a>
      <img class="imagesShown" src="{{cosm.icon}}">
      <input class="inputField" type="number" data-dtype="Number"
        name="{{cosm.actorField}}" value="{{lookup @root.actorPoss cosm.actorField}}">
    </div>
  {{/each}}
</div>