<div>
	<form>
		<table>
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<fieldset>
									<legend>{{localize "torgeternity.sheetLabels.dn"}}</legend>
									<span class="skill-check-options">
										<select name="difficulty" class="input-box">
											<option 
												value="6"
												id="dn-veryEasy" 
												{{#if test.dnVeryEasy}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.veryEasy"}}
											</option>
											<option 
												value="8"
												id="dn-easy" 
												{{#if test.dnEasy}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.easy"}}
											</option>
											<option 
												value="10"
												id="dn-standard" 
												{{#if test.dnStandard}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.standard"}}
											</option>
											<option 
												value="12"
												id="dn-challenging" 
												{{#if test.dnChallenging}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.challenging"}}
											</option>
											<option 
												value="14"
												id="dn-hard" 
												{{#if test.dnHard}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.hard"}}
											</option>
											<option 
												value="16"
												id="dn-veryHard" 
												{{#if test.dnVeryHard}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.veryHard"}}
											</option>
											<option 
												value="18"
												id="dn-heroic" 
												{{#if test.dnHeroic}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.heroic"}}
											</option>
											<option 
												value="20"
												id="dn-nearImpossible" 
												{{#if test.dnNearImpossible}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.nearImpossible"}}
											</option>
											<option 
												value="{{test.targetCharisma}}"
												id="dn-targetCharisma" 
												{{#if test.dnTargetCharisma}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetCharisma"}} ({{test.targetCharisma}})
											</option>
											<option 
												value="{{test.targetDexterity}}"
												id="dn-targetDexterity" 
												{{#if test.dnTargetDexterity}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetDexterity"}} ({{test.targetDexterity}})
											</option>
											<option 
												value="{{test.targetMind}}"
												id="dn-targetMind" 
												{{#if test.dnTargetMind}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetMind"}} ({{test.targetMind}})
											</option>
											<option 
												value="{{test.targetSpirit}}"
												id="dn-targetSpirit" 
												{{#if test.dnTargetSpirit}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetSpirit"}} ({{test.targetSpirit}})
											</option>
											<option 
												value="{{test.targetStrength}}"
												id="dn-targetStrength" 
												{{#if test.dnTargetStrength}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetStrength"}} ({{test.targetStrength}})
											</option>
											<option 
												value="{{test.targetAlteration}}"
												id="dn-targetAlteration" 
												{{#if test.dnTargetAlteration}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetAlteration"}} ({{test.targetAlteration}})
											</option>
											<option 
												value="{{test.targetConjuration}}"
												id="dn-targetConjuration" 
												{{#if test.dnTargetConjuration}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetConjuration"}} ({{test.targetConjuration}})
											</option>
											<option 
												value="{{test.targetDivination}}"
												id="dn-targetDivination" 
												{{#if test.dnTargetDivination}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetDivination"}} ({{test.targetDivination}})
											</option>
											<option 
												value="{{test.targetDodge}}"
												id="dn-targetDodge" 
												{{#if test.dnTargetDodge}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetDodge"}} ({{test.targetDodge}})
											</option>
											<option 
												value="{{test.targetFaith}}"
												id="dn-targetFaith" 
												{{#if test.dnTargetFaith}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetFaith"}} ({{test.targetFaith}})
											</option>
											<option 
												value="{{test.targetIntimidation}}"
												id="dn-targetIntimidation" 
												{{#if test.dnTargetIntimidation}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetIntimidation"}} ({{test.targetIntimidation}})
											</option>
											<option 
												value="{{test.targetKinesis}}"
												id="dn-targetKinesis" 
												{{#if test.dnTargetKinesis}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetKinesis"}} ({{test.targetKinesis}})
											</option>
											<option 
												value="{{test.targetManeuver}}"
												id="dn-targetManeuver" 
												{{#if test.dnTargetManeuver}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetManeuver"}} ({{test.targetManeuver}})
											</option>
											<option 
												value="{{test.targetMeleeWeapons}}"
												id="dn-targetMeleeWeapons" 
												{{#if test.dnTargetMeleeWeapons}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetMeleeWeapons"}} ({{test.targetMeleeWeapons}})
											</option>
											<option 
												value="{{test.targetPrecognition}}"
												id="dn-targetPrecognition" 
												{{#if test.dnTargetPrecognition}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetPrecognition"}} ({{test.targetPrecognition}})
											</option>
											<option 
												value="{{test.targetStealth}}"
												id="dn-targetStealth" 
												{{#if test.dnTargetStealth}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetStealth"}} ({{test.targetStealth}})
											</option>
											<option 
												value="{{test.targetTaunt}}"
												id="dn-targetTaunt" 
												{{#if test.dnTargetTaunt}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetTaunt"}} ({{test.targetTaunt}})
											</option>
											<option 
												value="{{test.targetTrick}}"
												id="dn-targetTrick" 
												{{#if test.dnTargetTrick}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetTrick"}} ({{test.targetTrick}})
											</option>
											<option 
												value="{{test.targetUnarmedCombat}}"
												id="dn-targetUnarmedCombat" 
												{{#if test.dnTargetUnarmedCombat}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetUnarmedCombat"}} ({{test.targetUnarmedCombat}})
											</option>
											<option 
												value="{{test.targetWillpower}}"
												id="dn-targetWillpower" 
												{{#if test.dnTargetWillpower}}
													selected = "true"
												{{/if}}
												>{{localize "torgeternity.dnTypes.targetWillpower"}} ({{test.targetWillpower}})
											</option>
										</select>
									</span>
								</fieldset>							</td>
							<td>
								<fieldset>
									<legend title="Choose whether to (1) roll for a bonus number or (2) input a previously generated bonus when attempting a multi-action.">Bonus</legend>
									<span class="skill-check-options">
										<input type="radio" id="roll" name="bonus" value="0" checked>
										<label for="roll">{{localize 'torgeternity.sheetLabels.roll'}}</label>
										<input type="radio" id="previous-bonus" title="When engaged in multi-actions, check this box to input the bonus number from a previous test." name="bonus" value="1">
										<label for="input">{{localize "torgeternity.sheetLabels.inputExisting"}}</label>
										<input type="number" id="bonus-text" title="Input BONUS NUMBER from previous test, not die total." value="0" style="width:3em">
									</span>
								</fieldset>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<table>
					<tr>
						<td>
							{{> "systems/torgeternity/templates/testDialogs/disfavored.hbs"}}
						</td>
						<td>
							<fieldset>
								<legend>{{localize "torgeternity.sheetLabels.movementPenalty"}}</legend>
								<span class="skill-check-options">
									<input type="radio" class="walking-radio" name="movement" value="0" checked>
									<label for="walking">{{localize "torgeternity.sheetLabels.walking"}}</label>
									<input type="radio" id="running-radio" class="running-radio" name="movement" value="-2">
									<label for="running">{{localize "torgeternity.sheetLabels.running"}}</label>
								</span>
							</fieldset>
						</td>
					</tr>
				</table>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>{{localize "torgeternity.sheetLabels.multiActionPenalty"}}</legend>
						<span class="skill-check-options">{{localize "torgeternity.sheetLabels.actions"}}:
							<input type="radio" id="multi1-radio" name="multiAction" value="0" checked>
							<label for="1">1</label>
							<input type="radio" id="multi2-radio" name="multiAction" value="-2">
							<label for="2">2 (-2)</label>
							<input type="radio" id="multi3-radio" name="multiAction" value="-4">
							<label for="3">3 (-4)</label>
							<input type="radio" id="multi4-radio" name="multiAction" value="-6">
							<label for="4">4 (-6)</label>
						</span>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>{{localize "torgeternity.sheetLabels.multiTargetPenalty"}}</legend>
						<span class="skill-check-options">
							{{localize "torgeternity.sheetLabels.targets"}}:
							<input type="radio" id="targets1-radio" name="multiTarget" value="0" checked>
							<label for="1">1</label>
							<input type="radio" id="targets2-radio" name="multiTarget" value="-2">
							<label for="2">2 (-2)</label>
							<input type="radio" id="targets3-radio" name="multiTarget" value="-4">
							<label for="3">3 (-4)</label>
							<input type="radio" id="targets4-radio" name="multiTarget" value="-6">
							<label for="4">4 (-6)</label>
							<input type="radio" id="targets5-radio" name="multiTarget" value="-8">
							<label for="4">5 (-8)</label>
							<input type="radio" id="targets6-radio" name="multiTarget" value="-10">
							<label for="4">6 (-10)</label>
						</span>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>{{localize "torgeternity.sheetLabels.attackOptions"}}</legend>
						<span class="skill-check-options">
							{{localize "torgeternity.sheetLabels.calledShot"}}:
							<input type="radio" id="called-shot-none" name="calledShot" value="0" checked>
							<label for="called-shot-none">{{localize "torgeternity.sheetLabels.none"}}</label>
							<input type="radio" id="called-shot-2" name="calledShot" value="-2">
							<label for="called-shot-1">-2</label>
							<input type="radio" id="called-shot-4" name="calledShot" value="-4">
							<label for="called-shot-4">-4</label>
							<input type="radio" id="called-shot-6" name="calledShot" value="-6">
							<label for="called-shot-6">-6</label>
							<input type="checkbox" id="vital-area" title="+4 Damage" name="vitalArea" value="4">
							<label for="called-shot-damage">{{localize "torgeternity.sheetLabels.vitalArea"}}</label><br>
						</span>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>{{localize "torgeternity.sheetLabels.targetOptions"}}</legend>
						<span class="skill-check-options">
							{{localize "torgeternity.sheetLabels.concealment"}}:
							<input type="radio" id="concealment-none" name="concealment" value="0" checked>
							<label for="concealment-none">None</label>
							<input type="radio" id="concealment-2" name="concealment" value="-2">
							<label for="concealment-2">-2</label>
							<input type="radio" id="concealment-4" name="concealment" value="-4">
							<label for="concealment-4">-4</label>
							<input type="radio" id="concealment-6" name="concealment" value="-6">
							<label for="concealment-6">-6</label>
							|
							{{localize "torgeternity.sheetLabels.coverBonus"}}
							<input type="text" id="cover" name="cover" title="Bonus added to target toughness as a result of cover" style="width:3em" value="0">
						</span>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>{{localize "torgeternity.sheetLabels.otherModifiers"}}</legend>
						<table>
							<tr>
								<th style="width:75%">
									{{localize "torgeternity.sheetLabels.description"}}
								</th>
								<th>
									{{localize "torgeternity.sheetLabels.effect"}}</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="other1-description-text" name="otherDescription1" value="">
								</td>
								<td>
									<input type="number" id="other1-modifier-text" name="otherEffect1" value="0">
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" id="other2-description-text" name="otherDescription2" value="">
								</td>
								<td>
									<input type="number" id="other2-modifier-text" name="otherEffect2" value="0">
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" id="other3-description-text" name="otherDescription3" value="">
								</td>
								<td>
									<input type="number" id="other3-modifier-text" name="otherEffect3" value="0">
								</td>
							</tr>
						</table>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>{{localize "torgeternity.sheetLabels.statusEffects"}}</legend>
						<div class="skill-check-dialog-status-effects">
							{{#if test.stymiedModifier}}
								{{localize "torgeternity.statusEffects.stymied"}}:
								{{test.stymiedModifier}}<br>
							{{/if}}
							{{#if test.darknessModifier}}
								{{localize "torgeternity.statusEffects.darkness"}}:
								{{test.darknessModifier}}<br>
							{{/if}}
							{{#if test.woundModifier}}
								{{localize "torgeternity.stats.wounds"}}:
								{{test.woundModifier}}
								<br>
							{{/if}}
							{{#if test.sizeModifier}}
								{{localize "torgeternity.statusEffects.targetSize"}}: +{{test.sizeModifier}}
								<br>
							{{/if}}
							{{#if test.vulnerableModifier}}
								{{localize "torgeternity.statusEffects.targetVulnerability"}}: +{{test.vulnerableModifier}}<br>
							{{/if}}
						</div>
					</fieldset>
				</td>
			</tr>
		</table>
	</form>
	<button class="attack-roll-button">
		<i class="fas fa-dice-d20"></i>
		{{localize "torgeternity.sheetLabels.roll"}}</button>
</div>
