{{#if ammunition.length}}
<fieldset class="ammofield">
    <legend>{{localize "torgeternity.gear.ammunition"}}</legend>
    <ul>
        {{#each ammunition as |ammo|}}
        <li>
            <p>{{ammo.name}}</p>
            <a title="{{localize "torgeternity.iconeTitles.reload"}}" data-item-id="{{ammo.id}}"><i class="fa-solid fa-bullseye reload-weapon"></i></a>
            <a title="{{localize "torgeternity.iconeTitles.delete"}}"><i class="fa-solid fa-trash"></i></a>
        </li>
        {{/each}}
    </ul>
</fieldset>
{{/if}}