<div>
  <h3 class="item-type left-tab"><span>{{typeLabel}}</span></h3>

  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{item.type}} Name" /></h1>
  </header>
</div>