<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" class="profile-img" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" style="font-family:'Palatino Linotype';background-color:white;border-radius:10px" /></h1>
        <img src="systems/torgeternity/images/te-logo.png" class="profile-img" style="border:none;padding-left:5px;padding-right:5px;height:40px" title="TE Logo" />
    </header>
    <div>
        <table style="border:none;background:none;font-family:'Palatino Linotype';font-size:14;font-weight:bold">
            <tr>
            <td style="text-align:center" width="30%">
                <span class="vital-box">
                    Wounds: 
                    <input name="data.wounds.value" type="text" value="{{data.wounds.value}}" data-dtype="Number" class="small-input" />
                    /
                    <input name="data.wounds.max" type="text" value="{{data.wounds.max}}" data-dtype="Number" class="small-input" />
                </span>
            </td>
                <td style="text-align:center" width="30%">
                    <span class="vital-box">
                        Shock: 
                        <input name="data.shock.value" type="text" value="{{data.shock.value}}" data-dtype="Number" class="small-input" />
                        /
                        <input name="data.shock.max" type="text" value="{{data.shock.max}}" data-dtype="Number" class="small-input" />
                    </span>
                </td>
            <td style="text-align:center" width="30%">
                <span class="vital-box">
                    <a class="item-control possibility-roll" title="Possibility Roll">Possibilities: </a>
                    <input name="data.other.possibilities" type="text" value="{{data.other.possibilities}}" data-dtype="Number" class="small-input" />
                </span>
            </td>
            <td style="text-align:center" width="10%">
                <span class="vital-box">
                    <a class="item-control up-roll" title="Up Roll">Up</a>
                </span>
            </td>
            </tr>
        </table>
    </div>  


    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary" style="background-image:url('systems/torgeternity/images/tab-header.png');background-size:578px 30px;background-repeat:no-repeat;color:white">
        <a class="item" data-tab="stats" style="vertical-align:center">Stats</a>
        <a class="item" data-tab="perks">Perks</a>
        <a class="item" data-tab="gear">Gear</a>
        <a class="item" data-tab="powers">Powers</a>
        <a class="item" data-tab="background">Background</a>
    </nav>

    <secton class="sheet-body"  style="display:flex;flex-direction:column">

        <div class="tab stats" data-group="primary" data-tab="stats">
            <table style="border:none;background-color:transparent;margin-top:0px;margin-bottom:0px">
                <td width="20%" style="margin:3px;vertical-align:top">
                    <div class="list-section-heading">
                        Attributes
                    </div>
                    <table class="stats-table">
                        <tr>
                            <td>
                                <a class="skill-roll" data-skill-value="{{data.attributes.charisma}}" data-skill-name="Charisma">{{localize "torgeternity.attributes.charisma"}}</a>
                            </td>
                            <td>
                                <input name="data.attributes.charisma" type="text" value="{{data.attributes.charisma}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="skill-roll" data-skill-value="{{data.attributes.dexterity}}" data-skill-name="Dexterity">{{localize "torgeternity.attributes.dexterity"}}</a>
                            </td>
                            <td>
                                <input name="data.attributes.dexterity" type="text" value="{{data.attributes.dexterity}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="skill-roll" data-skill-value="{{data.attributes.mind}}" data-skill-name="Mind">{{localize "torgeternity.attributes.mind"}}</a>
                            </td>
                            <td>
                                <input name="data.attributes.mind" type="text" value="{{data.attributes.mind}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="skill-roll" data-skill-value="{{data.attributes.spirit}}" data-skill-name="Spirit">{{localize "torgeternity.attributes.spirit"}}</a>
                            </td>
                            <td>
                                <input name="data.attributes.spirit" type="text" value="{{data.attributes.spirit}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="skill-roll" data-skill-value="{{data.attributes.strength}}" data-skill-name="Strength">{{localize "torgeternity.attributes.strength"}}</a>
                            </td>
                            <td>
                                <input name="data.attributes.strength" type="text" value="{{data.attributes.strength}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                    </table>

                    <table class="stats-table">
                        <tr>
                            <td>
                                <span class="main-label">Move</span>
                            </td>
                            <td>
                                <input name="data.other.move" type="text" value="{{data.other.move}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Run</span>
                            </td>
                            <td>
                                <input name="data.other.run" type="text" value="{{data.other.run}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Toughness</span>
                            </td>
                            <td>
                                <input name="data.other.toughness" type="text" value="{{data.other.toughness}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Armor</span>
                            </td>
                            <td>
                                <input name="data.other.armor" type="text" value="{{data.other.armor}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                    </table>


                    <div class="list-section-heading">
                        Cosm
                    </div>
                    <select name="data.other.cosm" class="input-box" style="width:100%;font-size:14px">
                        {{#select data.other.cosm}}
                        {{#each config.cosmTypes as |name type|}}
                        <option value="{{localize name}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <table class="stats-table">
                        <tr>
                            <td>
                                <span class="main-label">Magic</span>
                            </td>
                            <td>
                                <input name="data.axioms.magic" type="text" value="{{data.axioms.magic}}" data=dtype="Number" class="small-input" />
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Social</span>
                            </td>
                            <td>
                                <input name="data.axioms.social" type="text" value="{{data.axioms.social}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Spirit</span>
                            </td>
                            <td>
                                <input name="data.axioms.spirit" type="text" value="{{data.axioms.spirit}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Tech</span>
                            </td>
                            <td>
                                <input name="data.axioms.tech" type="text" value="{{data.axioms.tech}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="2%">

                </td>
                <td width="56%" height="400px" style="vertical-align:top;margin:3px;padding-top:0px;padding-bottom:0px">
                    <div class="list-section-heading">
                        <a class="skill-edit-toggle">Skills</a>
                    </div>
                    <div style="height:390px;overflow:scroll">
                        <table class="stats-table" style="overflow:auto">
                            <tr style="text-align:left;margin:2px">
                                <th></th>
                                <th>Attribute</th>
                                <th>Adds</th>
                                <th>Total</th>
                            </tr>


                            {{#if data.editstate}}
                                {{#each data.skills as |content name|}}
                                    <tr>
                                        <td>
                                            <a class="skill-roll" data-skill-value="{{content.value}}" data-skill-name="{{localize (concatSkillName name)}}">{{localize (concatSkillName name)}}</a> 
                                        </td>
                                        <td class="skill-roll">
                                            {{localize (concatAttributeName content.baseAttribute)}}
                                        </td>
                                        <td>
                                            <input name="data.skills.{{name}}.adds" type="text" class="small-input" value="{{content.adds}}" data-dtype="Number" style="width:30px;text-align:center" />
                                        </td>
                                        <td class="skill-roll" style="text-align:center">
                                            {{content.value}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{else}}
                                {{#each data.skills as |content name|}}
                                    {{#if content.value}}                                                                            
                                    <tr>
                                        <td>
                                            <a class="skill-roll" data-skill-value="{{content.value}}" data-skill-name="{{localize (concatSkillName name)}}">{{localize (concatSkillName name)}}</a> 
                                        </td>
                                        <td class="skill-roll">
                                            {{localize (concatAttributeName content.baseAttribute)}}
                                        </td>
                                        <td>
                                            <input name="data.skills.{{name}}.adds" type="text" class="small-input" value="{{content.adds}}" data-dtype="Number" style="width:30px;text-align:center" />
                                        </td>
                                        <td class="skill-roll" style="text-align:center">
                                            {{content.value}}
                                        </td>
                                    </tr>
                                    {{/if}}
                                {{/each}}
                            {{/if}}

                        </table>
                    </div>
                </td>
                <td width="2%">

                </td>
                <td width="20%" style="vertical-align:top;margin:3px">
                    <div class="list-section-heading">
                        <a class="activeDefense-roll">Defenses</a>
                    </div>
                    <table class="stats-table">
                        <tr>
                            <td>
                                <span class="main-label">Dodge</span>
                            </td>
                            <td>
                                <span class="main-label">{{data.dodgeDefense}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Melee</span>
                            </td>
                            <td>
                                <span class="main-label">{{data.meleeWeaponsDefense}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Unarmed</span>
                            </td>
                            <td>
                                <span class="main-label">{{data.unarmedCombatDefense}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Intimidation</span>
                            </td>
                            <td>
                                <span class="main-label">{{data.intimidationDefense}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Maneuver</span>
                            </td>
                            <td>
                                <span class="main-label">{{data.maneuverDefense}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Taunt</span>
                            </td>
                            <td>
                                <span class="main-label">{{data.tauntDefense}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Trick</span>
                            </td>
                            <td>
                                <span class="main-label">{{data.trickDefense}}</span>
                            </td>
                        </tr>
                    </table>
                    <div class="list-section-heading">
                        XP
                    </div>
                    <table class="stats-table" style="margin-bottom:0px">
                        <tr>
                            <td>
                                <span class="main-label">Unspent</span>
                            </td>
                            <td>
                                <input name="data.xp.unspent" type="text" value="{{data.xp.unspent}}" data=dtype="Number" class="small-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="main-label">Earned</span>
                            </td>
                            <td>
                                <input name="data.xp.earned" type="text" value="{{data.xp.earned}}" data=dtype="Number" class="small-input" style="width:30px" />
                            </td>
                        </tr>
                    </table>

                    <p class="item-data-label" style="padding:0px 0px 0px 0px">
                        Clearance
                    </p>
                    <select name="data.details.clearance" class="input-box" style="font-size:14px">
                        {{#select data.details.clearance}}
                        {{#each config.clearances as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    <div style="height:15px">

                    </div>

                    <p class="item-data-label" style="padding:0px 0px 0px 0px">
                        Race
                    </p>
                    <select name="data.details.race" class="input-box" style="font-size:14px">
                        {{#select data.details.race}}
                        {{#each config.races as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                </td>
            </table>

        </div>

        <div class="tab perks" style="height:400px;overflow:scroll" data-group="primary" data-tab="perks">
            <div class="list-section-heading">
                {{localize "torgeternity.sheetLabels.perks"}}
            </div>
            <ol class="item-list">
                {{#each perk as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}}</a>
                        <div class="item-controls">
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.category}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.timestaken}}x
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
            <div class="list-section-heading">
                {{localize "torgeternity.sheetLabels.enhancements"}}
            </div>
            <ol class="item-list">
                {{#each enhancement as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Enhances {{item.data.perk}})</a>
                        <div class="item-controls">
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                   <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                        </div>
                    </div>               
               </li>
                {{/each}}
            </ol>
        </div>

        <div class="tab gear" style="height:400px;overflow:scroll" data-group="primary" data-tab="gear">
            <div class="list-section-heading">
                Weapons
            </div>
           <ol class="item-list">
                {{#each meleeweapons as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">                        
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Melee Weapon)</a> 
                        <div class="item-controls">
                            <a class="item-control item-attackRoll" title="Attack Roll"><i class="fas fa-dice-d20"></i></a>
                            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                TL {{item.data.techlevel}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.price}} ({{item.data.value}})
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.notes}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
            <ol class="item-list">
                {{#each missileweapon as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">                        
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Missile Weapon)</a> 
                        <div class="item-controls">
                            <a class="item-control item-attackRoll" title="Attack Roll"><i class="fas fa-dice-d20"></i></a>
                            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                TL {{item.data.techlevel}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.price}} ({{item.data.value}})
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.range}}
                            </div>
                            <div class="item-dropdown-extras">
                                Ammo: {{item.data.ammo}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.notes}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
            <ol class="item-list">
                {{#each firearm as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">                        
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Firearm)</a> 
                        <div class="item-controls">
                            <a class="item-control item-attackRoll" title="Attack Roll"><i class="fas fa-dice-d20"></i></a>
                            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                TL {{item.data.techlevel}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.price}} ({{item.data.value}})
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.range}}
                            </div>
                            <div class="item-dropdown-extras">
                                Ammo: {{item.data.ammo}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.notes}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>

            <ol class="item-list">
                {{#each heavyweapon as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">                        
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Heavy Weapon/Explosive)</a> 
                        <div class="item-controls">
                            <a class="item-control item-attackRoll" title="Attack Roll"><i class="fas fa-dice-d20"></i></a>
                            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                TL {{item.data.techlevel}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.price}} ({{item.data.value}})
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.range}}
                            </div>
                            <div class="item-dropdown-extras">
                                Ammo: {{item.data.ammo}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.notes}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>


            <div class="list-section-heading">
                Armor and Shields
            </div>
            <ol class="item-list">
                {{#each armor as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}}</a>
                        <div class="item-controls">
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.price}} ({{item.data.value}})
                            </div>
                            <div class="item-dropdown-extras">
                                TL {{item.data.techlevel}}
                            </div>                                 
                           <div class="item-dropdown-extras">
                                Bonus {{item.data.bonus}}
                            </div>                                 
                           <div class="item-dropdown-extras">
                                Max Dex {{item.data.maxDex}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
            <ol class="item-list">
                {{#each shield as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}}</a>
                        <div class="item-controls">
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.price}} ({{item.data.value}})
                            </div>
                            <div class="item-dropdown-extras">
                                TL {{item.data.techlevel}}
                            </div>                                 
                           <div class="item-dropdown-extras">
                                Bonus {{item.data.bonus}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>


            <div class="list-section-heading">
                {{torgeternity.itemSheetDescriptions.generalGear}}Other
            </div>
            <ol class="item-list">
                {{#each gear as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}}</a>
                        <div class="item-controls">
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.price}} ({{item.data.value}})
                            </div>
                            <div class="item-dropdown-extras">
                                TL {{item.data.techlevel}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
            <ol class="item-list">
                {{#each implant as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Implant)</a>
                        <div class="item-controls">
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.price}} ({{item.data.value}})
                            </div>
                            <div class="item-dropdown-extras">
                                TL {{item.data.techlevel}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
            <ol class="item-list">
                {{#each eternityshard as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Eternity Shard)</a>
                        <div class="item-controls">
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                Tap: {{item.data.tappingDifficulty}}
                            </div>
                            <div class="item-dropdown-extras">
                                Poss: {{item.data.possibilities}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
            <ol class="item-list">
                {{#each vehicle as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Vehicle)</a>
                        <div class="item-controls">
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.cosm}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.topspeed}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.pass}}
                            </div>                                 
                            <div class="item-dropdown-extras">
                                {{item.data.mr}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.wounds}}W/{{item.data.tough}}T
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        <div class="tab powers" style="height:400px;overflow:scroll" data-group="primary" data-tab="powers">
            <ol class="item-list">
                {{#each spell as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Spell)</a>
                        <div class="item-controls">
                            <a class="item-control item-powerRoll" title="Spell Roll"><i class="fas fa-dice-d20"></i></a>
                            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.skill}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.dn}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.castingtime}}
                            </div>                                 
                            <div class="item-dropdown-extras">
                                {{item.data.range}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.duration}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>

            <ol class="item-list">
                {{#each miracle as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Miracle)</a>
                        <div class="item-controls">
                            <a class="item-control item-powerRoll" title="Miracle Roll"><i class="fas fa-dice-d20"></i></a>
                            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.skill}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.dn}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.castingtime}}
                            </div>                                 
                            <div class="item-dropdown-extras">
                                {{item.data.range}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.duration}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>

            <ol class="item-list">
                {{#each psionicpower as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
                        <a class="item-name">{{item.name}} (Psionic)</a>
                        <div class="item-controls">
                            <a class="item-control item-powerRoll" title="Miracle Roll"><i class="fas fa-dice-d20"></i></a>
                            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
                            <a class="item-control item-tochat" title="Send to Chat"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.data.description}}}
                            <p></p>
                            <div class="item-dropdown-extras">
                                {{item.data.skill}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.dn}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.castingtime}}
                            </div>                                 
                            <div class="item-dropdown-extras">
                                {{item.data.range}}
                            </div>
                            <div class="item-dropdown-extras">
                                {{item.data.duration}}
                            </div>                                 
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>

        </div>

        <div class="tab background" data-group="primary" data-tab="background">
            <div class="sheet-content" style="height:375px">
                {{editor content=data.details.background target="data.details.background" button=true owner=owner editable=editable}}
            </div>
        </div>
        
    </secton>
</form>