{{#if (and ammunition.length (not ../ignoreAmmo))}}
  <fieldset class="ammofield">
    <legend>{{localize "torgeternity.gear.ammunition"}}</legend>
    <ul>
      {{#each ammunition as |ammo|}}
        <li>
          <p>{{ammo.name}}</p>
          <a data-tooltip="{{localize 'torgeternity.iconeTitles.reload'}}" data-item-id="{{ammo.id}}"
            {{disabled (not editable)}}>
            <i class="fa-solid fa-bullseye reload-weapon" data-action="reloadWeapon"></i></a>
          <a data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}" {{disabled (not editable)}}>
            <i class="fa-solid fa-trash"></i></a>
        </li>
      {{/each}}
    </ul>
  </fieldset>
{{/if}}