<section class="tab stats scrollable {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <div class="sheet-content">
    <div class="asside">
      <p class="item-data-label">{{localize "torgeternity.gear.techlevel"}}</p>
      <input
        name="system.techlevel"
        type="number"
        value="{{item.system.techlevel}}" />

      <p class="item-data-label">{{localize "torgeternity.sheetLabels.quantity"}}</p>
      <input
        name="system.quantity"
        type="number"
        value="{{item.system.quantity}}" />

      <p class="item-data-label">{{localize "torgeternity.sheetLabels.damageMod"}}</p>
      <input
        name="system.damageMod"
        type="number"
        value="{{item.system.damageMod}}" />

      <p class="item-data-label">{{localize "torgeternity.sheetLabels.APMod"}}</p>
      <input
        name="system.apMod"
        type="number"
        value="{{item.system.apMod}}" />

      <p class="item-data-label">{{localize "torgeternity.sheetLabels.firedamage"}}</p>
      <input
        name="system.fireDamage"
        type="checkbox"
        {{checked item.system.fireDamage}} />

      <p class="item-data-label">{{localize "torgeternity.sheetLabels.blastRadius"}}</p>
      <select name="system.blastRadius">
        <option>{{localize "torgeternity.sheetLabels.none"}}</option>
        {{selectOptions config.blastRadius selected=item.system.blastRadius localize=true}}
      </select>

      <p class="item-data-label">
        {{localize "torgeternity.chatText.check.modifier.darkness"}}{{localize "torgeternity.powers.modifier"}}
      </p>
      <select name="system.darknessMod">
        {{selectOptions config.levelDifferences selected=item.system.darknessMod localize=true}}
      </select>
    </div>

    <div class="main-content">
      <prose-mirror toggled name="system.description" class="item-description-textarea" {{disabled (not
        @root.editable)}}
        value="{{ item.system.description }}">{{{ description }}}</prose-mirror>
    </div>
</section>