<section class="tab stats scrollable {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <div class="sheet-content">
    <tr>
      <div class="asside">
        <p class="item-data-label">{{localize "torgeternity.gear.cosm"}}</p>
        {{formInput systemFields.cosm value=item.system.cosm name="system.cosm" localize=true sort=true}}

        <p class="item-data-label">{{localize "torgeternity.gear.techlevel"}}</p>
        <input
          name="system.axioms.tech"
          type="number"
          value="{{item.system.axioms.tech}}" />
        <p class="item-data-label">{{localize "torgeternity.gear.ammo"}}</p>
        <input
          name="system.ammo.value"
          type="number"
          value="{{item.system.ammo.value}}" />
        /
        <input
          name="system.ammo.max"
          type="number"
          value="{{item.system.ammo.max}}" />
        <p class="item-data-label">
          {{localize "torgeternity.gear.price"}}/{{localize "torgeternity.gear.value"}}
        </p>
        <input
          name="system.price"
          type="text"
          value="{{item.system.price}}" />
        <input
          name="system.value"
          type="number"
          value="{{item.system.value}}" />
        <p class="item-data-label">{{localize "torgeternity.gear.range"}}</p>
        <input
          name="system.range"
          type="text"
          value="{{item.system.range}}" />
        <p class="item-data-label">{{localize "torgeternity.gear.attackWith"}}</p>
        <select name="system.attackWith">
          {{selectOptions config.attackTypes selected=item.system.attackWith localize=true}}
        </select>
        <p class="item-data-label">{{localize "torgeternity.gear.damage"}}</p>
        <input
          name="system.damage"
          type="number"
          value="{{item.system.damage}}" />
        <p class="item-data-label">{{localize "torgeternity.gear.ap"}}</p>
        <input name="system.ap" type="number" value="{{item.system.ap}}" />
        <p class="item-data-label" style="grid-column: 1/3">
          {{localize "torgeternity.sheetLabels.secondaryAxiom"}}
        </p>

        <select style="grid-column: 1/3" name="system.secondaryAxiom"
          class=" selectSecondaryAxiom">
          <option value="none">{{localize "torgeternity.sheetLabels.none"}}</option>
          {{selectOptions config.axiomsNoTech selected=item.system.secondaryAxiom localize=true}}
        </select>

        {{#if displaySecondaryAxiomValue}}
          <p class="item-data-label" style="grid-column: 1/2">{{localize "torgeternity.gear.value"}}</p>
          <input
            name="system.axioms.{{item.system.secondaryAxiom}}"
            type="number"
            value="{{lookup item.system.axioms item.system.secondaryAxiom}}" />
        {{/if}}

      </div>
      <div class="main-content">
        <p class="item-data-label">
          {{localize "torgeternity.gear.notes"}}&nbsp;
          <input
            name="system.notes"
            type="text"
            value="{{item.system.notes}}" />
        </p>
        <p class="item-data-label">
          {{localize "torgeternity.gear.chatNote"}}
          <input
            name="system.chatNote"
            type="text"
            value="{{item.system.chatNote}}" />
        </p>
        <prose-mirror toggled name="system.description" class="item-description" {{disabled (not
          @root.editable)}}
          value="{{ item.system.description }}">{{{ description }}}</prose-mirror>
        {{> "systems/torgeternity/templates/items/ammunition-field.hbs"}}
      </div>
    </tr>
  </div>
</section>