<div>
  <h3 class="item-type left-tab"><span>{{typeLabel}}</span></h3>

  <header class="sheet-header flexrow">
    <img src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}"
      {{#if editable}}data-action="editImage" {{/if}} />
    <div class="flexcol">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{item.type}} Name" /></h1>
      <div class="flexrow">
        {{formGroup systemFields.traits value=item.system.traits localize=true hint="" editable=editable id="traits" sort=true}}
        {{#if editable}}
          <a type="checkbox" class="toggleTraits icon fa-solid fa-square-caret-down" style="flex:0"
            data-action="toggleTraitEdit"></a>
        {{/if}}
      </div>
    </div>
  </header>
</div>