<section class="tab stats scrollable {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <div class="sheet-content">
    <div class="asside">
      <p class="item-data-label">{{localize "torgeternity.powers.skill"}}</p>
      <select name="system.attackWith">
        {{selectOptions config.skills selected=item.system.attackWith localize=true sort=true}}
      </select>
      <p class="item-data-label">{{localize "torgeternity.powers.damage"}}</p>
      <input
        name="system.damage"
        type="number"
        value="{{item.system.damage}}" />
      <p class="item-data-label">{{localize "torgeternity.powers.ap"}}</p>
      <input name="system.ap" type="number" value="{{item.system.ap}}" />
    </div>
    <div class="main-content">
      <p class="item-data-label">
        {{localize "torgeternity.gear.chatNote"}}
        <input
          name="system.chatNote"
          type="text"
          value="{{item.system.chatNote}}" />
      </p>
      <prose-mirror toggled name="system.description" class="item-description-textarea" {{disabled (not editable)}}
        value="{{ item.system.description }}">{{{ description }}}</prose-mirror>
    </div>
  </div>
</section>