<section class="tab stats scrollable {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <div class="sheet-content">
    <div class="asside">
      <p class="item-data-label">{{localize "torgeternity.gear.cosm"}}</p>
      {{formInput systemFields.cosm value=item.system.cosm name="system.cosm" localize=true sort=true}}
      <p class="item-data-label">{{localize "torgeternity.gear.techlevel"}}</p>
      <input
        name="system.techlevel"
        type="number"
        value="{{item.system.techlevel}}" />
      <p class="item-data-label">
        {{localize "torgeternity.gear.price"}}/{{localize "torgeternity.gear.value"}}
      </p>
      <input
        name="system.price"
        type="text"
        value="{{item.system.price}}" />
      <input
        name="system.value"
        type="number"
        value="{{item.system.value}}" />
      <p class="item-data-label">{{localize "torgeternity.gear.topspeed"}}</p>
      <input
        name="system.topspeed"
        type="text"
        value="{{item.system.topspeed}}" />
      <p class="item-data-label">{{localize "torgeternity.gear.passengers"}}</p>
      <input name="system.pass" type="number" value="{{item.system.pass}}" />
      <p class="item-data-label">{{localize "torgeternity.gear.mr"}}</p>
      <input name="system.mr" type="number" value="{{item.system.mr}}" />
      <p class="item-data-label">
        {{localize "torgeternity.gear.wounds"}}/{{localize "torgeternity.gear.toughness"}}
      </p>
      <input
        name="system.wounds"
        type="number"
        value="{{item.system.wounds}}" />
      <input
        name="system.tough"
        type="text"
        value="{{item.system.tough}}" />
    </div>
    <div class="main-content">
      <prose-mirror toggled name="system.description" class="item-description"
        style="padding: 0px 0px 0px 10px" {{disabled (not @root.editable)}}
        value="{{ item.system.description }}">{{{ description }}}</prose-mirror>
    </div>
  </div>
</section>