<section class="tab perks perks-details {{tabs.perks.cssClass}}" data-group="{{tabs.perks.group}}"
  data-tab="{{tabs.perks.id}}">
  <div class="list-section-heading">
    <span>{{localize "torgeternity.sheetLabels.specialAbility"}}</span>
    <div class="list-controls">
      <a class="list-control item-create" data-action="itemCreate" data-itemtype="specialability-rollable"
        data-tooltip="{{localize 'torgeternity.sheetLabels.add'}} : 
      {{localize 'torgeternity.itemSheetDescriptions.specialabilityRollable' }}">
        <i class="fas fa-plus"></i>
      </a>
      <a class="list-control item-create" data-action="itemCreate" data-itemtype="specialability"
        data-tooltip="{{localize 'torgeternity.sheetLabels.add'}} : 
      {{localize 'torgeternity.itemSheetDescriptions.specialability' }}">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>

  {{#if specialability}}
    <ol class="item-list">
      {{#each specialability as |item id|}}
        <li class="item" data-item-id="{{item._id}}">

          <div class="item-row flexrow">
            <img src="{{item.img}}" data-tooltip="{{item.name}}" />
            <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
            <div class="item-controls">
              <a class="item-control item-tochat" data-action="itemToChat"
                data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                <i class="fas fa-comment"></i>
              </a>
              <a class="item-control item-edit" data-action="itemEdit"
                data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete" data-action="itemDelete"
                data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>

          <div class="item-detail">
            <div class="item-dropdown-description">
              {{{item.description}}}
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  {{/if}}

  {{#if specialabilityRollable }}
    <ol class="item-list">
      {{#each specialabilityRollable as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
          <div class="item-row flexrow">
            <img src="{{item.img}}" data-tooltip="{{item.name}}" />
            <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
            <div class="item-controls">
              <a class="item-control item-attackRoll" data-action="itemAttackRoll"
                data-tooltip="{{localize 'torgeternity.iconeTitles.attackRoll'}}">
                <i class="fas fa-dice-d20"></i>
              </a>
              <a class="item-control item-edit" data-action="itemEdit"
                data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete" data-action="itemDelete"
                data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
          <div class="item-detail">
            <div class="item-dropdown-description">
              {{{item.description}}}
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  {{/if}}

  <div class="list-section-heading">
    <span>{{localize "torgeternity.sheetLabels.perks"}}</span>
    <div class="list-controls">
      <a class="list-control item-create" data-action="itemCreate" data-itemtype="perk"
        data-tooltip="{{localize 'torgeternity.sheetLabels.add'}} : 
      {{localize 'torgeternity.itemSheetDescriptions.perk' }}">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  {{#if perk }}
    <ol class="item-list">
      {{#each perk as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
          <div class="item-row flexrow">
            <img src="{{item.img}}" data-tooltip="{{item.name}}" />
            <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
            <div class="item-controls">
              <a class="item-control item-tochat" data-action="itemToChat"
                data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                <i class="fas fa-comment"></i>
              </a>
              <a class="item-control item-edit" data-action="itemEdit"
                data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete" data-action="itemDelete"
                data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
          <div class="item-detail">
            <div class="item-dropdown-description">
              {{{item.description}}}
              <p></p>
              {{#if item.system.cosm}}
                <div class="item-dropdown-extras">
                  {{item.system.cosm}}
                </div>
              {{/if}}
              {{#if item.traitDesc}}
                <div class="item-dropdown-extras"> {{item.traitDesc}} </div>
              {{/if}}
              {{#if item.system.timestaken}}
                <div class="item-dropdown-extras">
                  {{item.system.timestaken}}x
                </div>
              {{/if}}
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  {{/if}}

  <div class="list-section-heading">
    <span>{{localize "torgeternity.sheetLabels.enhancements"}}</span>
    <div class="list-controls">
      <a class="list-control item-create" data-action="itemCreate" data-itemtype="enhancement"
        data-tooltip="{{localize 'torgeternity.sheetLabels.add'}} : 
      {{localize 'torgeternity.itemSheetDescriptions.enhancement' }}">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  {{#if enhancement}}
    <ol class="item-list">
      {{#each enhancement as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
          <div class="item-row flexrow">
            <img src="{{item.img}}" data-tooltip="{{item.name}}" />
            <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}
              ({{localize "torgeternity.enhancements.enhances"}}
              {{item.system.perk}})</a>
            <div class="item-controls">
              <a class="item-control item-tochat" data-action="itemToChat"
                data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                <i class="fas fa-comment"></i>
              </a>
              <a class="item-control item-edit" data-action="itemEdit"
                data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete" data-action="itemDelete"
                data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
          <div class="item-detail">
            <div class="item-dropdown-description">
              {{{item.description}}}
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  {{/if}}

  <div class="list-section-heading">
    <span>{{localize "torgeternity.sheetLabels.customSkills"}}</span>
    <div class="list-controls">
      <a class="list-control item-create" data-action="itemCreate" data-itemtype="customSkill"
        data-tooltip="{{localize 'torgeternity.sheetLabels.add'}} : 
      {{localize 'torgeternity.itemSheetDescriptions.customSkill' }}">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  <ol class="item-list">
    {{#each customSkill as |item id|}}
      <li class="item" data-item-id="{{item._id}}">
        <div class="item-row flexrow">
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
          <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
          <div class="item-controls">
            <a class="item-control item-tochat" data-action="itemToChat"
              data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
              <i class="fas fa-comment"></i>
            </a>
            <a class="item-control item-edit" data-action="itemEdit"
              data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control item-delete" data-action="itemDelete"
              data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>

        <div class="item-detail">
          <div class="item-dropdown-description">
            {{{item.description}}}
          </div>
        </div>

      </li>
    {{/each}}
  </ol>
</section>