<div class="list-section-heading">
	{{localize "torgeternity.sheetLabels.weapons"}}
</div>
<ol class="item-list">
	{{#each meleeweapons as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}
					({{localize "torgeternity.itemSheetDescriptions.meleeWeapon"}})</a>
				<div class="item-controls">
					<a class="item-control item-attackRoll" title="{{localize 'torgeternity.iconeTitles.attackRoll'}}">
						<i class="fas fa-dice-d20"></i>
					</a>
					<a class="item-control item-bonusRoll" title="{{localize 'torgeternity.iconeTitles.bonusRoll'}}">
						<i class="fas fa-dice-d6"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.tl"}}
						{{item.data.techlevel}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.price}}
						({{item.data.value}})
					</div>
					<div class="item-dropdown-extras">
						{{item.data.notes}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>
<ol class="item-list">
	{{#each missileweapon as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}
					({{localize "torgeternity.itemSheetDescriptions.missileWeapon"}})</a>
				<div class="item-controls">
					<a class="item-control item-attackRoll" title="{{localize 'torgeternity.iconeTitles.attackRoll'}}">
						<i class="fas fa-dice-d20"></i>
					</a>
					<a class="item-control item-bonusRoll" title="{{localize 'torgeternity.iconeTitles.bonusRoll'}}">
						<i class="fas fa-dice-d6"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.tl"}}
						{{item.data.techlevel}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.price}}
						({{item.data.value}})
					</div>
					<div class="item-dropdown-extras">
						{{item.data.range}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.ammo"}}:{{item.data.ammo.value}}
						/
						{{item.data.ammo.max}}

					</div>
					<div class="item-dropdown-extras">
						{{item.data.notes}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>
<ol class="item-list">
	{{#each firearm as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}
					({{localize "torgeternity.itemSheetDescriptions.firearm"}})</a>
				<div class="item-controls">
					<a class="item-control item-attackRoll" title="{{localize 'torgeternity.iconeTitles.attackRoll'}}">
						<i class="fas fa-dice-d20"></i>
					</a>
					<a class="item-control item-bonusRoll" title="{{localize 'torgeternity.iconeTitles.bonusRoll'}}">
						<i class="fas fa-dice-d6"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.tl"}}
						{{item.data.techlevel}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.price}}
						({{item.data.value}})
					</div>
					<div class="item-dropdown-extras">
						{{item.data.range}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.ammo"}}:
						{{item.data.ammo.value}}
						/
						{{item.data.ammo.max}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.notes}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>

<ol class="item-list">
	{{#each heavyweapon as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}
					({{localize "torgeternity.itemSheetDescriptions.heavyWeapon"}}/{{localize
                "torgeternity.itemSheetDescriptions.explosive"}})</a>
				<div class="item-controls">
					<a class="item-control item-attackRoll" title="{{localize 'torgeternity.iconeTitles.attackRoll'}}">
						<i class="fas fa-dice-d20"></i>
					</a>
					<a class="item-control item-bonusRoll" title="{{localize 'torgeternity.iconeTitles.bonusRoll'}}">
						<i class="fas fa-dice-d6"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.tl"}}
						{{item.data.techlevel}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.price}}
						({{item.data.value}})
					</div>
					<div class="item-dropdown-extras">
						{{item.data.range}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.ammo"}}:
						{{item.data.ammo.value}}
						/
						{{item.data.ammo.max}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.notes}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>


<div class="list-section-heading">
	{{localize "torgeternity.sheetLabels.armorAndShields"}}
</div>
<ol class="item-list">
	{{#each armor as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}</a>
				<div class="item-controls">
					<a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
						<i class="fas fa-comment"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.price}}
						({{item.data.value}})
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.tl"}}
						{{item.data.techlevel}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.bonus"}}
						{{item.data.bonus}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.maxDex"}}
						{{item.data.maxDex}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>
<ol class="item-list">
	{{#each shield as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}</a>
				<div class="item-controls">
					<a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
						<i class="fas fa-comment"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.price}}
						({{item.data.value}})
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.tl"}}
						{{item.data.techlevel}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.sheetLabels.bonus"}}
						{{item.data.bonus}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>


<div class="list-section-heading">
	{{torgeternity.itemSheetDescriptions.generalGear}}{{localize "torgeternity.sheetLabels.other"}}
</div>
<ol class="item-list">
	{{#each gear as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}</a>
				<div class="item-controls">
					<a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
						<i class="fas fa-comment"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.price}}
						({{item.data.value}})
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.tl"}}
						{{item.data.techlevel}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>
<ol class="item-list">
	{{#each implant as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}
					(Implant)</a>
				<div class="item-controls">
					<a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
						<i class="fas fa-comment"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.price}}
						({{item.data.value}})
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.tl"}}
						{{item.data.techlevel}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>
<ol class="item-list">
	{{#each eternityshard as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}
					({{localize "torgeternity.sheetLabels.eternityShard"}})</a>
				<div class="item-controls">
					<a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
						<i class="fas fa-comment"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.tappingDifficultyAbbr"}}:
						{{item.data.tappingDifficulty}}
					</div>
					<div class="item-dropdown-extras">
						{{localize "torgeternity.gear.poss"}}:
						{{item.data.possibilities}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>
<ol class="item-list">
	{{#each vehicle as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
				<a class="item-name">{{item.name}}
					({{localize "torgeternity.sheetLabels.vehicle"}})</a>
				<div class="item-controls">
					<a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
						<i class="fas fa-comment"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
					<p></p>
					<div class="item-dropdown-extras">
						{{item.data.cosm}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.topspeed}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.pass}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.mr}}
					</div>
					<div class="item-dropdown-extras">
						{{item.data.wounds}}W/{{item.data.tough}}T
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ol>
