<img src="{{actor.img}}" class="profile-img" data-edit="img" title="{{actor.name}}" /> <!-- profile-img needed to maintain compatibility with VTT Tokenizer -->
<h1><input name="name" type="text" value="{{actor.name}}" placeholder="Threat Name" /></h1>
<div class="threat-stat-line">

    <p>
        <span class="vital-box">
            {{localize "torgeternity.sheetLabels.wounds"}}:
            <input name="data.wounds.value" type="number" value="{{data.data.wounds.value}}" data-dtype="Number"
                class="small-input" />
            /
            <input name="data.wounds.max" type="number" value="{{data.data.wounds.max}}" data-dtype="Number"
                class="small-input" />
        </span>
        </p>
        <p>
        <span class="vital-box">
            {{localize "torgeternity.sheetLabels.shock"}}:
            <input name="data.shock.value" type="number" value="{{data.data.shock.value}}" data-dtype="Number"
                class="small-input" />
            /
            <input name="data.shock.max" type="number" value="{{data.data.shock.max}}" data-dtype="Number"
                class="small-input" />
        </span>
    </p>
    <p>
        <span class="vital-box">
            <a class="item-control possibility-roll" title="Possibility Roll">{{localize "torgeternity.sheetLabels.possibilities"}}: </a>
            <input name="data.other.possibilities" type="number" value="{{data.data.other.possibilities}}"
                data-dtype="Number" class="small-input" />
        </span>
    </p>
