<div class="scrollable">
  <h3 class="actor-type left-tab"><span>{{localize "torgeternity.sheetLabels.threat"}}</span></h3>
  {{> "templates/generic/tab-navigation.hbs"}}

  <div class="threat-sheet">
    <div class="threat-sidebar">
      {{> "systems/torgeternity/templates/actors/threat/sidebar.hbs"}}
    </div>

    <div class="sheet-body">
      <h1><input name="name" type="text" value="{{document.name}}" placeholder="Threat Name" /></h1><br>
      <div class="sub-header">
        <span class="threat-edit">
          <select name="system.details.sizeBonus">
            {{selectOptions config.sizes selected=document.system.details.sizeBonus localize=true sort=true}}
          </select>
        </span>
        <span class="threat-edit">
          <select name="system.details.clearance">
            {{selectOptions config.clearances selected=document.system.details.clearance localize=true sort=true}}
          </select>
        </span>
        <span class="threat-edit">
          {{localize "torgeternity.stats.possibilities"}}:&nbsp;
          <input name="system.details.possibilityPotential" class="text-input" type="text"
            value="{{document.system.details.possibilityPotential}}" />
        </span>
      </div>

      {{> "systems/torgeternity/templates/actors/threat/stat-tab.hbs"}}
      {{> "systems/torgeternity/templates/actors/threat/abilities.hbs"}}
      {{> "systems/torgeternity/templates/actors/threat/gears.hbs"}}
      {{> "systems/torgeternity/templates/actors/threat/powers.hbs"}}
      {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
      {{> "systems/torgeternity/templates/actors/threat/background.hbs"}}
    </div>
  </div>
  <h5 class="editable-tooltip">{{localize "torgeternity.sheetLabels.editableTooltip"}}
    <i class="fas fa-chevron-double-down"></i>
  </h5>
</div>