<div class="actor-sheet {{cssClass}} threat sheet" autocomplete="off">

  <!-- type -->
  <h3 class="actor-type"><span>{{localize "torgeternity.sheetLabels.threat"}}</span></h3>
  <!-- header -->
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a data-action="tab" data-group="primary" data-tab="stats">{{localize "torgeternity.sheetLabels.stats"}}</a>
    <a data-action="tab" data-group="primary" data-tab="perks">{{localize "torgeternity.sheetLabels.abilities"}}</a>
    <a data-action="tab" data-group="primary" data-tab="gear">{{localize "torgeternity.sheetLabels.gear"}}</a>
    <a data-action="tab" data-group="primary" data-tab="powers">{{localize "torgeternity.sheetLabels.powers"}}</a>
    <a data-action="tab" data-group="primary" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
    <a data-action="tab" data-group="primary" data-tab="background">{{localize "torgeternity.sheetLabels.notes"}}</a>
  </nav>

  <div class="threat-sheet">
    <div class="threat-sidebar">
      {{> "systems/torgeternity/templates/actors/threat/sidebar.hbs"}}
    </div>

    <section class="sheet-body sheet-content">
      <h1><input name="name" type="text" value="{{document.name}}" placeholder="Threat Name" /></h1><br>
      <div class="sub-header">
        <span class="threat-edit">
          <select name="system.details.sizeBonus" class="input-box">
            {{selectOptions config.sizes selected=document.system.details.sizeBonus localize=true sort=true}}
          </select>
        </span>
        <span class="threat-edit">
          <select name="system.details.clearance" class="input-box">
            {{selectOptions config.clearances selected=document.system.details.clearance localize=true sort=true}}
          </select>
        </span>
        <span class="threat-edit">
          {{localize "torgeternity.stats.possibilities"}}:&nbsp;
          <input name="system.details.possibilityPotential" class="text-input" type="text"
            value="{{document.system.details.possibilityPotential}}" />
        </span>
      </div>

      <section class="tab threat-block-tab stats {{tabs.statsActive}}" data-group="primary" data-tab="stats">
        {{> "systems/torgeternity/templates/actors/threat/stat-tab.hbs"}}
      </section>

      <section class="tab perks perks-list {{tabs.perksActive}}" data-group="primary" data-tab="perks">
        {{> "systems/torgeternity/templates/actors/threat/perks-details.hbs"}}
      </section>

      <section class="tab gear {{tabs.gearActive}}" data-group="primary" data-tab="gear">
        {{> "systems/torgeternity/templates/actors/threat/gears.hbs"}}
      </section>

      <section class="tab powers {{tabs.powersActive}}" data-group="primary" data-tab="powers">
        {{> "systems/torgeternity/templates/actors/threat/powers.hbs"}}
      </section>

      {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}

      <section class="tab background block {{tabs.backgroundActive}}" data-group="primary" data-tab="background">
        <h1 class="list-section-heading">{{localize "torgeternity.sheetLabels.backgroundAndNotes"}}</h1>
        <div>
          {{editor enrichedDetails target="system.details.description" button=true editable=editable}}
        </div>
      </section>

    </section>
  </div>

  <h5 class="editable-tooltip">{{localize "torgeternity.sheetLabels.editableTooltip"}}
    <i class="fas fa-chevron-double-down"></i>
  </h5>

</div>