<div class="tab perks" data-group="primary" data-tab="perks">
  <div class="list-section-heading">
    {{localize "torgeternity.sheetLabels.specialAbility"}}
    <a
      class="item-control item-create-rsa" data-action="itemCreateRsa"
      data-tooltip="{{localize 'torgeternity.sheetLabels.add'}} : {{localize
      'torgeternity.itemSheetDescriptions.specialabilityRollable'
    }}">
      <i class="fas fa-plus"></i>
    </a>
    <a
      class="item-control item-create-sa" data-action="itemCreateSa"
      data-tooltip="{{localize 'torgeternity.sheetLabels.add'}} : {{localize
      'torgeternity.itemSheetDescriptions.specialability'
    }}">
      <i class="fas fa-plus"></i>
    </a>
  </div>

  <ol class="item-list">
    {{#each specialability as |item id|}}
      <li class="item" data-item-id="{{item._id}}">

        <div class="item-row flexrow">
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
          <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
          <div class="item-controls">
            <a class="item-control item-tochat" data-action="itemToChat"
              data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
              <i class="fas fa-comment"></i>
            </a>
            <a class="item-control item-edit" data-action="itemEdit"
              data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control item-delete" data-action="itemDelete"
              data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>

        <div class="item-detail">
          <div class="item-dropdown-description">
            {{{item.description}}}
          </div>
        </div>
      </li>
    {{/each}}
  </ol>

  <ol class="item-list">
    {{#each specialabilityRollable as |item id|}}
      <li class="item" data-item-id="{{item._id}}">
        <div class="item-row flexrow">
          <img src="{{item.img}}" data-tooltip="{{item.name}}" width="30" height="30" />
          <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
          <div class="item-controls">
            <a class="item-control item-attackRoll" data-action="itemAttackRoll"
              data-tooltip="{{localize 'torgeternity.iconeTitles.attackRoll'}}">
              <i class="fas fa-dice-d20"></i>
            </a>
            <a class="item-control item-bonusRoll" data-action="itemBonusRoll"
              data-tooltip="{{localize 'torgeternity.iconeTitles.bonusRoll'}}">
              <i class="fas fa-dice-d6"></i>
            </a>
            <a class="item-control item-edit" data-action="itemEdit"
              data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control item-delete" data-action="itemDelete"
              data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>
        <div class="item-detail">
          <div class="item-dropdown-description">
            {{{item.description}}}
          </div>
        </div>
      </li>
    {{/each}}
  </ol>

  <div class="list-section-heading">
    {{localize "torgeternity.sheetLabels.perks"}}
  </div>
  <ol class="item-list">
    {{#each perk as |item id|}}
      <li class="item" data-item-id="{{item._id}}">
        <div class="item-row flexrow">
          <img src="{{item.img}}" data-tooltip="{{item.name}}" width="30" height="30" />
          <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
          <div class="item-controls">
            <a class="item-control item-tochat" data-action="itemToChat"
              data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
              <i class="fas fa-comment"></i>
            </a>
            <a class="item-control item-edit" data-action="itemEdit"
              data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control item-delete" data-action="itemDelete"
              data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>
        <div class="item-detail">
          <div class="item-dropdown-description">
            {{{item.description}}}
            <p></p>
            <div class="item-dropdown-extras">
              {{item.system.cosm}}
            </div>
            {{#if item.system.timestaken}}
              <div class="item-dropdown-extras">
                {{item.system.timestaken}}x
              </div>
            {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
  <div class="list-section-heading">
    {{localize "torgeternity.sheetLabels.enhancements"}}
  </div>
  <ol class="item-list">
    {{#each enhancement as |item id|}}
      <li class="item" data-item-id="{{item._id}}">
        <div class="item-row flexrow">
          <img src="{{item.img}}" data-tooltip="{{item.name}}" width="30" height="30" />
          <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}
            ({{localize "torgeternity.enhancements.enhances"}}
            {{item.system.perk}})</a>
          <div class="item-controls">
            <a class="item-control item-tochat" data-action="itemToChat"
              data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
              <i class="fas fa-comment"></i>
            </a>
            <a class="item-control item-edit" data-action="itemEdit"
              data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control item-delete" data-action="itemDelete"
              data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>
        <div class="item-detail">
          <div class="item-dropdown-description">
            {{{item.description}}}
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
</div>