
<div class="threat-avatar">
    <img src="{{actor.img}}" class="profile-img" data-edit="img" title="{{actor.name}}" />
</div>

<div class="sidebar-stats">
    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            <i class="fas fa-heart"></i>
            {{localize "torgeternity.sheetLabels.wounds"}}
        </span>
        <span class="sidebar-statline-right">
            <input name="system.wounds.value" type="number" value="{{actor.system.wounds.value}}" data-dtype="Number"
                class="small-input" />
            /
            <input name="system.wounds.max" type="number" value="{{actor.system.wounds.max}}" data-dtype="Number"
                class="small-input" />
        </span>
    </div>

    <hr>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            <i class="fas fa-bolt-lightning"></i>
            {{localize "torgeternity.sheetLabels.shock"}}
        </span>
        <span class="sidebar-statline-right">
            <input name="system.shock.value" type="number" value="{{actor.system.shock.value}}" data-dtype="Number"
                class="small-input" />
            /
            <input name="system.shock.max" type="number" value="{{actor.system.shock.max}}" data-dtype="Number"
                class="small-input" />
        </span>
    </div>

    <hr>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            <i class="fas fa-signs-post"></i>
            {{localize "torgeternity.sheetLabels.possibilities"}}
        </span>
        <span class="sidebar-statline-right">
            <input name="system.other.possibilities" type="number" value="{{actor.system.other.possibilities}}" data-dtype="Number"
                class="small-input" />
        </span>
    </div>

    <hr>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            <i class="fas fa-hand-fist"></i>
            {{localize "torgeternity.sheetLabels.toughness"}}
        </span>
        <span class="sidebar-statline-right">
            <input name="system.other.toughness" class="small-input" type="number"
			value="{{actor.system.other.toughness}}"
			data-dtype="Number" />&nbsp;&nbsp;(<input name="system.other.armor"
			class="small-input" type="number"
			value="{{actor.system.other.armor}}" data-dtype="Number" />)
        </span>
    </div>

    <hr>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            <i class="fas fa-person-running"></i>
            {{localize "torgeternity.sheetLabels.move"}}
        </span>
        <span class="sidebar-statline-right">
		<input name="system.other.move" class="small-input" type="number"
			value="{{actor.system.other.move}}"
			data-dtype="Number" />
        </span>
    </div>

    <hr>

    <div class="sidebar-heading">
        <i class="fas fa-shield"></i>        
        {{localize "torgeternity.sheetLabels.defenses"}}
    </div>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            {{localize "torgeternity.sheetLabels.melee"}}
        </span>
        <span class="sidebar-statline-right">
            {{actor.system.meleeWeaponsDefense}}
        </span>
    </div>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            {{localize "torgeternity.skills.dodge"}}
        </span>
        <span class="sidebar-statline-right">
            {{actor.system.dodgeDefense}}
        </span>
    </div>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            {{localize "torgeternity.sheetLabels.unarmed"}}
        </span>
        <span class="sidebar-statline-right">
            {{actor.system.unarmedCombatDefense}}
        </span>
    </div>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            {{localize "torgeternity.skills.intimidation"}}
        </span>
        <span class="sidebar-statline-right">
            {{actor.system.intimidationDefense}}
        </span>
    </div>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            {{localize "torgeternity.skills.maneuver"}}
        </span>
        <span class="sidebar-statline-right">
            {{actor.system.maneuverDefense}}
        </span>
    </div>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            {{localize "torgeternity.skills.taunt"}}
        </span>
        <span class="sidebar-statline-right">
            {{actor.system.tauntDefense}}
        </span>
    </div>

    <div class="sidebar-statline">
        <span class="sidebar-statline-left">
            {{localize "torgeternity.skills.trick"}}
        </span>
        <span class="sidebar-statline-right">
            {{actor.system.trickDefense}}
        </span>
    </div>

</div>