<div class="threat-avatar">
  <img src="{{document.img}}" class="profile-img" data-edit="img" data-tooltip="{{document.name}}" />
</div>

<div class="sidebar-stats">
  <div class="sidebar-statline">
    <span class="sidebar-statline-left">
      <i class="fas fa-heart"></i>
      {{localize 'torgeternity.sheetLabels.wounds'}}
    </span>
    <span style="display: block">
      <input
        name="system.wounds.value"
        type="number"
        value="{{document.system.wounds.value}}"
        data-dtype="Number"
        class="small-input" />
      &sol;
      <input
        name="system.wounds.max"
        type="number"
        value="{{document.system.wounds.max}}"
        data-dtype="Number"
        class="small-input" />
    </span>
  </div>

  <hr />

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">
      <i class="fas fa-bolt-lightning"></i>
      {{localize 'torgeternity.sheetLabels.shock'}}
    </span>
    <span class="sidebar-statline-right">
      <input
        name="system.shock.value"
        type="number"
        value="{{document.system.shock.value}}"
        data-dtype="Number"
        class="small-input" />
      &sol;
      <span>{{document.system.shock.max}}</span>
    </span>
  </div>

  <hr />

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">
      <i class="fas fa-signs-post"></i>
      {{localize 'torgeternity.sheetLabels.possibilities'}}
    </span>
    <span class="sidebar-statline-right">
      <input
        name="system.other.possibilities"
        type="number"
        value="{{document.system.other.possibilities}}"
        data-dtype="Number"
        class="small-input" />
    </span>
  </div>

  <hr />

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">
      <i class="fas fa-hand-fist"></i>
      {{localize 'torgeternity.sheetLabels.toughness'}}
    </span>
    <span class="sidebar-statline-right" style="display: block">
      {{document.defenses.toughness}} &nbsp; &lpar;{{document.defenses.armor}}&rpar;
    </span>
  </div>
  <hr />

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">
      <i class="fas fa-person-running"></i>
      {{localize 'torgeternity.sheetLabels.move'}}
    </span>
    <span class="sidebar-statline-right">
      {{document.system.other.move}} &sol; {{document.system.other.run}}
    </span>
  </div>

  <hr />

  <div
    class="sidebar-heading activeDefense-roll{{#if document.defenses.isActivelyDefending}}-glow{{/if}}"
    data-action="activeDefenseRoll{{#if document.defenses.isActivelyDefending}}Glow{{/if}}"
    data-tooltip='{{localize "torgeternity.sheetLabels.defensesTip"}}'>
    <i class="fas fa-shield"></i>
    {{localize 'torgeternity.sheetLabels.defenses'}}
  </div>

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">{{localize 'torgeternity.sheetLabels.melee'}}</span>
    <span class="sidebar-statline-right">{{document.defenses.meleeWeapons.value}}</span>
  </div>

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">{{localize 'torgeternity.skills.dodge'}}</span>
    <span class="sidebar-statline-right">{{document.defenses.dodge.value}}</span>
  </div>

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">{{localize 'torgeternity.sheetLabels.unarmed'}}</span>
    <span class="sidebar-statline-right">{{document.defenses.unarmedCombat.value}}</span>
  </div>

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">{{localize 'torgeternity.skills.intimidation'}}</span>
    <span class="sidebar-statline-right">{{document.defenses.intimidation.value}}</span>
  </div>

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">{{localize 'torgeternity.skills.maneuver'}}</span>
    <span class="sidebar-statline-right">{{document.defenses.maneuver.value}}</span>
  </div>

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">{{localize 'torgeternity.skills.taunt'}}</span>
    <span class="sidebar-statline-right">{{document.defenses.taunt.value}}</span>
  </div>

  <div class="sidebar-statline">
    <span class="sidebar-statline-left">{{localize 'torgeternity.skills.trick'}}</span>
    <span class="sidebar-statline-right">{{document.defenses.trick.value}}</span>
  </div>
</div>