<section class="tab stats {{tabs.stats.cssClass}}" data-group="{{tabs.stats.group}}"
  data-tab="{{tabs.stats.id}}">
  <div class="threat-contents block">
    <div class="threat-block">
      <div class="threat-section-attributes">
        <div class="section-bar attributes">
          {{localize 'torgeternity.sheetLabels.attributes'}}
          {{#if editable}}
            <a class="changeAttributesToggle" data-action="changeAttributesToggle"
              data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
              <i class="fas fa-edit"></i>
            </a>
          {{/if}}
          {{#if document.flags.torgeternity.editAttributes}}
            <h5>{{localize "torgeternity.sheetLabels.alterAttributes"}}</h5>
          {{/if}}
        </div>

        <div class="threat-edit attribut-list-edit">
          <span>
            <a
              class="skill-roll" data-drag="true" data-action="skillRoll"
              data-testType="attribute"
              data-value="{{document.system.attributes.charisma.value}}"
              data-name="charisma"
              data-baseAttribute="charisma"
              data-adds="0"
              {{disabled (not @root.editable)}}
              data-unskilledUse="1">
              {{localize 'torgeternity.attributes.charisma'}}
            </a>
            {{#if document.flags.torgeternity.editAttributes}}
              <a class="decreaseAttribute" data-action="decreaseAttribute" data-concernedAttribute="charisma">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
              </a>
            {{/if}} <input name='system.attributes.charisma.value' type='number'
              class="attributeValueField" data-baseAttributeInput="charisma" {{#if
              document.flags.torgeternity.editAttributes}}
              value='{{document.system.attributes.charisma.base}}' {{else}}
              value='{{document.system.attributes.charisma.value}}' {{/if}} data-dtype='Number'
              class='small-input' {{#if document.flags.torgeternity.editAttributes}} {{else}} readonly="true"
              {{/if}} /> {{#if document.flags.torgeternity.editAttributes}}
              <a class="increaseAttribute" data-action="increaseAttribute" data-concernedAttribute="charisma">
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
              </a>
            {{/if}}
          </span>
          <span>
            <a
              class="skill-roll" data-drag="true" data-action="skillRoll"
              data-testType="attribute"
              data-value="{{document.system.attributes.dexterity.value}}"
              data-name="dexterity"
              data-baseAttribute="dexterity"
              data-adds="0"
              {{disabled (not @root.editable)}}
              data-unskilledUse="1">
              {{localize 'torgeternity.attributes.dexterity'}}
            </a>
            {{#if document.flags.torgeternity.editAttributes}}
              <a class="decreaseAttribute" data-action="decreaseAttribute" data-concernedAttribute="dexterity">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
              </a>
            {{/if}} <input name='system.attributes.dexterity.value' type='number'
              class="attributeValueField" data-baseAttributeInput="dexterity" {{#if
              document.flags.torgeternity.editAttributes}}
              value='{{document.system.attributes.dexterity.base}}' {{else}}
              value='{{document.system.attributes.dexterity.value}}' {{/if}} data-dtype='Number'
              class='small-input' {{#if document.flags.torgeternity.editAttributes}}{{else}} readonly="true"
              {{/if}} /> {{#if document.flags.torgeternity.editAttributes}}
              <a class="increaseAttribute" data-action="increaseAttribute" data-concernedAttribute="dexterity">
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
              </a>
            {{/if}}
          </span>
          <span>
            <a
              class="skill-roll" data-drag="true" data-action="skillRoll"
              data-testType="attribute"
              data-value="{{document.system.attributes.mind.value}}"
              data-name="mind"
              data-baseAttribute="mind"
              data-adds="0"
              {{disabled (not @root.editable)}}
              data-unskilledUse="1">
              {{localize 'torgeternity.attributes.mind'}}
            </a>
            {{#if document.flags.torgeternity.editAttributes}}
              <a class="decreaseAttribute" data-action="decreaseAttribute" data-concernedAttribute="mind">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
              </a>
            {{/if}} <input name='system.attributes.mind.value' type='number'
              class="attributeValueField" data-baseAttributeInput="mind" {{#if
              document.flags.torgeternity.editAttributes}} value='{{document.system.attributes.mind.base}}'
              {{else}} value='{{document.system.attributes.mind.value}}' {{/if}} data-dtype='Number'
              class='small-input' {{#if document.flags.torgeternity.editAttributes}} {{else}}readonly="true"
              {{/if}} /> {{#if document.flags.torgeternity.editAttributes}}
              <a class="increaseAttribute" data-action="increaseAttribute" data-concernedAttribute="mind">
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
              </a>
            {{/if}}
          </span>
          <span>
            <a
              class="skill-roll" data-drag="true" data-action="skillRoll"
              data-testType="attribute"
              data-value="{{document.system.attributes.spirit.value}}"
              data-name="spirit"
              data-baseAttribute="spirit"
              data-adds="0"
              {{disabled (not @root.editable)}}
              data-unskilledUse="1">
              {{localize 'torgeternity.attributes.spirit'}}
            </a>
            {{#if document.flags.torgeternity.editAttributes}}
              <a class="decreaseAttribute" data-action="decreaseAttribute" data-concernedAttribute="spirit">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
              </a>
            {{/if}} <input name='system.attributes.spirit.value' type='number'
              class="attributeValueField" data-baseAttributeInput="spirit" {{#if
              document.flags.torgeternity.editAttributes}} value='{{document.system.attributes.spirit.base}}'
              {{else}} value='{{document.system.attributes.spirit.value}}' {{/if}} data-dtype='Number'
              class='small-input' {{#if document.flags.torgeternity.editAttributes}} {{else}} readonly="true"
              {{/if}} /> {{#if document.flags.torgeternity.editAttributes}}
              <a class="increaseAttribute" data-action="increaseAttribute" data-concernedAttribute="spirit">
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
              </a>
            {{/if}}
          </span>
          <span>
            <a
              class="skill-roll" data-drag="true" data-action="skillRoll"
              data-testType="attribute"
              data-value="{{document.system.attributes.strength.value}}"
              data-name="strength"
              data-baseAttribute="strength"
              data-adds="0"
              {{disabled (not @root.editable)}}
              data-unskilledUse="1">
              {{localize 'torgeternity.attributes.strength'}}
            </a>
            {{#if document.flags.torgeternity.editAttributes}}
              <a class="decreaseAttribute" data-action="decreaseAttribute" data-concernedAttribute="strength">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
              </a>
            {{/if}} <input name='system.attributes.strength.value' type='number'
              class="attributeValueField" data-baseAttributeInput="strength" {{#if
              document.flags.torgeternity.editAttributes}}
              value='{{document.system.attributes.strength.base}}' {{else}}
              value='{{document.system.attributes.strength.value}}' {{/if}} data-dtype='Number'
              class='small-input' {{#if document.flags.torgeternity.editAttributes}} {{else}} readonly="true"
              {{/if}} /> {{#if document.flags.torgeternity.editAttributes}}
              <a class="increaseAttribute" data-action="increaseAttribute" data-concernedAttribute="strength">
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
              </a>
            {{/if}}
          </span>
        </div>
      </div>
    </div>

    <div class="threat-section-actions">
      <div class="section-bar">{{localize 'torgeternity.sheetLabels.actions'}}</div>
      <div class="interaction-attack-list">
        <a
          class="unarmed-attack" data-action="unarmedAttack" {{disabled (not @root.editable)}}
          data-name="unarmedCombat"
          data-base-attribute="dexterity"
          data-adds="{{document.system.skills.unarmedCombat.adds}}"
          data-skill-value="{{document.system.skills.unarmedCombat.value}}"
          data-damage="{{document.unarmed.damage}}">
          {{localize 'torgeternity.skills.unarmedCombat'}}
        </a>
        {{#if document.system.skills.intimidation.defenseOnly}} {{else}} &bull;
          <a
            class="interaction-attack" data-drag="true" data-action="interactionAttack" {{disabled (not
            @root.editable)}}
            data-name="intimidation"
            data-base-attribute="spirit"
            data-adds="{{document.system.skills.intimidation.adds}}"
            data-skill-value="{{document.system.skills.intimidation.value}}">
            {{localize 'torgeternity.skills.intimidation'}}
          </a>
        {{/if}} {{#if document.system.skills.maneuver.defenseOnly}} {{else}} &bull;
          <a
            class="interaction-attack" data-drag="true" data-action="interactionAttack" {{disabled (not
            @root.editable)}}
            data-name="maneuver"
            data-base-attribute="dexterity"
            data-adds="{{document.system.skills.maneuver.adds}}"
            data-skill-value="{{document.system.skills.maneuver.value}}">
            {{localize 'torgeternity.skills.maneuver'}}
          </a>
        {{/if}} {{#if document.system.skills.taunt.defenseOnly}} {{else}} &bull;
          <a
            class="interaction-attack" data-drag="true" data-action="interactionAttack" {{disabled (not
            @root.editable)}}
            data-name="taunt"
            data-base-attribute="charisma"
            data-adds="{{document.system.skills.taunt.adds}}"
            data-skill-value="{{document.system.skills.taunt.value}}">
            {{localize 'torgeternity.skills.taunt'}}
          </a>
        {{/if}} {{#if document.system.skills.trick.defenseOnly}} {{else}} &bull;
          <a
            class="interaction-attack" data-drag="true" data-action="interactionAttack" {{disabled (not
            @root.editable)}}
            data-name="trick"
            data-base-attribute="mind"
            data-adds="{{document.system.skills.trick.adds}}"
            data-skill-value="{{document.system.skills.trick.value}}">
            {{localize 'torgeternity.skills.trick'}}
          </a>
        {{/if}}
      </div>

      <div class="weapons-list">
        <div class="item-list">
          {{#each meleeweapons as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
              <div>
                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              </div>
              <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
              <div class="item-controls">
                <a class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
                  <i class="fas fa-dice-d20"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}} {{#each missileweapon as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
              <div>
                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              </div>
              <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
              <div class="item-controls">
                <a
                  class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
                  <i class="fas fa-dice-d20"></i>
                </a>
                {{#if (not ../ignoreAmmo)}}
                  <a class="item-control" data-weapon="{{item}}" {{disabled (not @root.editable)}}
                    data-tooltip="{{localize 'torgeternity.iconeTitles.reload'}}">
                    <i class="fa-solid fa-bullseye reload-weapon" data-action="reloadWeapon"></i>
                  </a>
                {{/if}}
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}} {{#each firearm as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
              <div>
                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              </div>
              <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
              <div class="item-controls">
                <a
                  class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
                  <i class="fas fa-dice-d20"></i>
                </a>
                {{#if (not ../ignoreAmmo)}}
                  <a class="item-control" data-weapon="{{item}}" {{disabled (not @root.editable)}}
                    data-tooltip="{{localize 'torgeternity.iconeTitles.reload'}}">
                    <i class="fa-solid fa-bullseye reload-weapon" data-action="reloadWeapon"></i>
                  </a>
                {{/if}}
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}} {{#each heavyweapon as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
              <div>
                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              </div>
              <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
              <div class="item-controls">
                <a
                  class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
                  <i class="fas fa-dice-d20"></i>
                </a>
                {{#if (not ../ignoreAmmo)}}
                  <a class="item-control" data-weapon="{{item}}" {{disabled (not @root.editable)}}
                    data-tooltip="{{localize 'torgeternity.iconeTitles.reload'}}">
                    <i class="fa-solid fa-bullseye reload-weapon" data-action="reloadWeapon"></i>
                  </a>
                {{/if}}
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}} {{#each spell as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
              <div>
                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              </div>
              <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
              <div class="item-controls">
                <a
                  class="item-control item-powerRoll" data-action="itemPowerRoll" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.spellRoll"}}'>
                  <i class="fas fa-dice-d20"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}} {{#each miracle as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
              <div>
                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              </div>
              <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
              <div class="item-controls">
                <a
                  class="item-control item-powerRoll" data-action="itemPowerRoll" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.miracleRoll"}}'>
                  <i class="fas fa-dice-d20"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}} {{#each psionicpower as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
              <div>
                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              </div>
              <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
              <div class="item-controls">
                <a
                  class="item-control item-powerRoll" data-action="itemPowerRoll" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.psionicRoll"}}'>
                  <i class="fas fa-dice-d20"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}} {{#each specialabilityRollable as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
              <div>
                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              </div>
              <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
              <div class="item-controls">
                <a
                  class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
                  <i class="fas fa-dice-d20"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}}
          {{#each customAttack as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
              <div>
                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              </div>
              <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
              <div class="item-controls">
                <a
                  class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
                  <i class="fas fa-dice-d20"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="threat-section-skills">
      <div class="section-bar">
        {{localize 'torgeternity.sheetLabels.skills'}}
        {{#if editable}}
          <span style="float: right">
            <a class="skill-edit-toggle" data-action="skillEditToggle">
              <i class="fas fa-edit"></i>
            </a>
          </span>
        {{/if}}
      </div>

      <div class="threat-block">
        <span class="inline-skill-list">
          {{#each document.system.skills as |content name|}}
            {{#if content.isThreatSkill}}
              <span class="inline-skill-item">
                <a
                  class="skill-roll" data-drag="true" data-action="skillRoll"
                  data-testtype="skill"
                  data-baseattribute="{{content.baseAttribute}}"
                  data-adds="{{content.adds}}"
                  data-value="{{content.value}}"
                  data-unskilleduse="{{content.unskilledUse}}"
                  {{disabled (not @root.editable)}}
                  data-name="{{name}}">
                  {{localize (concat 'torgeternity.skills.' name)}}
                </a>
                {{#if content.isFav}}
                  <a class="toggleFav checked" {{disabled (not @root.editable)}}> <i class="far fa-star"></i> </a>
                {{/if}}
                &nbsp;{{content.value}}
              </span>
            {{/if}}
          {{/each}}
          {{#each customSkill as |content name|}}
            <span class="inline-skill-item">
              <a
                class="skill-roll" data-drag="true" data-action="skillRoll"
                data-testtype="skill"
                data-customskill="true"
                data-baseattribute="{{content.system.baseAttribute}}"
                data-adds="{{content.system.adds}}"
                data-value="{{content.system.value}}"
                data-unskilleduse="0"
                {{disabled (not @root.editable)}}
                data-name="{{content.name}}">
                {{content.name}}
              </a>
              {{#if content.system.isFav}}
                <a class="toggleFav checked" {{disabled (not @root.editable)}}> <i class="far fa-star"></i> </a>
              {{/if}}
              &nbsp;{{content.system.value}}
            </span>
          {{/each}}
        </span>
      </div>

      <div class="threat-editor" id="threat-editor">
        {{#if document.system.editstate}}
          <div class="skill-list-edit">
            {{#each document.system.skills as |skill key|}}
              <div class="skill-element-edit">
                <span
                  style="position: relative"
                  class="skill-list" data-action="toggleThreatSkill"
                  data-testtype="skill"
                  data-baseattribute="{{skill.baseAttribute}}"
                  data-adds="{{skill.adds}}"
                  data-value="{{skill.value}}"
                  data-unskilleduse="{{skill.unskilledUse}}"
                  data-name="{{key}}"
                  data-tooltip='{{localize "torgeternity.sheetLabels.toolTipClickToAdd"}}'>
                  {{localize (concat "torgeternity.skills." key)}}
                </span>
                <span class="inputsFav">
                  <input
                    data-skill="{{key}}"
                    type="number"
                    class="small-input"
                    value="{{skill.value}}"
                    placeholder="-" />

                  <a class="toggleFav {{checked skill.isFav}}" {{disabled (not @root.editable)}}>
                    <i class="far fa-star"></i>
                  </a>
                  <input
                    class="favCheck"
                    type="checkbox"
                    name="system.skills.{{key}}.isFav"
                    {{checked skill.isFav}}
                    data-dtype="Boolean" />
                </span>
              </div>
            {{/each}}
          </div>

          <div class="defenseChecks">
            <div>Defense Only?</div>
            <span>
              {{localize 'torgeternity.skills.intimidation'}}
              <select name="system.skills.intimidation.defenseOnly">
                {{selectOptions config.yesNo selected=document.system.skills.intimidation.defenseOnly sort=true
            localize=true}}
              </select>
              {{localize 'torgeternity.skills.maneuver'}}
              <select name="system.skills.maneuver.defenseOnly">
                {{selectOptions config.yesNo selected=document.system.skills.maneuver.defenseOnly sort=true
            localize=true}}
              </select>
              {{localize 'torgeternity.skills.taunt'}}
              <select name="system.skills.taunt.defenseOnly">
                {{selectOptions config.yesNo selected=document.system.skills.taunt.defenseOnly sort=true
            localize=true}}
              </select>

              {{localize 'torgeternity.skills.trick'}}
              <select name="system.skills.trick.defenseOnly">
                {{selectOptions config.yesNo selected=document.system.skills.trick.defenseOnly sort=true
            localize=true}}
              </select>
            </span>
          </div>
        {{/if}}
      </div>
    </div>

    <div class="threat-section-perks">
      <div class="section-bar">{{localize 'torgeternity.sheetLabels.other'}}</div>
    </div>

    <div class="threat-block">
      <ol class="item-list">
        {{#each perk as |item id|}}
          <li class="item" data-item-id="{{item._id}}">
            <div class="item-row flexrow">
              <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              <a class="item-name {{TorgDisconnected item}}" data-action="itemName" data-drag="true">{{item.name}}</a>
              <div class="item-controls">
                <a
                  class="item-control item-tochat" data-action="itemToChat" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.sendToChat"}}'>
                  <i class="fas fa-comment"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>
            <div class="item-detail">
              <div class="item-dropdown-description">
                {{{item.description}}}
                <p></p>
                <div class="item-dropdown-extras">{{item.system.cosm}}</div>
                {{#if item.traitDesc}}
                  <div class="item-dropdown-extras"> {{item.traitDesc}} </div>
                {{/if}}
                {{#if item.system.timestaken}}
                  <div class="item-dropdown-extras">
                    {{item.system.timestaken}}x
                  </div>
                {{/if}}
              </div>
            </div>
          </li>
        {{/each}}
      </ol>

      <ol class="item-list">
        {{#each specialability as |item id|}}
          <li class="item" data-item-id="{{item._id}}">
            <div class="item-row flexrow">
              <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              <a class="item-name {{TorgDisconnected item}}" data-action="itemName" data-drag="true">{{item.name}}</a>
              <div class="item-controls">
                <a
                  class="item-control item-tochat" data-action="itemToChat" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.sendToChat"}}'>
                  <i class="fas fa-comment"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
                  data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>

            <div class="item-detail">
              <div class="item-dropdown-description">{{{item.description}}}</div>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>
</section>