<ol class="items-list effects-list">
{{#each effects as |section sid|}}
    <li class="effects-heading flexrow" data-effect-type="{{section.type}}">
        <div class="effect-section-title flexrow">{{localize section.label}} </div>
        <div class="effect-source">{{localize "torgeternity.sheetLabels.source"}}</div>
        <div class="effect-duration">{{localize "torgeternity.powers.duration"}}</div>
        <div class="effect-controls flexrow">
            <a class="effect-control" data-action="create" title="{{localize 'torgeternity.sheetLabels.effectCreate'}}">
                <i class="fas fa-plus"></i> {{localize "torgeternity.sheetLabels.add"}}
            </a>
        </div>
    </li>

    <ol class="item-list">
    {{#each section.effects as |effect|}}
        <li class="item effect effects-item flexrow" style="display:flex" data-effect-id="{{effect.id}}">
            <div class="effect-name flexrow">
                <img class="effect-item-image" src="{{effect.data.icon}}"/>
                {{effect.data.label}}
            </div>
            <div class="effect-source">{{effect.sourceName}}</div>
            <div class="effect-duration">{{effect.duration.label}}</div>
            <div class="effect-controls">
                <a class="effect-control effect-toggle" data-action="toggle" title="Toggle">
                    <i class="fas {{#if effect.data.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                </a>
                <a class="effect-control effect-edit" data-action="edit" title="Edit" >
                    <i class="fas fa-edit"></i>
                </a>
                <a class="effect-control effect-delete" data-action="delete" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
    {{/each}}
    </ol>
{{/each}}
</ol>