<div class="attributes header">
  <h2>{{localize "torgeternity.sheetLabels.attributes"}}</h2>
  <a class="changeAttributesToggle" title="{{localize 'torgeternity.iconeTitles.edit'}}">
    <i class="fas fa-edit"></i>
  </a>
  {{#if actor.flags.torgeternity.editAttributes}}
    <h5>{{localize "torgeternity.sheetLabels.alterAttributes"}}</h5>
  {{/if}}
</div>

<ul class="attribut-list">

  <!-- iterate each attribute individually to avoid a problem with data structures in sheets created under early versions of system -->
  <li class="attribut-block">    
    <a
      class="skill-roll"
      data-testType="attribute"
      data-value="{{actor.system.attributes.charisma.value}}"
      data-name="charisma"
      data-baseAttribute="charisma"
      data-adds="0"
      data-unskilledUse="1"
    >
    {{localize "torgeternity.attributes.charisma"}}
    </a>

    {{#if actor.flags.torgeternity.editAttributes}}
      <a
      class="increaseAttribute"
      data-concernedAttribute="charisma"
      >
      <i class="fa-solid fa-plus changeAttributeAdd"></i>
      </a>
    {{/if}}
        
    <input
      name="system.attributes.charisma.value"
      type="number"
      class="attributeValueField"
      data-baseAttribute="charisma"
      {{#if actor.flags.torgeternity.editAttributes}}
      value='{{actor.system.attributes.charisma.base}}'
      {{else}}
      value='{{actor.system.attributes.charisma.value}}'
      {{/if}}
      data-dtype="Number"
      {{#iffalse actor.flags.torgeternity.editAttributes}}
      readonly="true"
      {{/iffalse}}
    />
    {{#if actor.flags.torgeternity.editAttributes}}
      <a class="decreaseAttribute"
        data-concernedAttribute="charisma"
      >
      <i class="fa-solid fa-minus changeAttributeSubstract"></i>
      </a>
    {{/if}}

    </a>
  </li>

  <li class="attribut-block">
    <a
      class="skill-roll"
      data-testType="attribute"
      data-value="{{actor.system.attributes.dexterity.value}}"
      data-name="dexterity"
      data-baseAttribute="dexterity"
      data-adds="0"
      data-unskilledUse="1"
    >
    {{localize "torgeternity.attributes.dexterity"}}
    </a>
    {{#if actor.flags.torgeternity.editAttributes}}
      <a
        class="increaseAttribute"
        data-concernedAttribute="dexterity"
        >
      <i class="fa-solid fa-plus changeAttributeAdd"></i>
      </a>
    {{/if}}
    
    <input
      name="system.attributes.dexterity.value"
      type="number"
      class="attributeValueField"
      data-baseAttribute="dexterity"
      {{#if actor.flags.torgeternity.editAttributes}}
      value='{{actor.system.attributes.dexterity.base}}'
      {{else}}
      value='{{actor.system.attributes.dexterity.value}}'
      {{/if}}
      data-dtype="Number"
      {{#iffalse actor.flags.torgeternity.editAttributes}}
      readonly="true"
      {{/iffalse}}
    />

    {{#if actor.flags.torgeternity.editAttributes}}
      <a class="decreaseAttribute"
      data-concernedAttribute="dexterity"
      >
      <i class="fa-solid fa-minus changeAttributeSubstract"></i>
      </a>
    {{/if}}    
  </li>

  <li class="attribut-block">
    <a
      class="skill-roll"
      data-testType="attribute"
      data-value="{{actor.system.attributes.mind.value}}"
      data-name="mind"
      data-baseAttribute="mind"
      data-adds="0"
      data-unskilledUse="1"
    >
      {{localize "torgeternity.attributes.mind"}}
    </a>
    {{#if actor.flags.torgeternity.editAttributes}}
    <a
      class="increaseAttribute"
      data-concernedAttribute="mind"
      >
    <i class="fa-solid fa-plus changeAttributeAdd"></i>
    </a>
    {{/if}}

    <input 
    name="system.attributes.mind.value" 
    type="number"    
    class="attributeValueField"
    data-baseAttribute="mind" 
    {{#if actor.flags.torgeternity.editAttributes}}
    value='{{actor.system.attributes.mind.base}}'
    {{else}}
    value='{{actor.system.attributes.mind.value}}'
    {{/if}}
    data-dtype="Number" 
    {{#iffalse actor.flags.torgeternity.editAttributes}}
    readonly="true"
    {{/iffalse}}
    />
    
    {{#if actor.flags.torgeternity.editAttributes}}
    <a class="decreaseAttribute"
       data-concernedAttribute="mind"
    >
    <i class="fa-solid fa-minus changeAttributeSubstract"></i>
    </a>
    {{/if}}
  </li>

  <li class="attribut-block">
    <a
      class="skill-roll"
      data-testType="attribute"
      data-value="{{actor.system.attributes.spirit.value}}"
      data-name="spirit"
      data-baseAttribute="spirit"
      data-adds="0"
      data-unskilledUse="1"
    >
      {{localize "torgeternity.attributes.spirit"}}
    </a>
    {{#if actor.flags.torgeternity.editAttributes}}
      <a
        class="increaseAttribute"
        data-concernedAttribute="spirit"
        >
      <i class="fa-solid fa-plus changeAttributeAdd"></i>
      </a>
    {{/if}}
    
    <input
      name="system.attributes.spirit.value"
      type="number"
      class="attributeValueField"
      data-baseAttribute="spirit" 
      {{#if actor.flags.torgeternity.editAttributes}}
      value='{{actor.system.attributes.spirit.base}}'
      {{else}}
      value='{{actor.system.attributes.spirit.value}}'
      {{/if}}
      data-dtype="Number"
      {{#iffalse actor.flags.torgeternity.editAttributes}}
      readonly="true"
      {{/iffalse}}
    />
    {{#if actor.flags.torgeternity.editAttributes}}
      <a class="decreaseAttribute"
      data-concernedAttribute="spirit"
      >
      <i class="fa-solid fa-minus changeAttributeSubstract"></i>
      </a>
    {{/if}} 
    
  </li>

  <li class="attribut-block">
    <a
      class="skill-roll"
      data-testType="attribute"
      data-value="{{actor.system.attributes.strength.value}}"
      data-name="strength"
      data-baseAttribute="strength"
      data-adds="0"
      data-unskilledUse="1"
    >
      {{localize "torgeternity.attributes.strength"}}
    </a>
    {{#if actor.flags.torgeternity.editAttributes}}
    <a
      class="increaseAttribute"
      data-concernedAttribute="strength"
      >
    <i class="fa-solid fa-plus changeAttributeAdd"></i>
    </a>
    {{/if}}
    
    <input
      name="system.attributes.strength.value"
      type="number"
      class="attributeValueField"
      data-baseAttribute="strength" 
      {{#if actor.flags.torgeternity.editAttributes}}
      value='{{actor.system.attributes.strength.base}}'
      {{else}}
      value='{{actor.system.attributes.strength.value}}'
      {{/if}}
      data-dtype="Number"
      {{#iffalse actor.flags.torgeternity.editAttributes}}
      readonly="true"
      {{/iffalse}}
    />
    {{#if actor.flags.torgeternity.editAttributes}}
      <a class="decreaseAttribute"
      data-concernedAttribute="strength"
      >
      <i class="fa-solid fa-minus changeAttributeSubstract"></i>
      </a>
    {{/if}}
  </li>
</ul>