<h2>ATTRIBUTES</h2>
<ul>

    {{#each data.attributes as |attr key|}}
    <li class="attribut-block">
        <a class="skill-roll"
            data-testType="attribute" 
            data-value="{{attr}}" 
            data-name="{{localize (concatAttributeName key)}}"
            data-baseAttribute="{{data.attributes.charisma}}" 
            data-adds="0"
            data-value="{{data.attributes.charisma}}" 
            data-unskilledUse="1"      
            >
            {{localize (concatAttributeName key) }}
        </a>
        <input name="data.attributes.{{key}}" type="number" value="{{attr}}" data=dtype="Number" />
    </li>
    {{/each}}
    
    
</ul>