<section class="tab background scrollable {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <h1 class="list-section-heading" style="color: white">
    {{localize "torgeternity.sheetLabels.backgroundAndNotes"}}
  </h1>

  <prose-mirror toggled name="system.details.background" {{disabled (not editable)}}
    value="{{ document.system.details.background }}">{{{ enrichedBackground }}}</prose-mirror>
</section>