<h2>
    <a class="activeDefense-roll">{{localize "torgeternity.sheetLabels.defenses"}}</a>
</h2>
<div class="stats-div">
    <p>

        <span class="main-label">{{localize "torgeternity.skills.dodge"}}</span>


        <span class="main-label">{{data.dodgeDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.meleeWeapons"}}</span>


        <span class="main-label">{{data.meleeWeaponsDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.unarmedCombat"}}</span>


        <span class="main-label">{{data.unarmedCombatDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.intimidation"}}</span>
        <span class="main-label">{{data.intimidationDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.maneuver"}}</span>


        <span class="main-label">{{data.maneuverDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.taunt"}}</span>


        <span class="main-label">{{data.tauntDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.trick"}}</span>


        <span class="main-label">{{data.trickDefense}}</span>

    </p>
</div>
<div>
    <h3 class="vital-box">
        {{localize "torgeternity.sheetLabels.wounds"}}:
        <input name="data.wounds.value" type="text" value="{{data.wounds.value}}" data-dtype="Number"
            class="small-input" />
        /
        <input name="data.wounds.max" type="text" value="{{data.wounds.max}}" data-dtype="Number" class="small-input" />
    </h3>
</div>
<div>
    <h3 class="vital-box">
        {{localize "torgeternity.sheetLabels.shock"}}:
        <input name="data.shock.value" type="text" value="{{data.shock.value}}" data-dtype="Number"
            class="small-input" />
        /
        <input name="data.shock.max" type="text" value="{{data.shock.max}}" data-dtype="Number" class="small-input" />
    </h3>
</div>
<div class="attribut-block">
    <h3 class="other-label" data-skill-value="{{data.other.posibilities}}"
        data-skill-name="{{data.other.posibilities}}">{{localize "torgeternity.sheetLabels.possibilities"}}
    <input name="data.other.posibilities" type="number" value="{{data.other.posibilities}}" data=dtype="Number" /></h3>
</div>