<h2>
    <a class="activeDefense-roll">Defenses</a>
</h2>
<div class="stats-div">
    <p>

        <span class="main-label">Dodge</span>


        <span class="main-label">{{data.dodgeDefense}}</span>

    </p>
    <p>

        <span class="main-label">Melee</span>


        <span class="main-label">{{data.meleeWeaponsDefense}}</span>

    </p>
    <p>

        <span class="main-label">Unarmed</span>


        <span class="main-label">{{data.unarmedCombatDefense}}</span>

    </p>
    <p>

        <span class="main-label">Intimidation</span>
        <span class="main-label">{{data.intimidationDefense}}</span>

    </p>
    <p>

        <span class="main-label">Maneuver</span>


        <span class="main-label">{{data.maneuverDefense}}</span>

    </p>
    <p>

        <span class="main-label">Taunt</span>


        <span class="main-label">{{data.tauntDefense}}</span>

    </p>
    <p>

        <span class="main-label">pick</span>


        <span class="main-label">{{data.pickDefense}}</span>

    </p>
</div>
<div>
    <span class="vital-box">
        Wounds:
        <input name="data.wounds.value" type="text" value="{{data.wounds.value}}" data-dtype="Number"
            class="small-input" />
        /
        <input name="data.wounds.max" type="text" value="{{data.wounds.max}}" data-dtype="Number" class="small-input" />
    </span>
</div>
<div>
    <span class="vital-box">
        Shock:
        <input name="data.shock.value" type="text" value="{{data.shock.value}}" data-dtype="Number"
            class="small-input" />
        /
        <input name="data.shock.max" type="text" value="{{data.shock.max}}" data-dtype="Number" class="small-input" />
    </span>
</div>
<div class="attribut-block">
    <a class="other-label" data-skill-value="{{data.other.posibilities}}"
        data-skill-name="{{data.other.posibilities}}">possibilities</a>
    <input name="data.other.posibilities" type="number" value="{{data.other.posibilities}}" data=dtype="Number" />
</div>