<h2>
  <a
    class="activeDefense-roll{{#if actor.defenses.isActivelyDefending}}-glow{{/if}}"
    data-tooltip='{{localize "torgeternity.sheetLabels.defensesTip"}}'
  >
    {{localize 'torgeternity.sheetLabels.defenses'}}
  </a>
</h2>
<div class="stats-div">
  <p>
    <span class="main-label">{{localize "torgeternity.skills.dodge"}}</span>
    <span class="main-label">{{actor.defenses.dodge.value}}</span>
  </p>
  <p>
    <span class="main-label">{{localize "torgeternity.skills.meleeWeapons"}}</span>
    <span class="main-label">{{actor.defenses.meleeWeapons.value}}</span>
  </p>
  <p>
    <span class="main-label">{{localize "torgeternity.skills.unarmedCombat"}}</span>
    <span class="main-label">{{actor.defenses.unarmedCombat.value}}</span>
  </p>
  <p>
    <span class="main-label">{{localize "torgeternity.skills.intimidation"}}</span>
    <span class="main-label">{{actor.defenses.intimidation.value}}</span>
  </p>
  <p>
    <span class="main-label">{{localize "torgeternity.skills.maneuver"}}</span>
    <span class="main-label">{{actor.defenses.maneuver.value}}</span>
  </p>
  <p>
    <span class="main-label">{{localize "torgeternity.skills.taunt"}}</span>
    <span class="main-label">{{actor.defenses.taunt.value}}</span>
  </p>
  <p>
    <span class="main-label">{{localize "torgeternity.skills.trick"}}</span>
    <span class="main-label">{{actor.defenses.trick.value}}</span>
  </p>
</div>
