<h2>
    <a class="activeDefense-roll">{{localize "torgeternity.sheetLabels.defenses"}}</a>
</h2>
<div class="stats-div">
    <p>

        <span class="main-label">{{localize "torgeternity.skills.dodge"}}</span>


        <span class="main-label">{{data.data.dodgeDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.meleeWeapons"}}</span>


        <span class="main-label">{{data.data.meleeWeaponsDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.unarmedCombat"}}</span>


        <span class="main-label">{{data.data.unarmedCombatDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.intimidation"}}</span>
        <span class="main-label">{{data.data.intimidationDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.maneuver"}}</span>


        <span class="main-label">{{data.data.maneuverDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.taunt"}}</span>


        <span class="main-label">{{data.data.tauntDefense}}</span>

    </p>
    <p>

        <span class="main-label">{{localize "torgeternity.skills.trick"}}</span>


        <span class="main-label">{{data.data.trickDefense}}</span>

    </p>
</div>
