<div class="sksheet header totalbox">
  <h1 class="sksheet header nameinput">
    <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
  </h1>
  <img class="open-hand" src="systems/torgeternity/images/icons/cardhand.webp" data-tooltip="{{localize
  "torgeternity.dialogPrompts.openHand"}}">

  <div class="sksheet header CRSbox">
    <span>{{localize "torgeternity.gear.cosm"}}</span>
    <select style="width: 100%" name="system.other.cosm" class="input-box">
      {{selectOptions config.cosmTypes selected=actor.system.other.cosm localize=true}}
    </select>

    <span>{{localize "torgeternity.sheetLabels.race"}}</span>
    <select style="width: 100%" name="system.details.race" class="input-box">
      {{selectOptions config.races selected=actor.system.details.race localize=true}}
    </select>

    <span>{{localize "torgeternity.sheetLabels.size"}}</span>
    <select style="width: 100%" name="system.details.sizeBonus" class="input-box">
      {{selectOptions config.sizes selected=actor.system.details.sizeBonus localize=true}}
    </select>
  </div>

  <h2 class="sksheet header axiomsboxheadline">{{localize "torgeternity.stats.axioms"}}</h2>
  <div class="sksheet header axiomsbox">
    <span class="main-label">{{localize "torgeternity.sheetLabels.magic"}}</span>
    <input
      name="system.axioms.magic"
      type="number"
      value="{{actor.system.axioms.magic}}"
      data-dtype="Number"
      class="small-input"
    />
    <span class="main-label">{{localize "torgeternity.sheetLabels.social"}}</span>
    <input
      name="system.axioms.social"
      type="number"
      value="{{actor.system.axioms.social}}"
      data-dtype="Number"
      class="small-input"
    />
    <span class="main-label">{{localize "torgeternity.sheetLabels.spirit"}}</span>
    <input
      name="system.axioms.spirit"
      type="number"
      value="{{actor.system.axioms.spirit}}"
      data-dtype="Number"
      class="small-input"
    />
    <span class="main-label">{{localize "torgeternity.sheetLabels.tech"}}</span>
    <input
      name="system.axioms.tech"
      type="number"
      value="{{actor.system.axioms.tech}}"
      data-dtype="Number"
      class="small-input"
    />
  </div>

  <h2 class="sksheet header woundsheadline">{{localize "torgeternity.sheetLabels.wounds"}}</h2>
  <div class="sksheet header woundsbox">
    <input
      name="system.wounds.value"
      type="number"
      value="{{actor.system.wounds.value}}"
      data-dtype="Number"
      class="small-input"
    />
    /
    <input
      name="system.wounds.max"
      type="number"
      value="{{actor.system.wounds.max}}"
      data-dtype="Number"
      class="small-input"
      disabled
    />
  </div>

  <h2 class="sksheet header shockheadline">{{localize "torgeternity.sheetLabels.shock"}}</h2>
  <div class="sksheet header shockbox">
    <input
      name="system.shock.value"
      type="number"
      value="{{actor.system.shock.value}}"
      data-dtype="Number"
      class="small-input"
    />
    /
    <input
      name="system.shock.max"
      type="number"
      value="{{actor.system.shock.max}}"
      data-dtype="Number"
      class="small-input"
      disabled
    />
  </div>

  <h2 class="sksheet header possyheadline open-poss">
    {{localize "torgeternity.sheetLabels.possibilities"}}
  </h2>
  <div class="sksheet header possybox">
    <input
      name="system.other.possibilities"
      type="number"
      value="{{actor.system.other.possibilities}}"
      data-dtype="number"
    />
  </div>
</div>
