<div>
    <h1> <input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
    <img src="systems/torgeternity/images/te-logo.png" title="TE Logo" />
</div>
<div>
    <p class="item-data-label">
        Clearance

        <select name="data.details.clearance" class="input-box">
            {{#select data.details.clearance}}
            {{#each config.clearances as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </p>
    <p class="item-data-label">
        Race

        <select name="data.details.race" class="input-box">
            {{#select data.details.race}}
            {{#each config.races as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </p>
    <p>
        <span>Cosm</span>
        <select name="data.other.cosm" class="input-box">
            {{#select data.other.cosm}}
            {{#each config.cosmTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </p>
</div>
<div>

    <p>
    <table class="stats-table">
        <p>
            <span class="main-label">{{localize "torgeternity.sheetLabels.magic"}}</span>
            <span >{{data.axioms.magic}}</span>
        </p>
        <p>
            <span class="main-label">{{localize "torgeternity.sheetLabels.social"}}</span>
            <span >{{data.axioms.social}}</span>
        </p>
        <p>
            <span class="main-label">{{localize "torgeternity.sheetLabels.spirit"}}</span>
            <span >{{data.axioms.spirit}}</span>
        </p>
        <p>
            <span class="main-label">{{localize "torgeternity.sheetLabels.tech"}}</span>
            <span >{{data.axioms.tech}}</span>
        </p>
    </table>

    </p>
</div>
<div>
    <p>
        <span class="main-label">XP Unspent</span>
        <input name="data.xp.unspent" type="number" value="{{data.xp.unspent}}" data=dtype="Number" />

    </p>
    <p>
        <span class="main-label">XP Earned</span>
        <input name="data.xp.earned" type="number" value="{{data.xp.earned}}" data=dtype="Number" />

    </p>
</div>