<form class="actor-sheet {{cssClass}} characterCreation" autocomplete="off">
    <h3 class="actor-type"><span>{{localize "torgeternity.sheetLabels.stormknight"}}</span></h3>
    <header class="characterCreationHeader">
        <div class="name">
            <label for="name">{{localize "torgeternity.sheetLabels.characterCreation.chooseName"}}</label>
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "torgeternity.sheetLabels.name"}}"/>
        </div>
        <div>
            <label for="chooseCosm">{{localize "torgeternity.sheetLabels.characterCreation.chooseCosm"}}</label>
            <select name="system.other.cosm" id="chooseCosm">
                {{selectOptions config.cosmTypes selected=actor.system.other.cosm localize=true}}
            </select>
        </div>
        {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
            <div>
                <label for="chooseRace">{{localize "torgeternity.sheetLabels.characterCreation.chooseRace"}}</label>
                <button class="createHumanRace">{{localize "torgeternity.sheetLabels.characterCreation.Human"}}</button>
            </div>
        {{else}}
            <div class="characterCreationChosenRace">
                <p>{{localize "torgeternity.sheetLabels.characterCreation.chosenRace"}}</p>
                <img src="{{actor.race.img}}">
                <p>{{actor.race.name}}</p>
                <a class="deleteRaceButton" data-tooltip="{{localize 'torgeternity.iconeTitles.deleteRace'}}"><i class="fas fa-trash"></i></a>
            </div>
        {{/if}}
    </header>
    <hr>
    <div class="characterCreation attributes">
        <h1>{{localize "torgeternity.sheetLabels.attributes"}}</h1>
        
        <ul class="attribut-list">
            <li class="attribut-block"> <!--Charisma-->
                <p>{{localize "torgeternity.attributes.charisma"}}</p>
                <a
                    class="increaseAttribute"
                    data-concernedAttribute="charisma"
                    {{#if (gte actor.system.attributes.charisma.base actor.system.attributes.charisma.maximum)}}
                        style="visibility:hidden"
                    {{/if}}
                >
                    <i class="fa-solid fa-plus changeAttributeAdd"></i>
                </a>
                        
                <input
                    name="system.attributes.charisma.value"
                    type="number"
                    class="attributeValueField"
                    data-baseAttributeInput="charisma"
                    value='{{actor.system.attributes.charisma.base}}'
                    data-dtype="Number"
                    readonly="true"
                />
                <a class="decreaseAttribute" data-concernedAttribute="charisma">
                    <i class="fa-solid fa-minus changeAttributeSubstract"></i>
                </a>
                <i
                    {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                        style="visibility:hidden"
                    {{/if}}> 
                        {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.charisma.maximum}}
                </i>
            </li>

            <li class="attribut-block"> <!--Dexterity-->
                <p>{{localize "torgeternity.attributes.dexterity"}}</p>
                <a
                    class="increaseAttribute"
                    data-concernedAttribute="dexterity"
                    {{#if (gte actor.system.attributes.dexterity.base actor.system.attributes.dexterity.maximum)}}
                        style="visibility:hidden"
                    {{/if}}
                    >
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
                </a>
                        
                <input
                    name="system.attributes.dexterity.value"
                    type="number"
                    class="attributeValueField"
                    data-baseAttributeInput="dexterity"
                    value='{{actor.system.attributes.dexterity.base}}'
                    data-dtype="Number"
                    readonly="true"
                />

                <a class="decreaseAttribute" data-concernedAttribute="dexterity">
                    <i class="fa-solid fa-minus changeAttributeSubstract"></i>
                </a>
                <i 
                    {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                        style="visibility:hidden"
                    {{/if}}
                > 
                    {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.dexterity.maximum}}
                </i>
            </li>

            <li class="attribut-block"> <!--Mind-->
                <p>{{localize "torgeternity.attributes.mind"}}</p>
                <a
                    class="increaseAttribute"
                    data-concernedAttribute="mind"
                    {{#if (gte actor.system.attributes.mind.base actor.system.attributes.mind.maximum)}}
                        style="visibility:hidden"
                    {{/if}}
                >
                    <i class="fa-solid fa-plus changeAttributeAdd"></i>
                </a>        
                <input 
                    name="system.attributes.mind.value" 
                    type="number"    
                    class="attributeValueField"
                    data-baseAttributeInput="mind" 
                    value='{{actor.system.attributes.mind.base}}'
                    data-dtype="Number" 
                    readonly="true"
                />        
                <a class="decreaseAttribute" data-concernedAttribute="mind">
                    <i class="fa-solid fa-minus changeAttributeSubstract"></i>
                </a>
                <i 
                    {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                        style="visibility:hidden"
                    {{/if}}
                > 
                    {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.mind.maximum}}
                </i>
            </li>

            <li class="attribut-block"> <!--Spirit-->
                <p>{{localize "torgeternity.attributes.spirit"}}</p>
                <a
                    class="increaseAttribute"
                    data-concernedAttribute="spirit"
                    {{#if (gte actor.system.attributes.spirit.base actor.system.attributes.spirit.maximum)}}
                        style="visibility:hidden"
                    {{/if}}
                >
                    <i class="fa-solid fa-plus changeAttributeAdd"></i>
                </a>    
                <input
                    name="system.attributes.spirit.value"
                    type="number"
                    class="attributeValueField"
                    data-baseAttributeInput="spirit" 
                    value='{{actor.system.attributes.spirit.base}}'
                    data-dtype="Number"
                    readonly="true"        
                />
                <a class="decreaseAttribute" data-concernedAttribute="spirit">
                    <i class="fa-solid fa-minus changeAttributeSubstract"></i>
                </a>
                <i 
                    {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                        style="visibility:hidden"
                    {{/if}}
                > 
                    {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.spirit.maximum}}
                </i>
            </li>

            <li class="attribut-block"> <!--Strength-->
                <p>{{localize "torgeternity.attributes.strength"}}</p>
                <a
                    class="increaseAttribute"
                    data-concernedAttribute="strength"
                    {{#if (gte actor.system.attributes.strength.base actor.system.attributes.strength.maximum)}}
                        style="visibility:hidden"
                    {{/if}}
                    >
                    <i class="fa-solid fa-plus changeAttributeAdd"></i>
                </a>
                
                <input
                    name="system.attributes.strength.value"
                    type="number"
                    class="attributeValueField"
                    data-baseAttributeInput="strength" 
                    value='{{actor.system.attributes.strength.base}}'
                    data-dtype="Number"
                    readonly="true"
                />
                <a class="decreaseAttribute" data-concernedAttribute="strength">
                    <i class="fa-solid fa-minus changeAttributeSubstract"></i>
                </a>
                <i 
                    {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                        style="visibility:hidden"
                    {{/if}}
                > 
                    {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.strength.maximum}}
                </i>
            </li>
        </ul>
    </div>
    <hr>
    <!--#region Skills-->
    <div class="characterCreation skills">
        <h1>{{localize "torgeternity.sheetLabels.skills"}}</h1>
        
        {{#*inline "skillRow" content name attrTypes}}
            <li>
                <span>
                    {{localize (concat 'torgeternity.skills.' name)}}
                </span>
                <span class="skill-line skillAttr">
                    {{localize (concat 'torgeternity.attributes.' content.baseAttribute)}}
                </span>
                <span class="skillAdd">
                    <input
                        name="system.skills.{{name}}.adds"
                        type="number"
                        value="{{content.adds}}"
                        data-dtype="Number"
                    />
                </span>
                <input class="skill-line" disabled type="number" placeholder="-" value="{{content.value}}"/>
                <span>
                <a class="toggleFav {{#if content.isFav}}checked{{/if}}">
                    <i class="far fa-star"></i>
                </a>
                <input
                    class="favCheck"
                    type="checkbox"
                    name="system.skills.{{name}}.isFav"
                    {{checked
                    content.isFav}}
                    data-dtype="Boolean"                    
                />
                </span>
            </li>
        {{/inline}} 
        <!-- Combat skills -->
        <ul class="skill-list">
            <li class="dark">
            <span>{{localize "torgeternity.sheetLabels.combatSkills"}}</span>
            <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
            <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
            <span>{{localize "torgeternity.sheetLabels.total"}}</span>
            <span>{{localize "torgeternity.sheetLabels.favored"}}</span>
            </li>
            {{#each actor.system.skills as |content name|}} 
            {{#if (eq content.groupName "combat")}}
                {{> skillRow content=content name=name attrTypes=../config.attributeTypes}} 
            {{/if}} 
            {{/each}}
        </ul>
        <ul class="skill-list">
            <!-- Interaction skills -->
            <li class="dark">
            <span>{{localize "torgeternity.sheetLabels.interactionSkills"}}</span>
            <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
            <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
            <span>{{localize "torgeternity.sheetLabels.total"}}</span>
            <span>{{localize "torgeternity.sheetLabels.favored"}}</span>
            </li>
            {{#each actor.system.skills as |content name|}} 
            {{#if (eq content.groupName "interaction")}} 
                {{> skillRow content=content name=name attrTypes=../config.attributeTypes}} 
            {{/if}} 
            {{/each}}
        </ul>
        <ul class="skill-list">
            <!-- Other skills (and custom skills) -->
            <li class="dark">
            <span>{{localize "torgeternity.sheetLabels.otherSkills"}}</span>
            <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
            <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
            <span>{{localize "torgeternity.sheetLabels.total"}}</span>
            <span>{{localize "torgeternity.sheetLabels.favored"}}</span>
            </li>
            {{#each actor.system.skills as |content name|}} 
            {{#if (eq content.groupName "other")}} 
                {{> skillRow content=content name=name attrTypes=../config.attributeTypes}} 
            {{/if}} 
            {{/each}} 
        </ul>
        <p>{{localize "torgeternity.sheetLabels.characterCreation.sumAdds" x=sumAdds}}</p>

    </div>
    <!--#endregion-->
    <hr>
    <!--#region Perks-->
    <div class="characterCreation perks">
        <h1>{{localize "torgeternity.sheetLabels.perks"}}</h1>
        {{#if (and (not onlyRacePerks) perk.length)}}
            <ol>
                {{#each perk as |item id|}}
                    {{#if (ne item.system.category "racial")}}
                        <li class="item" data-item-id="{{item._id}}">
                            <img src="{{item.img}}" data-tooltip="{{item.name}}">
                            <p>{{item.name}}</p>
                            <div class="item-controls">
                                <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                <i class="fas fa-comment"></i>
                                </a>
                                <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                <i class="fas fa-edit"></i>
                                </a>
                                <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        {{else}}
        <p>{{localize "torgeternity.sheetLabels.characterCreation.choosePerks"}}</p>
        {{/if}}
    {{#if (gt sumRacePerks 0)}}
        <h2>{{localize "torgeternity.sheetLabels.characterCreation.racePerks"}}</h2>
        <ol>
            {{#each perk as |item|}}
                {{#if (eq item.system.category "racial")}}
                    <li class="item" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" data-tooltip="{{item.name}}">
                        <p>{{item.name}}</p>
                    </li>
                {{/if}}
            {{/each}}
        </ol>
    {{/if}}

    </div>
    <!--#endregion-->
    <hr>
    <!--#region Purchase-->
    <div class="characterCreation purchases gear">
        <h1>{{localize "torgeternity.sheetLabels.purchases"}}</h1>        
        {{#if (gt gear.length 0)}}
            <h3>{{localize "torgeternity.sheetLabels.gear"}}</h3>
            <ol class="item-list">
                {{#each gear as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <div class="item-row flexrow">
                        <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                        <a class="item-name">{{item.name}}</a>
                        <div class="item-controls">                            
                            <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                <i class="fas fa-comment"></i>
                            </a>
                            <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                <i class="fas fa-trash"></i>
                            </a>
                            <div class="freeItemBoxDiv">
                                <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <div class="item-dropdown-description">
                            {{{item.description}}}
                        </div>
                        <div class="item-dropdown-extras">
                            {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                        </div>
                        <div class="item-dropdown-extras">
                            {{item.system.price}}
                            ({{item.system.value}})
                        </div>
                        <div class="item-dropdown-extras">
                            {{localize 'torgeternity.gear.tl'}}
                            {{item.system.techlevel}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
        {{/if}}                    

        {{#if (or (gt meleeweapons.length 0) (gt customAttack.length 0) (gt missileweapon.length 0) (gt firearm.length 0) (gt heavyweapon.length 0))}}
            <h2>{{localize "torgeternity.sheetLabels.weapons"}}</h2>
            {{#if (gt meleeweapons.length 0)}}
                <h3>{{localize "torgeternity.sheetLabels.meleeWeapons"}}</h3>
                <ol class="item-list">
                    {{#each meleeweapons as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <div class="item-row flexrow">
                                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                                <a class="item-name">{{item.name}}</a>
                                <div class="item-controls">
                                    <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                        <i class="fas fa-comment"></i>
                                    </a>
                                    <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                        <i class="fas fa-trash"></i>
                                    </a> 
                                    <div class="freeItemBoxDiv">
                                        <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                        <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                        <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                                    </div>
                                </div>                               
                            </div>
                            <div class="item-detail">
                                <div class="item-dropdown-description">
                                    {{{item.description}}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{item.system.price}}
                                    ({{item.system.value}})
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize 'torgeternity.gear.tl'}}
                                    {{item.system.techlevel}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{/if}}
            {{#if (gt missileweapon.length 0)}}
                <h3>{{localize "torgeternity.sheetLabels.missileWeapons"}}</h3>
                <ol class="item-list">
                    {{#each missileweapon as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <div class="item-row flexrow">
                                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                                <a class="item-name">{{item.name}}</a>
                                <div class="item-controls">
                                    <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                        <i class="fas fa-comment"></i>
                                    </a>
                                    <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                        <i class="fas fa-trash"></i>
                                    </a> 
                                    <div class="freeItemBoxDiv">
                                        <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                        <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                        <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                                    </div>
                                </div>                               
                            </div>
                            <div class="item-detail">
                                <div class="item-dropdown-description">
                                    {{{item.description}}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{item.system.price}}
                                    ({{item.system.value}})
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize 'torgeternity.gear.tl'}}
                                    {{item.system.techlevel}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{/if}}
            {{#if (gt firearm.length 0)}}
                <h3>{{localize "torgeternity.sheetLabels.firearms"}}</h3>
                <ol class="item-list">
                    {{#each firearm as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <div class="item-row flexrow">
                                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                                <a class="item-name">{{item.name}}</a>
                                <div class="item-controls">
                                    <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                        <i class="fas fa-comment"></i>
                                    </a>
                                    <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                        <i class="fas fa-trash"></i>
                                    </a> 
                                    <div class="freeItemBoxDiv">
                                        <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                        <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                        <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                                    </div>
                                </div>                               
                            </div>
                            <div class="item-detail">
                                <div class="item-dropdown-description">
                                    {{{item.description}}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{item.system.price}}
                                    ({{item.system.value}})
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize 'torgeternity.gear.tl'}}
                                    {{item.system.techlevel}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{/if}}
            {{#if (gt heavyweapon.length 0)}}
                <h3>{{localize "torgeternity.sheetLabels.firearms"}}</h3>
                <ol class="item-list">
                    {{#each heavyweapon as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <div class="item-row flexrow">
                                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                                <a class="item-name">{{item.name}}</a>
                                <div class="item-controls">
                                    <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                        <i class="fas fa-comment"></i>
                                    </a>
                                    <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                        <i class="fas fa-trash"></i>
                                    </a> 
                                    <div class="freeItemBoxDiv">
                                        <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                        <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                        <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                                    </div>
                                </div>                               
                            </div>
                            <div class="item-detail">
                                <div class="item-dropdown-description">
                                    {{{item.description}}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{item.system.price}}
                                    ({{item.system.value}})
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize 'torgeternity.gear.tl'}}
                                    {{item.system.techlevel}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{/if}}
        {{/if}}

        {{#if (or (gt armor.length 0) (gt shield.length 0))}}
            <h2>{{localize "torgeternity.sheetLabels.armorAndShields"}}</h2>
            {{#if (gt armor.length 0)}}
                <ol class="item-list">
                    {{#each armor as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <div class="item-row flexrow">
                                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                                <a class="item-name">{{item.name}}</a>
                                <div class="item-controls">
                                    <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                        <i class="fas fa-comment"></i>
                                    </a>
                                    <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                        <i class="fas fa-trash"></i>
                                    </a> 
                                    <div class="freeItemBoxDiv">
                                        <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                        <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                        <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                                    </div>
                                </div>                               
                            </div>
                            <div class="item-detail">
                                <div class="item-dropdown-description">
                                    {{{item.description}}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{item.system.price}}
                                    ({{item.system.value}})
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize 'torgeternity.gear.tl'}}
                                    {{item.system.techlevel}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{/if}}
            {{#if (gt shield.length 0)}}
                <ol class="item-list">
                    {{#each shield as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <div class="item-row flexrow">
                                <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                                <a class="item-name">{{item.name}}</a>
                                <div class="item-controls">
                                    <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                        <i class="fas fa-comment"></i>
                                    </a>
                                    <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                        <i class="fas fa-trash"></i>
                                    </a> 
                                    <div class="freeItemBoxDiv">
                                        <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                        <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                        <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                                    </div>
                                </div>                               
                            </div>
                            <div class="item-detail">
                                <div class="item-dropdown-description">
                                    {{{item.description}}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                                </div>
                                <div class="item-dropdown-extras">
                                    {{item.system.price}}
                                    ({{item.system.value}})
                                </div>
                                <div class="item-dropdown-extras">
                                    {{localize 'torgeternity.gear.tl'}}
                                    {{item.system.techlevel}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{/if}}
        {{/if}}

        {{#if (or (gt cyberware.length 0) (gt occultech.length 0) (gt vehicle.length))}}
            <h2>{{localize "torgeternity.sheetLabels.otherGear"}}</h2>
                {{#if (gt vehicle.length 0)}}                
                    <h3>{{localize "torgeternity.sheetLabels.vehicles"}}</h3>
                    <ol class="item-list">
                        {{#each vehicle as |item id|}}
                            <li class="item" data-item-id="{{item._id}}">
                                <div class="item-row flexrow">
                                    <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                                    <a class="item-name">{{item.name}}</a>
                                    <div class="item-controls">
                                        <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                            <i class="fas fa-comment"></i>
                                        </a>
                                        <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                            <i class="fas fa-trash"></i>
                                        </a> 
                                        <div class="freeItemBoxDiv">
                                            <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                            <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                            <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                                        </div>
                                    </div>                               
                                </div>
                                <div class="item-detail">
                                    <div class="item-dropdown-description">
                                        {{{item.description}}}
                                    </div>
                                    <div class="item-dropdown-extras">
                                        {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                                    </div>
                                    <div class="item-dropdown-extras">
                                        {{item.system.price}}
                                        ({{item.system.value}})
                                    </div>
                                    <div class="item-dropdown-extras">
                                        {{localize 'torgeternity.gear.tl'}}
                                        {{item.system.techlevel}}
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                {{/if}}
                {{#if (gt cyberware.length 0)}}
                    <h3>{{localize "torgeternity.sheetLabels.cyberware"}}</h3>
                    <ol class="item-list">
                        {{#each cyberware as |item id|}}
                            <li class="item" data-item-id="{{item._id}}">
                                <div class="item-row flexrow">
                                    <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                                    <a class="item-name">{{item.name}}</a>
                                    <div class="item-controls">
                                        <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                            <i class="fas fa-comment"></i>
                                        </a>
                                        <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                            <i class="fas fa-trash"></i>
                                        </a> 
                                        <div class="freeItemBoxDiv">
                                            <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                            <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                            <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                                        </div>
                                    </div>                               
                                </div>
                                <div class="item-detail">
                                    <div class="item-dropdown-description">
                                        {{{item.description}}}
                                    </div>
                                    <div class="item-dropdown-extras">
                                        {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                                    </div>
                                    <div class="item-dropdown-extras">
                                        {{item.system.price}}
                                        ({{item.system.value}})
                                    </div>
                                    <div class="item-dropdown-extras">
                                        {{localize 'torgeternity.gear.tl'}}
                                        {{item.system.techlevel}}
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                {{/if}}

                {{#if (gt occultech.length 0)}}
                    <h3>{{localize "torgeternity.sheetLabels.occultech"}}</h3>
                    <ol class="item-list">
                        {{#each occultech as |item id|}}
                            <li class="item" data-item-id="{{item._id}}">
                                <div class="item-row flexrow">
                                    <img src="{{item.img}}" data-tooltip="{{item.name}}" />
                                    <a class="item-name">{{item.name}}</a>
                                    <div class="item-controls">
                                        <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                                            <i class="fas fa-comment"></i>
                                        </a>
                                        <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                                            <i class="fas fa-trash"></i>
                                        </a> 
                                        <div class="freeItemBoxDiv">
                                            <label>{{localize "torgeternity.gear.price"}}: {{item.system.price}} $</label>                                
                                            <input name="freeItemBox" class="checkboxFreeItem" type="checkbox" data-tooltip="{{localize "torgeternity.sheetLabels.freeItemTooltip"}}" data-dtype="Boolean" {{checked item.flags.torgeternity.freeItem}}>
                                            <label for="freeItemBox">{{localize "torgeternity.sheetLabels.freeItem"}}</label>
                                        </div>
                                    </div>                               
                                </div>
                                <div class="item-detail">
                                    <div class="item-dropdown-description">
                                        {{{item.description}}}
                                    </div>
                                    <div class="item-dropdown-extras">
                                        {{localize (concat "torgeternity.cosms." item.system.cosm)}}
                                    </div>
                                    <div class="item-dropdown-extras">
                                        {{item.system.price}}
                                        ({{item.system.value}})
                                    </div>
                                    <div class="item-dropdown-extras">
                                        {{localize 'torgeternity.gear.tl'}}
                                        {{item.system.techlevel}}
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                {{/if}}
        {{/if}}
        <p>{{localize "torgeternity.sheetLabels.characterCreation.balance" d=balance}}</p>
    </div>
    <!--#endregion-->
</form>