<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <h3 class="actor-type"><span>{{localize "torgeternity.sheetLabels.stormknight"}}</span></h3>
    <header class="characterCreationHeader">
        <div>
            <label for="chooseCosm">{{localize "torgeternity.sheetLabels.characterCreation.chooseCosm"}}</label>
            <select name="system.other.cosm" id="chooseCosm">
                {{selectOptions config.cosmTypes selected=actor.system.other.cosm localize=true}}
            </select>
        </div>
        {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
            <div>
                <label for="chooseRace">{{localize "torgeternity.sheetLabels.characterCreation.chooseRace"}}</label>
                <button class="createHumanRace">{{localize "torgeternity.sheetLabels.characterCreation.Human"}}</button>
            </div>
        {{else}}
            <div class="characterCreationChosenRace">
                <p>{{localize "torgeternity.sheetLabels.characterCreation.chosenRace"}}</p>
                <img src="{{actor.race.img}}">
                <p>{{actor.race.name}}</p>
                <a class="deleteRaceButton" data-tooltip="{{localize 'torgeternity.iconeTitles.deleteRace'}}"><i class="fas fa-trash"></i></a>
            </div>
        {{/if}}
    </header>

    <div class="attributes header">
        <h2>{{localize "torgeternity.sheetLabels.attributes"}}</h2>
    </div>

    <ul class="attribut-list">
        <li class="attribut-block"> <!--Charisma-->
            <p>{{localize "torgeternity.attributes.charisma"}}</p>
            <a
                class="increaseAttribute"
                data-concernedAttribute="charisma"
                {{#if (gte actor.system.attributes.charisma.base actor.system.attributes.charisma.maximum)}}
                    style="visibility:hidden"
                {{/if}}
            >
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
            </a>
                    
            <input
                name="system.attributes.charisma.value"
                type="number"
                class="attributeValueField"
                data-baseAttributeInput="charisma"
                value='{{actor.system.attributes.charisma.base}}'
                data-dtype="Number"
                readonly="true"
            />
            <a class="decreaseAttribute" data-concernedAttribute="charisma">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
            </a>
            <i
                {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                    style="visibility:hidden"
                {{/if}}> 
                    {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.charisma.maximum}}
            </i>
        </li>

        <li class="attribut-block"> <!--Dexterity-->
            <p>{{localize "torgeternity.attributes.dexterity"}}</p>
            <a
                class="increaseAttribute"
                data-concernedAttribute="dexterity"
                {{#if (gte actor.system.attributes.dexterity.base actor.system.attributes.dexterity.maximum)}}
                    style="visibility:hidden"
                {{/if}}
                >
            <i class="fa-solid fa-plus changeAttributeAdd"></i>
            </a>
                    
            <input
                name="system.attributes.dexterity.value"
                type="number"
                class="attributeValueField"
                data-baseAttributeInput="dexterity"
                value='{{actor.system.attributes.dexterity.base}}'
                data-dtype="Number"
                readonly="true"
            />

            <a class="decreaseAttribute" data-concernedAttribute="dexterity">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
            </a>
            <i 
                {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                    style="visibility:hidden"
                {{/if}}
            > 
                {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.dexterity.maximum}}
            </i>
        </li>

        <li class="attribut-block"> <!--Mind-->
            <p>{{localize "torgeternity.attributes.mind"}}</p>
            <a
                class="increaseAttribute"
                data-concernedAttribute="mind"
                {{#if (gte actor.system.attributes.mind.base actor.system.attributes.mind.maximum)}}
                    style="visibility:hidden"
                {{/if}}
            >
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
            </a>        
            <input 
                name="system.attributes.mind.value" 
                type="number"    
                class="attributeValueField"
                data-baseAttributeInput="mind" 
                value='{{actor.system.attributes.mind.base}}'
                data-dtype="Number" 
                readonly="true"
            />        
            <a class="decreaseAttribute" data-concernedAttribute="mind">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
            </a>
            <i 
                {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                    style="visibility:hidden"
                {{/if}}
            > 
                {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.mind.maximum}}
            </i>
        </li>

        <li class="attribut-block"> <!--Spirit-->
            <p>{{localize "torgeternity.attributes.spirit"}}</p>
            <a
                class="increaseAttribute"
                data-concernedAttribute="spirit"
                {{#if (gte actor.system.attributes.spirit.base actor.system.attributes.spirit.maximum)}}
                    style="visibility:hidden"
                {{/if}}
            >
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
            </a>    
            <input
                name="system.attributes.spirit.value"
                type="number"
                class="attributeValueField"
                data-baseAttributeInput="spirit" 
                value='{{actor.system.attributes.spirit.base}}'
                data-dtype="Number"
                readonly="true"        
            />
            <a class="decreaseAttribute" data-concernedAttribute="spirit">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
            </a>
            <i 
                {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                    style="visibility:hidden"
                {{/if}}
            > 
                {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.spirit.maximum}}
            </i>
        </li>

        <li class="attribut-block"> <!--Strength-->
            <p>{{localize "torgeternity.attributes.strength"}}</p>
            <a
                class="increaseAttribute"
                data-concernedAttribute="strength"
                {{#if (gte actor.system.attributes.strength.base actor.system.attributes.strength.maximum)}}
                    style="visibility:hidden"
                {{/if}}
                >
                <i class="fa-solid fa-plus changeAttributeAdd"></i>
            </a>
            
            <input
                name="system.attributes.strength.value"
                type="number"
                class="attributeValueField"
                data-baseAttributeInput="strength" 
                value='{{actor.system.attributes.strength.base}}'
                data-dtype="Number"
                readonly="true"
            />
            <a class="decreaseAttribute" data-concernedAttribute="strength">
                <i class="fa-solid fa-minus changeAttributeSubstract"></i>
            </a>
            <i 
                {{#if (eq actor.system.details.race (localize "torgeternity.sheetLabels.noRace"))}}
                    style="visibility:hidden"
                {{/if}}
            > 
                {{localize "torgeternity.sheetLabels.max"}} {{actor.system.attributes.strength.maximum}}
            </i>
        </li>
    </ul>
</form>