<h2>OTHERS</h2>

<ul>
    <li class="attribut-block">
        <a class="other-label" data-skill-value="{{data.other.move}}" data-skill-name="{{data.other.move}}">{{localize "torgeternity.sheetLabels.move"}}</a>
        <input name="data.other.move" type="number" value="{{data.other.move}}" data=dtype="Number" />
    </li>
    <li class="attribut-block">
        <a class="other-label" data-skill-value="{{data.other.run}}" data-skill-name="{{data.other.run}}">{{localize "torgeternity.sheetLabels.run"}}</a>
        <input name="data.other.run" type="number" value="{{data.other.run}}" data=dtype="Number" />
    </li>
    
    <li class="attribut-block">
        <a class="other-label" data-skill-value="{{data.other.toughness}}"
            data-skill-name="{{data.other.toughness}}">{{localize "torgeternity.sheetLabels.toughness"}}</a>
        <input name="data.other.toughness" type="number" value="{{data.other.toughness}}" data=dtype="Number" />
    </li>

    <li class="attribut-block">
        <a class="other-label" data-skill-value="{{data.other.armor}}" data-skill-name="{{data.other.armor}}">{{localize "torgeternity.sheetLabels.armor"}}</a>
        <input name="data.other.armor" type="number" value="{{data.other.armor}}" data=dtype="Number" />
    </li>
    
</ul>