<h2>{{localize "torgeternity.sheetLabels.derivedValues"}}</h2>

<ul>
    <li class="attribut-block">
        <span class="other-label" data-skill-value="{{data.other.move}}" data-skill-name="{{data.other.move}}">{{localize "torgeternity.sheetLabels.move"}}</span>
        <input name="data.other.move" type="number" value="{{data.other.move}}" data=dtype="Number" disabled />
    </li>
    <li class="attribut-block">
        <span class="other-label" data-skill-value="{{data.other.run}}" data-skill-name="{{data.other.run}}">{{localize "torgeternity.sheetLabels.run"}}</span>
        <input name="data.other.run" type="number" value="{{data.other.run}}" data=dtype="Number" disabled />
    </li>
    
    <li class="attribut-block">
        <span class="other-label" data-skill-value="{{data.other.toughness}}"
            data-skill-name="{{data.other.toughness}}">{{localize "torgeternity.sheetLabels.toughness"}}</span>
        <input name="data.other.toughness" type="number" value="{{data.other.toughness}}" data=dtype="Number" disabled />
    </li>

    <li class="attribut-block">
        <span class="other-label" data-skill-value="{{data.other.armor}}" data-skill-name="{{data.other.armor}}">{{localize "torgeternity.sheetLabels.armor"}}</span>
        <input name="data.other.armor" type="number" value="{{data.other.armor}}" data=dtype="Number" disabled />
    </li>
    
</ul>