<h2>{{localize 'torgeternity.sheetLabels.derivedValues'}}</h2>

<ul>
  <li class="attribut-block">
    <span class="other-label" data-skill-value="{{actor.system.other.move}}">
      {{localize 'torgeternity.sheetLabels.move'}}
    </span>
    <input
      name="system.other.move"
      type="number"
      value="{{actor.system.other.move}}"
      data-dtype="Number"
      disabled
    />
  </li>
  <li class="attribut-block">
    <span class="other-label" data-skill-value="{{actor.system.other.run}}">
      {{localize 'torgeternity.sheetLabels.run'}}
    </span>
    <input
      name="system.other.run"
      type="number"
      value="{{actor.system.other.run}}"
      data-dtype="Number"
      disabled
    />
  </li>

  <li class="attribut-block">
    <span class="other-label" data-skill-value="{{actor.defenses.toughness}}">
      {{localize 'torgeternity.sheetLabels.toughness'}}
    </span>
    <input type="number" value="{{actor.defenses.toughness}}" data-dtype="Number" disabled />
  </li>

  <li class="attribut-block">
    <span class="other-label" data-skill-value="{{actor.defenses.armor}}">
      {{localize 'torgeternity.sheetLabels.armor'}}
    </span>
    <input type="number" value="{{actor.defenses.armor}}" data-dtype="Number" disabled />
  </li>

  <li class="attribut-block">
    <a
      class="attribut-block apply-fatigue"
      data-fatigue="{{actor.fatigue}}"
      title="Click to apply fatigue"
    >
      {{localize 'torgeternity.sheetLabels.fatigue'}}
    </a>
    <input type="number" value="{{actor.fatigue}}" data-dtype="Number" disabled />
  </li>
</ul>
