<div class="list-section-heading">{{localize "torgeternity.sheetLabels.perks"}}</div>
<ol class="item-list">
  {{#each perk as |item id|}}

    <li class="item block" data-item-id="{{item._id}}">
      <div class="item-row flexrow">
        <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        <a class="item-name">{{item.name}}</a>
        <div class="item-controls">
          <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
            <i class="fas fa-comment"></i>
          </a>
          <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </div>

      <div class="item-detail">
        <div class="item-dropdown-description">
          {{{item.system.description}}}
        </div>
        <div class="item-dropdown-extras">
          {{localize (concatPerkType item.system.category)}}
        </div>
        <div class="item-dropdown-extras">
          {{item.system.cosm}}
        </div>
        <div class="item-dropdown-extras">
          {{item.system.timestaken}}x
        </div>
      </div>

    </li>
  {{/each}}
</ol>

<div class="list-section-heading">{{localize "torgeternity.sheetLabels.customSkills"}}</div>
<ol class="item-list">
  {{#each customSkill as |item id|}}

    <li class="item block" data-item-id="{{item._id}}">
      <div class="item-row flexrow">
        <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        <a class="item-name">{{item.name}}</a>
        <div class="item-controls">
          <a class="item-control item-tochat" data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
            <i class="fas fa-comment"></i>
          </a>
          <a class="item-control item-edit" data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-control item-delete" data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </div>

      <div class="item-detail">
        <div class="item-dropdown-description">
          {{{item.system.description}}}
        </div>
      </div>

    </li>
  {{/each}}
</ol>