<h2>{{localize "torgeternity.sheetLabels.perks"}}</h2>
<div class="item-list">
	{{#each perk as |item id|}}
		<li class="item " data-item-id="{{item._id}}">
			<div><img src="{{item.img}}" title="{{item.name}}"/></div>
			<span class="item-name">{{item.name}}</span>
			<div class="item-controls">
				<a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
					<i class="fas fa-comment"></i>
				</a>
				<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
					<i class="fas fa-edit"></i>
				</a>
				<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
					<i class="fas fa-trash"></i>
				</a>
			</div>

		</li>
	{{/each}}
</div>
