<div class="list-section-heading">{{localize "torgeternity.sheetLabels.perks"}}</div>
<ol class="item-list">
	{{#each perk as |item id|}}


		<li class="item block" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}"/>
				<a class="item-name">{{item.name}}</a>
				<div class="item-controls">
					<a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
						<i class="fas fa-comment"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>

			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
				</div>
				<div class="item-dropdown-extras">
					{{item.data.category}}
				</div>
				<div class="item-dropdown-extras">
					{{item.data.cosm}}
				</div>
				<div class="item-dropdown-extras">
					{{item.data.timestaken}}x
				</div>
			</div>

		</li>
	{{/each}}
</ol>

<div class="list-section-heading">{{localize "torgeternity.sheetLabels.customSkills"}}</div>
<ol class="item-list">
	{{#each customSkill as |item id|}}


		<li class="item block" data-item-id="{{item._id}}">
			<div class="item-row flexrow">
				<img src="{{item.img}}" title="{{item.name}}"/>
				<a class="item-name">{{item.name}}</a>
				<div class="item-controls">
					<a class="item-control item-tochat" title="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
						<i class="fas fa-comment"></i>
					</a>
					<a class="item-control item-edit" title="{{localize 'torgeternity.iconeTitles.edit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="item-control item-delete" title="{{localize 'torgeternity.iconeTitles.delete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>

			<div class="item-detail">
				<div class="item-dropdown-description">
					{{{item.data.description}}}
				</div>
			</div>

		</li>
	{{/each}}
</ol>
