<section class="tab powers scrollable {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <div class="block">
    <div class="spells block">
      <div class="list-section-heading">{{localize "torgeternity.sheetLabels.spells"}}</div>
      <ol class="item-list">
        {{#each spell as |item id|}}
          <li class="item block" data-item-id="{{item._id}}">
            <div class="item-row flexrow">
              <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
              <div class="item-controls">
                <a class="item-control item-powerRoll" data-action="itemPowerRoll"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.spellRoll'}}">
                  <i class="fas fa-dice-d20"></i>
                </a>
                <a class="item-control item-tochat" data-action="itemToChat"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                  <i class="fas fa-comment"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" data-action="itemDelete"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>

            <div class="item-detail">
              <div class="item-dropdown-description">
                {{{item.description}}}
              </div>
              {{#if item.system.category}}
                <div class="item-dropdown-extras">
                  {{item.system.category}}
                </div>
              {{/if}}
              {{#if item.system.cosm}}
                <div class="item-dropdown-extras">
                  {{item.system.cosm}}
                </div>
              {{/if}}
              {{#if item.traitDesc}}
                <div class="item-dropdown-extras"> {{item.traitDesc}} </div>
              {{/if}}
              {{#if item.system.timestaken}}
                <div class="item-dropdown-extras">
                  {{item.system.timestaken}}x
                </div>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
    <div class="miracles block">
      <div class="list-section-heading">{{localize "torgeternity.sheetLabels.miracles"}}</div>
      <ol class="item-list">
        {{#each miracle as |item id|}}
          <li class="item block" data-item-id="{{item._id}}">
            <div class="item-row flexrow">
              <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
              <div class="item-controls">
                <a class="item-control item-powerRoll" data-action="itemPowerRoll"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.miracleRoll'}}">
                  <i class="fas fa-dice-d20"></i>
                </a>
                <a class="item-control item-tochat" data-action="itemToChat"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                  <i class="fas fa-comment"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" data-action="itemDelete"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>

            <div class="item-detail">
              <div class="item-dropdown-description">
                {{{item.description}}}
              </div>

              {{#if item.system.category}}
                <div class="item-dropdown-extras">
                  {{item.system.category}}
                </div>
              {{/if}}
              {{#if item.system.cosm}}
                <div class="item-dropdown-extras">
                  {{item.system.cosm}}
                </div>
              {{/if}}
              {{#if item.traitDesc}}
                <div class="item-dropdown-extras"> {{item.traitDesc}} </div>
              {{/if}}
              {{#if item.system.timestaken}}
                <div class="item-dropdown-extras">
                  {{item.system.timestaken}}x
                </div>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
    <div class="psionic block">
      <div class="list-section-heading">{{localize "torgeternity.sheetLabels.psionicPowers"}}</div>
      <ol class="item-list">
        {{#each psionicpower as |item id|}}
          <li class="item block" data-item-id="{{item._id}}">

            <div class="item-row flexrow">
              <img src="{{item.img}}" data-tooltip="{{item.name}}" />
              <a class="item-name" data-action="itemName" data-drag="true">{{item.name}}</a>
              <div class="item-controls">
                <a class="item-control item-powerRoll" data-action="itemPowerRoll"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.psionicRoll'}}">
                  <i class="fas fa-dice-d20"></i>
                </a>
                <a class="item-control item-tochat" data-action="itemToChat"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.sendToChat'}}">
                  <i class="fas fa-comment"></i>
                </a>
                <a class="item-control item-edit" data-action="itemEdit"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.edit'}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" data-action="itemDelete"
                  data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>

            <div class="item-detail">
              <div class="item-dropdown-description">
                {{{item.description}}}
              </div>
              {{#if item.system.category}}
                <div class="item-dropdown-extras">
                  {{item.system.category}}
                </div>
              {{/if}}
              {{#if item.system.cosm}}
                <div class="item-dropdown-extras">
                  {{item.system.cosm}}
                </div>
              {{/if}}
              {{#if item.traitDesc}}
                <div class="item-dropdown-extras"> {{item.traitDesc}} </div>
              {{/if}}
              {{#if item.system.timestaken}}
                <div class="item-dropdown-extras">
                  {{item.system.timestaken}}x
                </div>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>
</section>