<div class="skills">
    <h2 class="skill-edit-toggle" title="Toggle Skill Display"><a>{{localize "torgeternity.sheetLabels.skills"}}</a> </h2>
    <ul>
        <li class="dark">
            <span></span>
            <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
            <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
            <span>{{localize "torgeternity.sheetLabels.total"}}</span>
        </li>
        {{#if data.editstate}}
        {{#each data.skills as |content name|}}
        <li>
            <span>
                <a 
                    class="skill-roll" 
                    data-testType="skill" 
                    data-baseAttribute="{{content.baseAttribute}}" 
                    data-adds="{{content.adds}}" 
                    data-value="{{content.value}}" 
                    data-unskilledUse="{{content.unskilledUse}}" 
                    data-name="{{localize (concatSkillName name)}}"
                    >
                    {{localize (concatSkillName name)}}
                </a>            
            </span>
            <span class="skill-roll skillAttr">
                {{localize (concatAttributeName content.baseAttribute)}}
            </span>
            <span class="skillAdd">
                <input name="data.skills.{{name}}.adds" type="number" value="{{content.adds}}" data-dtype="Number" />
            </span>
            <span class="skill-roll">
                {{content.value}}
            </span>
        </li>
        {{/each}}
        {{else}}
        {{#each data.skills as |content name|}}
        {{#if content.adds}}
        <li>
            <span>
                <a 
                    class="skill-roll" 
                    data-testType="skill" 
                    data-baseAttribute="{{content.baseAttribute}}" 
                    data-adds="{{content.adds}}" 
                    data-value="{{content.value}}" 
                    data-unskilledUse="{{content.unskilledUse}}" 
                    data-name="{{localize (concatSkillName name)}}"
                    >
                    {{localize (concatSkillName name)}}
                </a>            
            </span>
            <span class="skill-roll skillAttr">
                {{localize (concatAttributeName content.baseAttribute)}}
            </span>
            <span class="skillAdd">
                <input name="data.skills.{{name}}.adds" type="number" class="small-input" value="{{content.adds}}"
                    data-dtype="Number" />
            </span>
            <span class="skill-roll">
                {{content.value}}
            </span>
        </li>
        {{/if}}
        {{/each}}
        {{/if}}
        </li>
    </ul>
</div>