<div class="skills">
  <h2 class="skill-edit-toggle" {{#if editable}}data-action="skillEditToggle" {{/if}}
    {{#if editable}}data-tooltip="torgeternity.sheetLabels.toggleSkillDisplay" {{/if}}>
    <a {{disabled (not @root.editable)}}>{{localize "torgeternity.sheetLabels.skills"}}</a>
  </h2>
  {{#*inline "skillRow" content name attrTypes}}
    <li>
      <span>
        <a
          class="skill-roll draggable" data-action="skillRoll"
          data-tooltip="torgeternity.sheetLabels.skillRollHint"
          data-testtype="skill"
          data-baseattribute="{{content.baseAttribute}}"
          data-adds="{{content.adds}}"
          data-value="{{content.value}}"
          data-unskilleduse="{{content.unskilledUse}}"
          {{disabled (not @root.editable)}}
          data-name="{{name}}">
          {{localize (concat 'torgeternity.skills.' name)}}
        </a>
      </span>
      <span class="skill-line skillAttr">
        <select name="system.skills.{{name}}.baseAttribute">
          {{selectOptions attrTypes selected=content.baseAttribute localize=true sort=true}}
        </select>
      </span>
      <span class="skillAdd">
        <input
          name="system.skills.{{name}}.adds"
          type="number"
          value="{{content.adds}}"
          data-dtype="Number" />
      </span>
      <input class="skill-line" placeholder="-" value="{{content.value}}" disabled />
      <span>
        <a class="toggleFav {{checked content.isFav}}" {{disabled (not @root.editable)}}>
          <i class="far fa-star"></i>
        </a>
        <input
          class="favCheck"
          type="checkbox"
          name="system.skills.{{name}}.isFav"
          {{checked content.isFav}}
          data-dtype="Boolean" />
      </span>
    </li>
  {{/inline}}
  {{#*inline "customSkillRow" content name}}
    <li>
      <span>
        <a
          class="skill-roll draggable" data-action="skillRoll"
          data-tooltip="torgeternity.sheetLabels.skillRollHint"
          data-testtype="skill"
          data-customskill="true"
          data-baseattribute="{{content.system.baseAttribute}}"
          data-adds="{{content.system.adds}}"
          data-value="{{content.system.value}}"
          data-unskilleduse="0"
          {{disabled (not @root.editable)}}
          data-name="{{content.name}}"
          data-isfav="{{content.system.isFav}}">
          {{content.name}}
        </a>
      </span>
      <span class="skill-line skillAttr">
        <select name="items.{{content.id}}.system.baseAttribute">
          {{selectOptions attrTypes selected=content.system.baseAttribute localize=true sort=true}}
        </select>
      </span>
      <span class="skillAdd">
        <input
          name="items.{{content.id}}.system.adds"
          type="number"
          value="{{content.system.adds}}"
          data-dtype="Number" />
      </span>
      <input class="skill-line" placeholder="-" value="{{content.system.value}}" disabled />
      <span>
        <a class="toggleFav {{checked content.system.isFav}}" {{disabled (not @root.editable)}}>
          <i class="far fa-star"></i>
        </a>
        <input
          class="favCheck"
          type="checkbox"
          name="items.{{content.id}}.system.isFav"
          {{checked content.system.isFav}}
          data-dtype="Boolean" />
      </span>
    </li>
  {{/inline}}

  <!-- Combat skills -->
  <ul class="skill-list">
    <li class="dark">
      <span>{{localize "torgeternity.sheetLabels.combatSkills"}}</span>
      <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
      <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
      <span>{{localize "torgeternity.sheetLabels.total"}}</span>
      <span>{{localize "torgeternity.sheetLabels.favored"}}</span>
    </li>
    {{#each document.system.skills as |content name|}}
      {{#if (eq content.groupName "combat")}}
        {{#if (or ../document.system.editstate content.adds)}}
          {{> skillRow content=content name=name attrTypes=../config.attributeTypes}}
        {{/if}}
      {{/if}}
    {{/each}}
  </ul>
  <ul class="skill-list">
    <!-- Interaction skills -->
    <li class="dark">
      <span>{{localize "torgeternity.sheetLabels.interactionSkills"}}</span>
      <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
      <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
      <span>{{localize "torgeternity.sheetLabels.total"}}</span>
      <span>{{localize "torgeternity.sheetLabels.favored"}}</span>
    </li>
    {{#each document.system.skills as |content name|}}
      {{#if (eq content.groupName "interaction")}}
        {{#if (or ../document.system.editstate content.adds)}}
          {{> skillRow content=content name=name attrTypes=../config.attributeTypes}}
        {{/if}}
      {{/if}}
    {{/each}}
  </ul>
  <ul class="skill-list">
    <!-- Other skills (and custom skills) -->
    <li class="dark">
      <span>{{localize "torgeternity.sheetLabels.otherSkills"}}</span>
      <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
      <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
      <span>{{localize "torgeternity.sheetLabels.total"}}</span>
      <span>{{localize "torgeternity.sheetLabels.favored"}}</span>
    </li>
    {{#each document.system.skills as |content name|}}
      {{#if (eq content.groupName "other")}}
        {{#if (or ../document.system.editstate content.adds)}}
          {{> skillRow content=content name=name attrTypes=../config.attributeTypes}}
        {{/if}}
      {{/if}}
    {{/each}}
    {{#each customSkill as | content name|}}
      {{> customSkillRow content=content name=name attrTypes=../config.attributeTypes}}
    {{/each}}
  </ul>
</div>