<h2>{{localize 'torgeternity.sheetLabels.attacks'}}</h2>
<div class="interaction-attack-list">
  <a
    class="unarmed-attack draggable" data-action="unarmedAttack" {{disabled (not @root.editable)}}
    data-name="unarmedCombat"
    data-base-attribute="dexterity"
    data-adds="{{document.system.skills.unarmedCombat.adds}}"
    data-skill-value="{{document.system.skills.unarmedCombat.value}}"
    data-damage="{{document.unarmed.damage}}">
    {{localize 'torgeternity.sheetLabels.unarmed'}}
  </a>
  &bull;
  <a
    class="interaction-attack draggable" data-action="interactionAttack" {{disabled (not @root.editable)}}
    data-name="intimidation"
    data-base-attribute="spirit"
    data-adds="{{document.system.skills.intimidation.adds}}"
    data-skill-value="{{document.system.skills.intimidation.value}}">
    {{localize 'torgeternity.skills.intimidation'}}
  </a>
  &bull;
  <a
    class="interaction-attack draggable" data-action="interactionAttack" {{disabled (not @root.editable)}}
    data-name="maneuver"
    data-base-attribute="dexterity"
    data-adds="{{document.system.skills.maneuver.adds}}"
    data-skill-value="{{document.system.skills.maneuver.value}}">
    {{localize 'torgeternity.skills.maneuver'}}
  </a>
  &bull;
  <a
    class="interaction-attack draggable" data-action="interactionAttack" {{disabled (not @root.editable)}}
    data-name="taunt"
    data-base-attribute="charisma"
    data-adds="{{document.system.skills.taunt.adds}}"
    data-skill-value="{{document.system.skills.taunt.value}}">
    {{localize 'torgeternity.skills.taunt'}}
  </a>
  &bull;
  <a
    class="interaction-attack draggable" data-action="interactionAttack" {{disabled (not @root.editable)}}
    data-name="trick"
    data-base-attribute="mind"
    data-adds="{{document.system.skills.trick.adds}}"
    data-skill-value="{{document.system.skills.trick.value}}">
    {{localize 'torgeternity.skills.trick'}}
  </a>
</div>
{{#if meleeweapons}}
  <h3>{{localize 'torgeternity.sheetLabels.meleeWeapons'}}</h3>
  <div class="item-list">
    {{#each meleeweapons as |item id|}}
      <li class="item draggable" data-item-id="{{item._id}}">
        <div>
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        </div>
        <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
        <div class="item-controls">
          <a
            class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
            <i class="fas fa-dice-d20"></i>
          </a>
          <a class="item-control item-edit" data-action="itemEdit"
            data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </div>
{{/if}} {{#if missileweapon}}
  <h3>{{localize 'torgeternity.sheetLabels.missileWeapons'}}</h3>
  <div class="item-list">
    {{#each missileweapon as |item id|}}
      <li class="item draggable" data-item-id="{{item._id}}">
        <div>
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        </div>
        <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
        <div class="item-controls">
          <a
            class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
            <i class="fas fa-dice-d20"></i>
          </a>
          <a class="item-control item-edit" data-action="itemEdit"
            data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
            <i class="fas fa-edit"></i>
          </a>
          {{#if (not ../ignoreAmmo)}}
            <a class="item-control" data-weapon="{{item}}" {{disabled (not @root.editable)}}
              data-tooltip="{{localize 'torgeternity.iconeTitles.reload'}}">
              <i class="fa-solid fa-bullseye reload-weapon" data-action="reloadWeapon"></i>
            </a>
          {{/if}}
          <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </div>
{{/if}} {{#if firearm}}
  <h3>{{localize 'torgeternity.sheetLabels.firearms'}}</h3>
  <div class="item-list">
    {{#each firearm as |item id|}}
      <li class="item draggable" data-item-id="{{item._id}}">
        <div>
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        </div>
        <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
        <div class="item-controls">
          <a
            class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
            <i class="fas fa-dice-d20"></i>
          </a>
          <a class="item-control item-edit" data-action="itemEdit"
            data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
            <i class="fas fa-edit"></i>
          </a>
          {{#if (not ../ignoreAmmo)}}
            <a class="item-control" data-weapon="{{item}}" {{disabled (not @root.editable)}}
              data-tooltip="{{localize 'torgeternity.iconeTitles.reload'}}">
              <i class="fa-solid fa-bullseye reload-weapon" data-action="reloadWeapon"></i>
            </a>
          {{/if}}
          <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </div>
{{/if}} {{#if heavyweapon}}
  <h3>{{localize 'torgeternity.sheetLabels.heavyWeapons'}}</h3>
  <div class="item-list">
    {{#each heavyweapon as |item id|}}
      <li class="item draggable" data-item-id="{{item._id}}">
        <div>
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        </div>
        <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
        <div class="item-controls">
          <a
            class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
            <i class="fas fa-dice-d20"></i>
          </a>
          <a class="item-control item-edit" data-action="itemEdit"
            data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
            <i class="fas fa-edit"></i>
          </a>
          {{#if (not ../ignoreAmmo)}}
            <a class="item-control" data-weapon="{{item}}" {{disabled (not @root.editable)}}
              data-tooltip="{{localize 'torgeternity.iconeTitles.reload'}}">
              <i class="fa-solid fa-bullseye reload-weapon" data-action="reloadWeapon"></i>
            </a>
          {{/if}}
          <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </div>

{{/if}} {{#if spell}}
  <h3>{{localize 'torgeternity.sheetLabels.spells'}}</h3>
  <div class="item-list">
    {{#each spell as |item id|}}
      <li class="item draggable" data-item-id="{{item._id}}">
        <div>
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        </div>
        <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
        <div class="item-controls">
          <a
            class="item-control item-powerRoll" data-action="itemPowerRoll" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.spellRoll"}}'>
            <i class="fas fa-dice-d20"></i>
          </a>
          <a class="item-control item-edit" data-action="itemEdit"
            data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </div>
{{/if}} {{#if miracle}}
  <h3>{{localize 'torgeternity.sheetLabels.miracles'}}</h3>
  <div class="item-list">
    {{#each miracle as |item id|}}
      <li class="item draggable" data-item-id="{{item._id}}">
        <div>
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        </div>
        <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
        <div class="item-controls">
          <a
            class="item-control item-powerRoll" data-action="itemPowerRoll" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.miracleRoll"}}'>
            <i class="fas fa-dice-d20"></i>
          </a>
          <a class="item-control item-edit" data-action="itemEdit"
            data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </div>

{{/if}} {{#if psionicpower}}
  <h3>{{localize 'torgeternity.sheetLabels.psionicPowers'}}</h3>
  <div class="item-list">
    {{#each psionicpower as |item id|}}
      <li class="item draggable" data-item-id="{{item._id}}">
        <div>
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        </div>
        <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
        <div class="item-controls">
          <a
            class="item-control item-powerRoll" data-action="itemPowerRoll" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.psionicRoll"}}'>
            <i class="fas fa-dice-d20"></i>
          </a>
          <a class="item-control item-edit" data-action="itemEdit"
            data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </div>
{{/if}} {{#if customAttack}}
  <h3>{{localize 'torgeternity.sheetLabels.otherAttacks'}}</h3>
  <div class="item-list">
    {{#each customAttack as |item id|}}
      <li class="item draggable" data-item-id="{{item._id}}">
        <div>
          <img src="{{item.img}}" data-tooltip="{{item.name}}" />
        </div>
        <span class="item-name {{TorgDisconnected item}}" data-action="itemName">{{item.name}}</span>
        <div class="item-controls">
          <a
            class="item-control item-attackRoll" data-action="itemAttackRoll" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.attackRoll"}}'>
            <i class="fas fa-dice-d20"></i>
          </a>
          <a class="item-control item-edit" data-action="itemEdit"
            data-tooltip='{{localize "torgeternity.iconeTitles.edit"}}'>
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-control item-delete" data-action="itemDelete" {{disabled (not @root.editable)}}
            data-tooltip='{{localize "torgeternity.iconeTitles.delete"}}'>
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </div>
{{/if}}