<h2>
    Weapons
</h2>
<h3>melee weapon</h3>
<div class="item-list">
    {{#each meleeweapons as |item id|}}
    <li class="item" data-item-id="{{item._id}}">

        <div>
            <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
            
        </div>
       <span class="item-name">{{item.name}} </span>
        <div class="item-controls">
            <a class="item-control item-attackRoll" title="Attack Roll"><i class="fas fa-dice-d20"></i></a>
            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</div>
<h3>missile weapon</h3>
<div class="item-list">
    {{#each missileweapon as |item id|}}
     <li class="item" data-item-id="{{item._id}}">

        <div>
            <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
            
        </div>
        <span class="item-name">{{item.name}}</span>
        <div class="item-controls">
            <a class="item-control item-attackRoll" title="Attack Roll"><i class="fas fa-dice-d20"></i></a>
            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</div>
<h3>firearm</h3>
<ol class="item-list">
       

    {{#each firearm as |item id|}}
     <li class="item" data-item-id="{{item._id}}">

        <div>
            <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
           
        </div>
         <span class="item-name">{{item.name}} </span>
        <div class="item-controls">
            <a class="item-control item-attackRoll" title="Attack Roll"><i class="fas fa-dice-d20"></i></a>
            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</div>
 <h3>heavy weapons</h3>
<div class="item-list">
        

    {{#each heavyweapon as |item id|}}
     <li class="item" data-item-id="{{item._id}}">

        <div>
            <img src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
           
        </div>
        <span class="item-name">{{item.name}}</span>
        <div class="item-controls">
            <a class="item-control item-attackRoll" title="Attack Roll"><i class="fas fa-dice-d20"></i></a>
            <a class="item-control item-bonusRoll" title="Bonus Roll"><i class="fas fa-dice-d6"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</div>