    <p class="item-data-label">
        {{localize "torgeternity.sheetLabels.clearance"}} : {{localize (concatClearanceLevel data.details.clearance)}}
    </p>
    
    <p class='attribut-block'>
        <span class="main-label">{{localize "torgeternity.sheetLabels.unspent"}}</span>
        <input class="roundBack"name="data.xp.unspent" type="number" value="{{data.xp.unspent}}" data=dtype="Number" />

    </p>
    <p class='attribut-block'>
        <span class="main-label">{{localize "torgeternity.sheetLabels.xp"}}</span>
        <input name="data.xp.earned" class="roundBack" type="number" value="{{data.xp.earned}}" data=dtype="Number" />

    </p>