<p class="item-data-label">
    {{localize "torgeternity.sheetLabels.clearance"}} : {{actor.system.details.clearanceTranslated}}
</p>

<p class='attribut-block'>
    <span class="main-label">{{localize "torgeternity.sheetLabels.unspent"}}</span>
    <input class="roundBack" name="system.xp.unspent" type="number" value="{{actor.system.xp.unspent}}" data=dtype="Number"
        {{#if disableXP}} disabled data-tooltip="{{localize 'torgeternity.sheetLabels.xpOnlyGM'}}" {{/if}} />
</p>

<p class='attribut-block'>
    <span class="main-label">{{localize "torgeternity.sheetLabels.xp"}}</span>
    <input name="system.xp.earned" class="roundBack" type="number" value="{{actor.system.xp.earned}}" data=dtype="Number"
        {{#if disableXP}} disabled data-tooltip="{{localize 'torgeternity.sheetLabels.xpOnlyGM'}}" {{/if}} />
</p>